<div class="comments-container">
	<h2>Vos réactions (<span class="comment-count">{{ comments|length }}</span>)</h2>

	{% include 'MVNerdsCommentBundle:Common:comments_list.html.twig' with {'comments': comments} %}

	{% include 'MVNerdsCommentBundle:Common:add_comment_block.html.twig' %}
</div>

<script type="text/javascript" src="{{ asset('js/comment/comment.js') }}"></script>
