<div id="modal-video-publish" class="modal hide fade">
	<div class="modal-header">
		<i class="icon-remove" data-dismiss="modal"></i>
		<h3>Publier une vidéo</h3>
	</div>
	<div class="modal-body">
		
			<p>
				Veuillez remplir le formulaire suivant afin de publier votre vidéo.
			</p>
		
			<form id="video-publish-form" action="#">
				<label for="video-publish-title">Titre<span class="label">*</span></label> <input type="text" id="video-publish-title" name="title"/>
				
				<label for="video-publish-title">Catégorie<span class="label">*</span></label> 
				<select id="video-publish-category">
					<option value="">Fun</option>
					<option value="">Tuto</option>
				</select>
				
				<label for="video-publish-description">Description</label> <textarea name="description" id="video-publish-description"></textarea>
			</form>
	</div>
	<div class="modal-footer">
		<i class="icon-spinner icon-spin hide" id="modal-dl-loading-img"></i>
		<a href="#" data-dismiss="modal" class="btn-cancel btn">{{'create_item_build.modal_dl_build.btn.cancel'|trans}}</a>
		<a href="#" id="modal-btn-download" data-target="" class="btn-download btn red"><i class="icon-download-alt"></i> {{'create_item_build.modal_dl_build.btn.download'|trans}}</a>
	</div>
</div>