<div id="modal-video-publish" class="modal hide fade">
	<div class="modal-header">
		<i class="icon-remove" data-dismiss="modal"></i>
		<h3>Publier une vidéo</h3>
	</div>
	<div class="modal-body">
		
			<p>
				Veuillez remplir le formulaire suivant afin de publier votre vidéo.
			</p>
		
			<form id="video-publish-form" action="#">
				<label for="video-publish-title">Titre<sup>*</sup></label> <input type="text" id="video-publish-title" name="title"/><br /><br />
				
				<label for="video-publish-category">Catégorie<sup>*</sup></label> 
				<select id="video-publish-category">
					<option value="1">Fun</option>
					<option value="2">Tuto</option>
				</select><br /><br />
				
				<label for="video-publish-link">Lien de la vidéo<sup>*</sup></label> <input type="text" id="video-publish-link" name="title"/><br /><br />
				
				<label for="video-publish-description">Description</label> <textarea name="description" id="video-publish-description"></textarea><br /><br />
			</form>
	</div>
	<div class="modal-footer">
		<i class="icon-spinner icon-spin hide" id="modal-dl-loading-img"></i>
		<a href="#" data-dismiss="modal" class="btn-cancel btn">{{'create_item_build.modal_dl_build.btn.cancel'|trans}}</a>
		<a href="#" id="modal-btn-publish" data-target="" class="btn-download btn red"><i class="icon-upload-alt"></i> Publier</a>
	</div>
</div>