<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
    	<a class="brand" href="#">Most Valuable Nerds</a>
    	<ul class="nav">
      		<li{% if section == 'users' %} class="active"{% endif %}><a href="{{ path('admin_users_index') }}">Utilisateurs</a></li>
      		<li{% if section == 'champions' %} class="active"{% endif %}><a href="{{ path('admin_champions_index') }}">Champions</a></li>
      		<li{% if section == 'tags' %} class="active"{% endif %}><a href="{{ path('admin_tags_index') }}">Tags</a></li>
    	</ul>
  	</div>
</div>