<div id="topbar">
	<div class="container">
		<ul class="menu">
			<li class="home">
				<a href="#"><i class="icon-home"></i></a>
			</li>
			<li>
				<a href="#" class="active">Champion Benchmark</a>
			</li>
			<li>
				<a href="#">Pimp My Recommended Items</a>
			</li>
			<li>
				<a href="#">Most Valuable News</a>
			</li>
			<li>
				<a href="#"><strong>Plus</strong></a>
			</li>
		</ul>
			
		<ul class="right-container">
			<li class="alert">
				<a href="#" class="unread"><i class="icon-info-sign"></i></a>
			</li>
			<li class="notification">
				<i class="icon-exclamation-sign"></i>
			</li>
			<li class="user-container">
				<a href="#">se connecter</a> ou <a href="#">s'enregistrer</a>
			</li>
		</ul>
		
	</div>
</div>
