.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
div.body-container {
  color: #fff;
}
div.body-container.list-news {
  background-color: #000;
  padding: 20px;
  margin-bottom: 20px;
  min-height: 500px;
}
div.body-container h1 {
  color: #19a0df;
  margin-bottom: 50px;
}
div.body-container h2 {
  color: #fb9701;
}
div.body-container p {
  color: #eee;
}
div.body-container div#pmri-tabed-list {
  background-color: #000;
  padding: 20px;
  margin-bottom: 20px;
  min-height: 435px;
}
div.body-container div#pmri-tabed-list ul#tabed-builds {
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  padding: 0;
}
div.body-container div#pmri-tabed-list ul#tabed-builds li {
  margin-right: 5px;
}
div.body-container div#pmri-tabed-list ul#tabed-builds li.active a {
  background-color: #19a0df;
  color: white;
  font-weight: bold;
}
div.body-container div#pmri-tabed-list ul#tabed-builds a {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  color: #666;
}
div.body-container div#pmri-tabed-list ul#tabed-builds a:hover {
  background-color: #116f9a;
  -webkit-transition: background-color 0.25s linear;
  -moz-transition: background-color 0.25s linear;
  -o-transition: background-color 0.25s linear;
  transition: background-color 0.25s linear;
  color: white;
}
table#news-table {
  margin: 20px 0 15px 0;
}
table#news-table thead tr {
  cursor: pointer;
  height: 30px;
  margin: 40px 0 0 0;
}
table#news-table thead tr th {
  color: #eee;
  cursor: default;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
}
table#news-table tbody tr {
  color: #aaa;
  background-color: #141414;
}
table#news-table tbody tr:hover {
  background-color: #222;
}
table#news-table tbody tr td {
  border: 0;
  border-bottom: 4px solid #000;
  cursor: default;
  font-family: 'Ubuntu', sans-serif;
  height: 30px;
  line-height: 32px;
  text-align: left;
}
table#news-table tbody tr td div {
  margin: 0 auto;
}
table#news-table tbody tr td a {
  color: #aaa;
}
table#news-table tbody tr td a:hover {
  text-decoration: underline;
}
table#news-table tbody tr td a.view-action {
  text-align: center;
  text-decoration: none;
}
table#news-table tbody tr td span {
  color: #666;
}
table#news-table tbody tr td span.view-count-block {
  display: inline-block;
  font-size: 10px;
  font-weight: bold;
  line-height: 1em;
  margin-left: 10px;
  position: relative;
  top: 4px;
}
table#news-table tbody tr td span.view-count-block strong {
  display: block;
}
table#news-table tbody tr td span i {
  color: #666;
  font-size: 16px;
  margin: 0 5px;
}
a.action {
  background-color: #be3322;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  line-height: 1.4em;
  padding: 3px;
  width: 30px;
}
a.action i {
  color: #fff;
}
a.action:hover {
  background-color: #db4a38;
  -webkit-transition: background-color 0.25s linear;
  -moz-transition: background-color 0.25s linear;
  -o-transition: background-color 0.25s linear;
  transition: background-color 0.25s linear;
}
div.dataTables_info {
  color: #666;
  cursor: default;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  text-align: right;
}
div.dataTables_paginate {
  text-align: center;
}
div.dataTables_paginate ul {
  border: 0;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px !important;
  margin: 0;
  padding: 0;
}
div.dataTables_paginate ul li {
  border: 0;
  display: inline-block;
  height: 29px;
  margin: 0 4px;
  position: relative;
  top: -1px;
}
div.dataTables_paginate ul li.active a {
  background-color: #658816;
  color: #fff;
  font-weight: bold;
}
div.dataTables_paginate ul li.active a:hover {
  background-color: #759e1a;
  -webkit-transition: background-color 0.25s linear;
  -moz-transition: background-color 0.25s linear;
  -o-transition: background-color 0.25s linear;
  transition: background-color 0.25s linear;
}
div.dataTables_paginate ul li.prev,
div.dataTables_paginate ul li.next {
  top: 0;
  border: 1px solid #658816;
}
div.dataTables_paginate ul li.prev.disabled,
div.dataTables_paginate ul li.next.disabled {
  border: 1px solid #333;
}
div.dataTables_paginate ul li.prev.disabled:hover,
div.dataTables_paginate ul li.next.disabled:hover {
  border-color: #333;
}
div.dataTables_paginate ul li.prev.disabled:hover a,
div.dataTables_paginate ul li.next.disabled:hover a {
  color: #333;
}
div.dataTables_paginate ul li.prev.disabled a,
div.dataTables_paginate ul li.next.disabled a {
  color: #333;
}
div.dataTables_paginate ul li.prev:hover,
div.dataTables_paginate ul li.next:hover {
  border-color: #759e1a;
  -webkit-transition: border-color 0.25s linear;
  -moz-transition: border-color 0.25s linear;
  -o-transition: border-color 0.25s linear;
  transition: border-color 0.25s linear;
}
div.dataTables_paginate ul li.prev:hover a,
div.dataTables_paginate ul li.next:hover a {
  background-color: black;
  color: #759e1a;
  -webkit-transition: color 0.25s linear;
  -moz-transition: color 0.25s linear;
  -o-transition: color 0.25s linear;
  transition: color 0.25s linear;
}
div.dataTables_paginate ul li.prev a,
div.dataTables_paginate ul li.next a {
  color: #557213;
  padding: 5px 4px;
  text-align: center;
  width: 94px;
}
div.dataTables_paginate ul li a {
  background-color: #000;
  border: 0;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  color: #759e1a;
  display: block;
  font-size: 14px;
  line-height: 1.4em;
  padding: 5px 7px;
}
div.dataTables_paginate ul li a:hover {
  background-color: #222;
  -webkit-transition: background-color 0.25s linear;
  -moz-transition: background-color 0.25s linear;
  -o-transition: background-color 0.25s linear;
  transition: background-color 0.25s linear;
}
.search-box i {
  font-size: 18px;
  position: relative;
  top: 2px;
}
.search-box input[type="text"] {
  background-color: #222;
  border: 0;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  color: #eee;
  font-family: 'Ubuntu', sans-serif;
  margin: 0 0 0 5px;
  width: 165px;
}
.search-box input[type="text"]:hover,
.search-box input[type="text"]:focus {
  background-color: #333;
  -webkit-transition: background-color 0.25s linear;
  -moz-transition: background-color 0.25s linear;
  -o-transition: background-color 0.25s linear;
  transition: background-color 0.25s linear;
}
