.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
div.body-container {
  color: #fff;
}
div.body-container.list-news {
  background-color: #000;
  margin-bottom: 20px;
  min-height: 500px;
  padding: 20px;
}
div.body-container h1 {
  color: #19a0df;
  margin-bottom: 50px;
}
div.body-container p {
  color: #eee;
  margin: 0;
}
table#news-table {
  margin: 0;
}
table#news-table thead {
  height: 10px;
}
table#news-table tr {
  display: inline-block;
  margin-bottom: 10px;
  vertical-align: top;
  width: 487px;
}
table#news-table tr.odd {
  margin-right: 10px;
}
table#news-table tr:hover td {
  background-color: #222;
  border-right-color: #db4a38;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
table#news-table tr:hover td.header h2 a {
  color: #fb9701;
  -webkit-transition: color 0.25s linear;
  -moz-transition: color 0.25s linear;
  -o-transition: color 0.25s linear;
  transition: color 0.25s linear;
}
table#news-table tr:hover td.content p.preview {
  color: #eee;
  -webkit-transition: color 0.25s linear;
  -moz-transition: color 0.25s linear;
  -o-transition: color 0.25s linear;
  transition: color 0.25s linear;
}
table#news-table tr td {
  background-color: #141414;
  border: 0;
  border-right: 3px solid #be3322;
  display: block;
  padding: 0 10px;
}
table#news-table tr td.header {
  padding-top: 10px;
}
table#news-table tr td.header h2 {
  line-height: 1em;
  margin: 0;
}
table#news-table tr td.header h2 a {
  color: #af6901;
  font-size: 20px;
}
table#news-table tr td.content {
  min-height: 461px;
  padding-bottom: 10px;
  position: relative;
}
table#news-table tr td.content p {
  cursor: default;
}
table#news-table tr td.content p.subtitle {
  color: #666;
  font-size: 12px;
  margin: 0;
}
table#news-table tr td.content p.subtitle a {
  color: #116f9a;
}
table#news-table tr td.content p.subtitle a:hover {
  color: #19a0df;
  -webkit-transition: color 0.25s linear;
  -moz-transition: color 0.25s linear;
  -o-transition: color 0.25s linear;
  transition: color 0.25s linear;
}
table#news-table tr td.content p.subtitle strong {
  color: #557213;
}
table#news-table tr td.content p.image-preview {
  margin-top: 30px;
  text-align: center;
}
table#news-table tr td.content p.image-preview img {
  border: 1px solid #666;
  display: inline-block;
  padding: 2px;
  height: 250px;
}
table#news-table tr td.content p.preview {
  color: #aaa;
  font-size: 14px;
  margin-top: 20px;
}
table#news-table tr td.content p.actions {
  bottom: 15px;
  color: #999;
  font-size: 12px;
  margin: 0;
  position: absolute;
  right: 15px;
}
table#news-table tr td.content p.actions a.btn-read-more {
  background-color: #658816;
  color: white;
  display: inline-block;
  font-weight: bold;
  margin-left: 10px;
  padding: 10px 15px;
  text-transform: uppercase;
}
table#news-table tr td.content p.actions a.btn-read-more:hover {
  background-color: #759e1a;
  -webkit-transition: background-color 0.25s linear;
  -moz-transition: background-color 0.25s linear;
  -o-transition: background-color 0.25s linear;
  transition: background-color 0.25s linear;
}
a.action {
  background-color: #be3322;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  line-height: 1.4em;
  padding: 3px;
  width: 30px;
}
a.action i {
  color: #fff;
}
a.action:hover {
  background-color: #db4a38;
  -webkit-transition: background-color 0.25s linear;
  -moz-transition: background-color 0.25s linear;
  -o-transition: background-color 0.25s linear;
  transition: background-color 0.25s linear;
}
div.dataTables_info {
  color: #666;
  cursor: default;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  text-align: right;
}
div.dataTables_paginate {
  text-align: center;
}
div.dataTables_paginate ul {
  border: 0;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px !important;
  margin: 0;
  padding: 0;
}
div.dataTables_paginate ul li {
  border: 0;
  display: inline-block;
  height: 29px;
  margin: 0 4px;
  position: relative;
  top: -1px;
}
div.dataTables_paginate ul li.active a {
  background-color: #658816;
  color: #fff;
  font-weight: bold;
}
div.dataTables_paginate ul li.active a:hover {
  background-color: #759e1a;
  -webkit-transition: background-color 0.25s linear;
  -moz-transition: background-color 0.25s linear;
  -o-transition: background-color 0.25s linear;
  transition: background-color 0.25s linear;
}
div.dataTables_paginate ul li.prev,
div.dataTables_paginate ul li.next {
  top: 0;
  border: 1px solid #658816;
}
div.dataTables_paginate ul li.prev.disabled,
div.dataTables_paginate ul li.next.disabled {
  border: 1px solid #333;
}
div.dataTables_paginate ul li.prev.disabled:hover,
div.dataTables_paginate ul li.next.disabled:hover {
  border-color: #333;
}
div.dataTables_paginate ul li.prev.disabled:hover a,
div.dataTables_paginate ul li.next.disabled:hover a {
  color: #333;
}
div.dataTables_paginate ul li.prev.disabled a,
div.dataTables_paginate ul li.next.disabled a {
  color: #333;
}
div.dataTables_paginate ul li.prev:hover,
div.dataTables_paginate ul li.next:hover {
  border-color: #759e1a;
  -webkit-transition: border-color 0.25s linear;
  -moz-transition: border-color 0.25s linear;
  -o-transition: border-color 0.25s linear;
  transition: border-color 0.25s linear;
}
div.dataTables_paginate ul li.prev:hover a,
div.dataTables_paginate ul li.next:hover a {
  background-color: black;
  color: #759e1a;
  -webkit-transition: color 0.25s linear;
  -moz-transition: color 0.25s linear;
  -o-transition: color 0.25s linear;
  transition: color 0.25s linear;
}
div.dataTables_paginate ul li.prev a,
div.dataTables_paginate ul li.next a {
  color: #557213;
  padding: 5px 4px;
  text-align: center;
  width: 94px;
}
div.dataTables_paginate ul li a {
  background-color: #000;
  border: 0;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  color: #759e1a;
  display: block;
  font-size: 14px;
  line-height: 1.4em;
  padding: 5px 7px;
}
div.dataTables_paginate ul li a:hover {
  background-color: #222;
  -webkit-transition: background-color 0.25s linear;
  -moz-transition: background-color 0.25s linear;
  -o-transition: background-color 0.25s linear;
  transition: background-color 0.25s linear;
}
.search-box i {
  font-size: 18px;
  position: relative;
  top: 2px;
}
.search-box input[type="text"] {
  background-color: #222;
  border: 0;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  color: #eee;
  font-family: 'Ubuntu', sans-serif;
  margin: 0 0 0 5px;
  width: 165px;
}
.search-box input[type="text"]:hover,
.search-box input[type="text"]:focus {
  background-color: #333;
  -webkit-transition: background-color 0.25s linear;
  -moz-transition: background-color 0.25s linear;
  -o-transition: background-color 0.25s linear;
  transition: background-color 0.25s linear;
}
