.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
p.module-name {
  font-size: 12px;
  margin: 5px 0 40px 0;
  opacity: .7;
  text-transform: uppercase;
}
p.module-name strong {
  color: #fb9701;
}
#news-container,
iframe.markItUpPreviewFrame html body {
  background-color: #000;
  min-height: 528px;
  padding: 20px 20px 10px 20px;
  margin-bottom: 20px;
}
#news-container h1,
iframe.markItUpPreviewFrame html body h1 {
  border-bottom: 1px solid #7c4b00;
  color: #19a0df;
  margin: 0;
  padding: 0 0 5px 0;
}
#news-container h1 em,
iframe.markItUpPreviewFrame html body h1 em {
  color: #666;
  display: inline-block;
  float: right;
  font-family: 'Ubuntu', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: bold;
  margin-left: 10px;
  text-align: right;
  text-transform: uppercase;
}
#news-container h1 em a,
iframe.markItUpPreviewFrame html body h1 em a {
  color: #999;
}
#news-container h1 em a:hover,
iframe.markItUpPreviewFrame html body h1 em a:hover {
  color: #759e1a;
  -webkit-transition: color 0.25s linear;
  -moz-transition: color 0.25s linear;
  -o-transition: color 0.25s linear;
  transition: color 0.25s linear;
}
#news-container p,
iframe.markItUpPreviewFrame html body p {
  color: #eee;
}
#news-container p.posted-by,
iframe.markItUpPreviewFrame html body p.posted-by {
  color: #ccc;
}
#news-container p iframe,
iframe.markItUpPreviewFrame html body p iframe,
#news-container p img:not(.smiley),
iframe.markItUpPreviewFrame html body p img:not(.smiley) {
  display: inline-block;
  margin: 0 auto;
}
#news-container div.center-content,
iframe.markItUpPreviewFrame html body div.center-content {
  text-align: center;
}
#news-container div.media-ressource,
iframe.markItUpPreviewFrame html body div.media-ressource {
  background-color: #141414;
  padding: 20px 0;
  text-align: center;
  width: 100%;
}
#news-container div.news-footer,
iframe.markItUpPreviewFrame html body div.news-footer {
  border-top: 1px solid #7c4b00;
  margin: 10px 0 0 0;
  text-align: right;
}
#news-container div.news-footer p,
iframe.markItUpPreviewFrame html body div.news-footer p {
  margin: 0;
}
#news-container div.news-footer p a,
iframe.markItUpPreviewFrame html body div.news-footer p a {
  color: #666;
  font-size: 12px;
}
#news-container div.news-footer p a:hover,
iframe.markItUpPreviewFrame html body div.news-footer p a:hover {
  color: #759e1a;
  -webkit-transition: color 0.25s linear;
  -moz-transition: color 0.25s linear;
  -o-transition: color 0.25s linear;
  transition: color 0.25s linear;
}
#news-container div.news-footer p a i,
iframe.markItUpPreviewFrame html body div.news-footer p a i {
  color: #759e1a;
  font-size: 12px;
  left: -2px;
  position: relative;
}
#news-container ul,
iframe.markItUpPreviewFrame html body ul,
#news-container ol,
iframe.markItUpPreviewFrame html body ol {
  color: #eee;
}
#news-container blockquote,
iframe.markItUpPreviewFrame html body blockquote {
  color: #eee;
}
#news-container div.prev-next-news,
iframe.markItUpPreviewFrame html body div.prev-next-news {
  margin: 40px 0 0 0;
}
#news-container div.prev-next-news div.news,
iframe.markItUpPreviewFrame html body div.prev-next-news div.news {
  border: 1px solid #444;
  padding: 10px;
}
#news-container div.prev-next-news div.news.next,
iframe.markItUpPreviewFrame html body div.prev-next-news div.news.next {
  text-align: right;
}
