div#sidebar{
	margin: 60px 10px;
	position: fixed;
}

div#comparison-list{
	text-align: center;
	margin-bottom: 0px;
}
div#comparison-list ul li{
	text-align: center;
	height: 30px;
}
div#comparison-list ul li img{
	height: 25px;
}

div#comparison-list a#btn-compare{
	margin-top: 20px;
}

#resize-comparison-list{
	margin-right: 10px;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}

.popover{
	z-index:1050;
}