<div id="item-modal" class="modal hide fade">
	<div class="modal-header">
		<i class="icon-remove" data-dismiss="modal"></i>
	</div>
	<div class="modal-body">
			<div class="item-modal-parents">
				<ul class="item-modal-parent-list"></ul>
			</div>
			
			<div class="item-modal-geneology"></div>
			<div class="clearfix"></div>
			
			<div class="item-modal-detail">
				<div class="row-fluid item-modal-header">
					<div class="span2 item-modal-header-image">
						<img src="" alt="item's image"/>
					</div>
					<div class="span10 item-modal-header-data">
						<div class="row-fluid item-modal-header-name"></div>
						<div class="row-fluid item-modal-header-cost">
							{{'item_popover_cost' | trans}} : <span class="item-modal-header-cost-value"></span>
						</div>
					</div>
				</div>
				<div class="item-modal-detail-body">
					<ul class="item-modal-primary-effects">
					</ul>
					<ul class="item-modal-secondary-effects">
					</ul>
				</div>
			</div>
	</div>
</div>