web/bundles/
app/bootstrap.php.cache
app/cache/*
app/logs/*
build/
/vendor
bin
composer.phar

app/propel/*

src/MVNerds/CoreBundle/Model/om/*
src/MVNerds/CoreBundle/Model/map/*
/app/sf.bat
/nbproject/*

*.orig

web/builds/*.bat

web/js/compiled/
web/css/compiled/
web/medias/js/compiled/
web/medias/css/compiled/

app/config/parameters.yml
/web/medias/js/mvnerds-bootstrap2.js
/web/medias/css/mvnerds-bootstrap2.css
/web/medias/js/mvnerds-bootstrap3.js
/nbproject
