{% extends 'MVNerdsSkeletonBundle:Common:layout.html.twig' %}

{% block css %}
	{{ parent() }}

	<link rel="stylesheet" href="{{ asset('medias/css/feed/feed-list.css') }}">
{% endblock %}
	
{% block main_content %}
	<div class="feeds-container">
		{% include 'MVNerdsSkeletonBundle:Feed:feed_list.html.twig' with {'feeds': feeds} %}
	</div>
{% endblock %}