.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
div.span8.left-content div.form-error {
  color: #db4a38;
  font-weight: bold;
  text-align: center;
}
div.span8.left-content form {
  margin: 20px 0 30px 0;
  padding: 0 50px;
  text-align: right;
}
div.span8.left-content form div {
  text-align: left;
}
div.span8.left-content form div.field {
  background-color: #ddd;
  border: 1px solid #ccc;
  margin: 0 0 5px 0;
  padding: 5px 0;
}
div.span8.left-content form div.field:hover {
  background-color: #ccc;
  -webkit-transition: background-color 0.25s linear;
  -moz-transition: background-color 0.25s linear;
  -o-transition: background-color 0.25s linear;
  transition: background-color 0.25s linear;
}
div.span8.left-content form div.field.remember-me input {
  width: 14px;
}
div.span8.left-content form div.field label {
  display: inline-block;
  font-weight: bold;
  margin: 0 10px 0 0;
  text-align: right;
  width: 225px;
}
div.span8.left-content form div.field input {
  width: 200px;
}
div.span8.left-content form div.field ul {
  list-style: none;
  margin: 5px 0 0 0;
  padding: 0;
  text-align: center;
}
div.span8.left-content form div.field ul li {
  color: #db4a38;
}
div.span8.left-content form a.forgot-pwd {
  color: #1690c8;
  display: inline-block;
  line-height: 30px;
  margin: 5px 10px 0 0;
}
div.span8.left-content form a.forgot-pwd:hover {
  text-decoration: underline;
}
div.span8.left-content form button {
  border: 0;
  display: inline-block;
  margin: 5px 0 0 0;
  vertical-align: top;
}
div.span8.left-content p.align-center {
  text-align: center;
}
div#forgot-password-modal div.modal-body p.note {
  padding: 0 0 0 20px;
}
div#forgot-password-modal div.modal-body p.note i {
  display: inline-block;
  margin: 0 5px 0 0;
}
div#forgot-password-modal div.modal-body div.error {
  color: #db4a38;
  font-weight: bold;
  margin: 0 0 5px 0;
  padding: 0 25px;
  text-align: center;
}
div#forgot-password-modal div.modal-body form {
  padding: 0 25px;
  text-align: right;
}
div#forgot-password-modal div.modal-body form div.field {
  background-color: #ddd;
  border: 1px solid #ccc;
  margin: 0 0 5px 0;
  padding: 5px 0;
  text-align: left;
}
div#forgot-password-modal div.modal-body form div.field:hover {
  background-color: #ccc;
  -webkit-transition: background-color 0.25s linear;
  -moz-transition: background-color 0.25s linear;
  -o-transition: background-color 0.25s linear;
  transition: background-color 0.25s linear;
}
div#forgot-password-modal div.modal-body form div.field label {
  display: inline-block;
  font-weight: bold;
  margin: 0 10px 0 0;
  text-align: right;
  width: 160px;
}
div#forgot-password-modal div.modal-body form div.field input {
  width: 200px;
}
div#forgot-password-modal div.modal-body form button {
  border: 0;
  display: inline-block;
  margin: 5px 0 0 0;
  vertical-align: top;
}
div#forgot-password-modal div.modal-body form i.loader {
  color: #db4a38;
  display: inline-block;
  font-size: 18px;
  margin: 10px 10px 0 0;
}
div#forgot-password-modal div.modal-body form i.loader.hide {
  opacity: 0;
}
