<div class="video-list">
	<table>
		<thead>
			<tr>
				<th class="preview">{{ 'profile_index.lol_video_center.col.preview'|trans }}</th>
				<th class="title {% if admin_mode == false %}full{% endif %}">{{ 'profile_index.lol_video_center.col.title'|trans }}</th>
				<th class="category {% if admin_mode == false %}full{% endif %}">{{ 'profile_index.lol_video_center.col.category'|trans }}</th>
				{% if admin_mode %}
					<th></th>
				{% endif %}
			</tr>
		</thead>
		<tbody>
			{% for video in videos %}
				{% include 'MVNerdsProfileBundle:Profile:lol_video_row.html.twig' with {'video': video, 'admin_mode': admin_mode} %}
			{% endfor %}
		</tbody>
	</table>
</div>