<div class="lol-video-container">
	<h2>LoL Video Center</h2>

	{% if videos|length > 0 %}
		{% include 'MVNerdsProfileBundle:Profile:lol_video_list.html.twig' with {'videos': videos, 'admin_mode': admin_mode}  %}
	{% else %}
		<p class="empty-list"><i>
			{% if admin_mode %}
				{{'profile_index.lol_video_center.no_video.admin'|trans }}
			{% else %}
				{{'profile_index.lol_video_center.no_video.%name%'|trans({'%name%': user.getUsername()}) }}
			{% endif %}
		</i></p>
	{% endif %}
</div>
