@import '../bootstrap/mixins.less';
@import '../mvnerds-variables.less';

h1, h2, ul, label {
	cursor: default;
}

div.summoner-forgot-password {
	form {
		margin: auto;
		margin-bottom: 40px;
		width: 70%;

		input[type="email"], input[type="text"], input[type="password"], button, label {
			.border-radius(0);
			font-family: 'Ubuntu', sans-serif;
		}

		label {
			color: #eee;
			display: inline-block;
			position: relative;
			text-align: right;
			top: 2px;
			width: 100%;
		}

		button {
			background-color: darken(@MVNerdsGreen, 10%);
			border: 0;
			color: white;
			display: inline-block;
			height: 30px;
			padding: 1px 10px;

			&:hover {
				background-color: @MVNerdsGreen; .transition(background-color .25s linear);
			}
		}
	}

	div.error {
		color: @MVNerdsRed;

		ul {
			font-size: 14px;
			list-style: square;
			margin: 0 0 40px 0;
		}
	}
}
