@import '../bootstrap/mixins.less';

p {
	color: #222;
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	line-height: 1.5em;
	margin: 0;
	margin-bottom: 24px;	
}

h1, h2, h3, h4, h5, h6 {
	color: #222;
	font-family: 'Trebuchet MS', sans-serif;
	margin: 0;
	margin-bottom: 21px;

	&.no-margin {
		margin: 0;
	}
}

i {
	color: black;
	font-size: 16px;
	line-height: 1.5em;

	&.icon-white {
		color: white;
	}

	&.icon-14px {
		font-size: 14px;
	}

	&.icon-24px {
		font-size: 24px;
	}

	&.icon-36px {
		font-size: 36px;
	}
}

body {
	background-image: url('/images/launch_site/background.png');
}

div.countdown {
	margin: 15px 0 20px 0;
	padding: 0 20px;

	div {
		border: 1px solid #ccc;
		color: #222;
		display: inline-block;
		font-size: 18px;
		line-height: 1.4em;
		padding: 10px 0 5px 0;
		text-align: center;
		width: 110px;
		margin: 0 5px;
	}

	span.launch-date-message {
		display: inline-block;
		float: left;
		font-weight: bold;
		line-height: 72px;
		margin-right: 10px;
	}

	strong {
		color: #d14836;
		display: block;
		font-size: 36px !important;
		margin-bottom: 5px;
	}
}

div.social-container {
	font-weight: bold;
	margin: 0 324px 40px 0;
	text-align: right;
}

div.presentation-container {
	background: rgba(255,255,255,0.9) url('/images/launch_site/zilean_bg.png') no-repeat top right;
	border: 5px solid #333;
	border-top: 0;
	border-bottom: 0;
	margin: 0;
	padding: 0;

	img.logo {
		padding: 0 20px;
	}
}

div.overview-content {
	background-color: rgba(0,150,219,1);
}

div.registration-container {
	background-color: rgba(209,72,54,1);

	form {
		color: white;
		margin: 0;
		margin-bottom: 24px;
		text-align: center;

		input[type="email"], label {
			margin: 0;
			margin-right: 20px;
		}

		input[type="email"] {
			font-family: 'Trebuchet MS';
			font-size: 16px;
			height: 30px;
			line-height: 1.4em;
			padding: 0 5px;
			width: 30%;
		}

		label {
			display: inline-block;
			font-weight: bold;
			line-height: 40px;
			margin-right: 20px;
		}

		span.submit-btn-label {
			font-weight: bold;
		}
	}

	p.secret-msg {
		font-style: italic;
	}
}

div.overview-content, div.registration-container {
	margin-bottom: 10px;
	padding: 20px;

	h2, p {
		color: white;
		margin: 0;
	}

	p {
		margin-bottom: 1.5em;
	}

	p:last-child {
		margin-bottom: 0.5em;
	} 

	div.content {
		padding: 21px 0 0 0;
	}

	h2 {
		cursor: pointer;

		&:hover {
			span, i {
				color: white;
			}
		}
	}

	span.show-hide-label {
		cursor: pointer;
		color: black;
		display: inline-block;
		float: right;
		font-size: 12px;
		line-height: 40px;
		vertical-align: middle;
	}
}

div.registration-errors {
	font-size: 14px;
	line-height: 1.5em;
	
	ul {
		font-family: 'Ubuntu';
		margin: auto;
		margin-top: 15px;
		width: 60%;

		li {
			line-height: 1.5em;
			list-style-position: inside;
			list-style-type: square;
		}
	}
}

div#leave-email-success-modal {
	&.modal {
		left: 43%;
		width: 800px;
	}

	div.modal-header {
		background-color: #759e1a;
		.border-top-radius(3px);
	}

	div.modal-body {
		background-color: #eee;
		max-height: 600px;

		p {
			color: #333;
		}

		img {
			float: right;
			margin-left: 20px;
		}
	}

	div.modal-footer {
		background-color: #eee;
		.border-bottom-radius(3px);
	}
}