<div id="item-topbar-container">	
	<ul id="item-actions" class="actions-list">
		<li class="rec-item-list">
			<ul id="rec-item-sortable">
			</ul>
		</li>
		{# Bouton d'action qui permet de filtrer les champions #}
		{% include 'MVNerdsItemHandlerBundle:ItemBuilder:item_filter_list.html.twig' %}

		{# Champ input qui permet de filtrer / rechercher un champion selon son nom #}
		<li class="action filter-action search-action " data-page-display="champions">
			<i class="icon-search icon-white"></i> <input id="item-filter-input" type="text" class="input-mini" placeholder="{{'Actionsbar.Search.placeholder'|trans}}" data-provide="typeahead"/>
		</li>
	</ul>
</div>