<div id="pmri-tabed-list">
	<div class="row-fluid">
		<h2 class="span9">Pimp My Recommended Items</h2><a href="{{path('item_builder_list')}}" class="pull-right span3 btn-green">Voir toutes les listes</a>
	</div>

	<div class="row-fluid">
		<ul class="nav nav-pills span9" id="tabed-builds">
			<li class="active"><a href="#tab-newest-builds">Nouvelles listes</a></li>
			<li><a href="#tab-most-downloaded-builds">Listes les plus téléchargées</a></li>
		</ul>

		<a class="pull-right btn-red btn-pmri span3" href="{{path('item_builder_create')}}">Créer une liste</a>
	</div>
		
	<div class="tab-content">
		<div class="tab-pane active" id="tab-newest-builds">
			{% include 'MVNerdsItemHandlerBundle:ItemBuilder:item_table.html.twig' with {'item_builds': latest_builds} %}
		</div>
		<div class="tab-pane" id="tab-most-downloaded-builds">
			{% include 'MVNerdsItemHandlerBundle:ItemBuilder:item_table.html.twig' with {'item_builds': most_downloaded_builds} %}
		</div>
	</div>
</div>
{% include 'MVNerdsItemHandlerBundle:Modal:change_lol_directory_modal.html.twig' %}

<script>
	$(function () {
		$('#tabed-builds a').click(function(e){
			e.preventDefault();
			$(this).tab('show');
		});
		
		$('.bootstrap-popover').popover();
	});
</script>