<div id="pmri-tabed-list">
	<h2>Pimp My Recommended Items</h2>

	<ul class="nav nav-pills" id="tabed-builds">
		<li class="active"><a href="#tab-newest-builds">Nouvelles listes</a></li>
		<li><a href="#tab-most-downloaded-builds">Listes les plus téléchargées</a></li>
		<li><a class="clickable" href="{{path('item_builder_create')}}">Créer une liste</a></li>
		<li><a class="clickable" href="{{path('item_builder_list')}}">Plus de listes</a></li>
	</ul>

	<div class="tab-content">
		<div class="tab-pane active" id="tab-newest-builds">
			{% include 'MVNerdsItemHandlerBundle:ItemBuilder:item_table.html.twig' with {'item_builds': latest_builds} %}
		</div>
		<div class="tab-pane" id="tab-most-downloaded-builds">
			{% include 'MVNerdsItemHandlerBundle:ItemBuilder:item_table.html.twig' with {'item_builds': most_downloaded_builds} %}
		</div>
	</div>
</div>
{% include 'MVNerdsItemHandlerBundle:Modal:change_lol_directory_modal.html.twig' %}

<script>
	$(function () {
		$('#tabed-builds a').click(function(e){
			e.preventDefault();
			$(this).tab('show');
		});
		
		$('.bootstrap-popover').popover();
		
		$('a.clickable').off('click');
	});
</script>