{% extends 'MVNerdsLaunchSiteBundle::layout.html.twig' %}
	
{% block header_footer %}
	<div class="presentation-container">
		<div class="content">
			<div class="overview custom">
				<h1>{{'Overview.title'|trans}}</h1>

				<p>{{'Overview.content.p1'|trans}}</p>

				<p>{{'Overview.content.p2'|trans}}</p>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
{% endblock %}