<div class="subnav " id="actionbar">
		<ul class="nav nav-pills">
			{% include 'MVNerdsChampionHandlerBundle:Comparison:comparison-list.html.twig' %}
				
			{% set listSize = app.session.get('comparison_list') | length%}
			<li>
				<a id="btn-compare" class="data-pagination {% if listSize < 2 %}disabled{%endif%}" rel="next" href="{{path('champion_handler_comparison_compare') }}">
					<i class="icon-random"></i> 
					Comparer
				</a>
			</li>
			
			<li>
				<a id="btn-clean" href="{{path('champion_handler_comparison_clean_comparison') }}" {% if listSize < 1 %}class="disabled"{%endif%}>
					<i class="icon-trash"></i> 
					Vider
				</a>
			</li>
			
			<li>
				<a href="#" id="comparison-list-help" class="disabled" rel="popover" data-trigger="hover" data-class="comparison-list-popover-help" data-placement="top" 
				data-original-title="Comparaison de champions" data-content="Faites glisser et déposez un champion dans la zone prévue à cet effet pour l'ajouter à la liste de comparaison.">
					<i class="icon-question-sign"></i> Comment ça marche ?
				</a>
			</li>
		</ul>
</div>
