<div id="champion-benchmark-preview" class="span4">
	<h2>Champion Benchmark</h2>

	<div id="champion-benchmark-preview-list">
		<ol>
			<li>Une liste de champions originale</li>
			<li>Un système de filtrage efficace</li>
			<li>Un outil de comparaison performant</li>
		</ol>

		<p class="preview">
			<img src="{{asset('images/launch_site/champion-benchmark-preview.jpg')}}" alt=""/>
		</p>

		<a href="{{path('champion_handler_front_index')}}" class="btn-red">Testez-le maintenant !</a>
	</div>
</div>