<div class="row-fluid">
	<div class="span4">
		<h5>Politique de confidentialité</h5>
		<dl>
			<dt>Quelles sont les informations collectées par MVNerds ?</dt>
			<dd>MVNerds vous propose pour le moment de laisser votre adresse e-mail de manière mais rien ne vous y oblige</dd>
			<dt>Que fait MVNerds avec les informations collectées ?</dt>
			<dd>L'adresse e-mail que vous laissez ne sera utilisée que par mvnerds.com, celle-ci ne sera pas communiquée à des tiers. Cette adresse nous permettra de vous tenir informé des dernières évolutions apportées au site.</dd>
		</dl>
	</div>

	<div class="span4">
		<h5>Conditions d'utilisation</h5>

		<dt>Propriété intellectuelle.</dt>
		<dd>Tout les éléments présents sur mvnerds.com appartiennent à leur propriétaires respectifs. Il est strictement interdit de copier ou de reprendre un élément sans l'accord de son propriétaire</dd>
		<dt>League of legends</dt>
		<dd>League of Legends et Riot Games sont des marques déposées de Riot Games, Inc.

Tous les éléments extraits ou recopiés du jeu League of Legends, présents sur le site, appartiennent à Riot Games Inc.</dd>
	</div>
	<div class="span4">
		<h5>Conditions d'utilisation</h5>

		<dt>Propriété intellectuelle.</dt>
		<dd>Tout les éléments présents sur mvnerds.com appartiennent à leur propriétaires respectifs. Il est strictement interdit de copier ou de reprendre un élément sans l'accord de son propriétaire</dd>
		<dt>Que fait MVNerds avec les informations collectées ?</dt>
		<dd></dd>
	</div>
</div>