
<h3 style="color: #eee">Votre session a expirée, vous allez être automatiquement redirigé dans 2 secondes...</h3>

<script type="text/javascript">
	$(function(){console.log('start');
		setTimeout(function(){
			console.log('timeout');
			document.location.pathname = '{{path('launch_site_front') }}';
		},2000);
	});
</script>