<li class="dropdown" id="comparison-list-dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown" id="drop-comparison-list" role="button">
		<i class="icon-align-justify"></i> 
		Liste de comparaion
		<b class="caret"></b>
	</a>
	<ul class="dropdown-menu" role="menu" aria-labelledby="drop-comparison-list" id="comparison-list">
		<li class="nav-header">Liste de comparaison<img class="pull-left" style="display:none"  id="comparison-list-loading" src="{{ asset('images/commons/loader16.gif') }}"/></li>
		
		<li class="indication" {% if app.session.get('comparison_list') | length > 0 %}style="display:none"{% endif %}><i>Faites glisser et déposez des champions ici</i></li>
		
		{% for championSlug,champion in app.session.get('comparison_list') %}
			{% include 'MVNerdsChampionHandlerBundle:Comparison:comparison_row.html.twig' with {'champion': champion}%}
		{% endfor %}
	</ul>
</li>