<li id="filters-block" class="dropdown action link">	
	<a href="#" class="dropdown-toggle action-button-link" data-toggle="dropdown" id="drop-filter-list" role="button">
		<i class="icon-cogs icon-white"></i>
		<span class="action-label">Filtrer</span>
	</a>
	<ul id="filters-list" class="dropdown-menu" role="menu" aria-labelledby="drop-filters-list">
		<li class="nav-header">Rôle</li>
		<li data-option-value="mage">
			<a href="#" class="filter-link" data-option-value="mage"><span class="filter-color label pull-left">&nbsp;</span><span class="filter-name label">Mage</span></a>
		</li>
		<li data-option-value="support">
			<a href="#" class="filter-link" data-option-value="support"><span class="filter-color label pull-left">&nbsp;</span><span class="filter-name label">Support</span></a>
		</li>
		<li data-option-value="fighter">
			<a href="#" class="filter-link" data-option-value="fighter"><span class="filter-color label pull-left">&nbsp;</span><span class="filter-name label">Fighter</span></a>
		</li>
		<li data-option-value="assassin">
			<a href="#" class="filter-link" data-option-value="assassin"><span class="filter-color label pull-left">&nbsp;</span><span class="filter-name label">Assassin</span></a>
		</li>
		<li data-option-value="tank">
			<a href="#" class="filter-link" data-option-value="tank"><span class="filter-color label pull-left">&nbsp;</span><span class="filter-name label">Tank</span></a>
		</li>
		
		<li class="nav-header">Portée d'attaque</li>
		<li data-option-value="melee">
			<a href="#" class="filter-link" data-option-value="melee"><span class="filter-color label pull-left">&nbsp;</span><span class="filter-name label">Melee</span></a>
		</li>
		<li data-option-value="ranged">
			<a href="#" class="filter-link" data-option-value="ranged"><span class="filter-color label pull-left">&nbsp;</span><span class="filter-name label">Ranged</span></a>
		</li>		
		
		<li class="nav-header">Position</li>
		<li  data-option-value="top">
			<a href="#" class="filter-link" data-option-value="top"><span class="filter-color label pull-left">&nbsp;</span><span class="filter-name label">Top</span></a>
		</li>
		<li data-option-value="jungle">
			<a href="#" class="filter-link" data-option-value="jungle"><span class="filter-color label pull-left">&nbsp;</span><span class="filter-name label">Jungle</span></a>
		</li>
		<li data-option-value="mid">
			<a href="#" class="filter-link" data-option-value="mid"><span class="filter-color label pull-left">&nbsp;</span><span class="filter-name label">Mid</span></a>
		</li>
		<li data-option-value="bottom">
			<a href="#" class="filter-link" data-option-value="bottom"><span class="filter-color label pull-left">&nbsp;</span><span class="filter-name label">Bottom</span></a>
		</li>
		
		<li class="nav-header">Dégâts</li>
		<li data-option-value="physical">
			<a href="#" class="filter-link" data-option-value="physical"><span class="filter-color label pull-left">&nbsp;</span><span class="filter-name label">Physical</span></a>
		</li>
		<li data-option-value="magical">
			<a href="#" class="filter-link" data-option-value="magical"><span class="filter-color label pull-left">&nbsp;</span><span class="filter-name label">Magical</span></a>
		</li>
		<li data-option-value="hybrid-damage">
			<a href="#" class="filter-link" data-option-value="hybrid damage"><span class="filter-color label pull-left">&nbsp;</span><span class="filter-name label">Hybrid Damage</span></a>
		</li>
	</ul>
</li>