<div class="stats odd detailed-report-block">
	<i class="icon-warning-sign"></i>
	
	{% if can_report %}
		<strong><a href="#" class="show-report-action" >Report</a></strong>
	{% else %}
		{% if app.user == null %}
			<strong>
				<a href="{{ path('security_store_current_route_and_redirect_to_login') }}"{% if app.request.getLocale() == 'fr' %} style="font-size: 12px"{% endif %}>{{ 'Report.detailed.login'|trans }}</a>
			</strong>
		{% else %}
			<strong{% if app.request.getLocale() == 'fr' %} style="font-size: 13px"{% endif %}>{{ 'Report.detailed.already_reported'|trans }}</strong>
		{% endif %}
	{% endif %}
	<br /> {{ 'Report.detailed.action_btn'|trans }}
</div>

{% if can_report %}
	{% include 'MVNerdsReportBundle:Report:report_modal.html.twig' %}
{% endif %}