{% if can_report %}
	<a href="#" 
	   class="report-action" 
	   data-type="{{object_type}}" 
	   {% if object_slug is defined %}
			data-slug="{{object_slug}}"
		{% else %}
			data-id="{{object_id}}"
		{% endif %}
	>
		Signaler ce contenu pour abus <i class="icon-spin icon-spinner loader hide"></i>
	</a>
{% else %}
	<span>Vous avez signalé ce contenu</span>
{% endif %}