#news-container, iframe.markItUpPreviewFrame html body {
	background-color: #000;
	min-height: 600px;
	padding: 20px;
	margin-bottom: 20px;

	p {
		color: #eee;
		&.posted-by {
			color: #ccc;
		}

		iframe, img:not(.smiley) {
			display: inline-block;
			margin: 0 auto;
		}
	}
	
	ul, ol {
		color: #eee;
	}

	blockquote {
		color: #eee;
	}

	h1 {
		color: #19A0DF;
		margin-bottom: 0;
	}
}