#news-container, iframe.markItUpPreviewFrame html body {
	background-color: #000;
	min-height: 600px;
	padding: 20px;
	margin-bottom: 20px;

	p {
		color: #eee;
		&.posted-by {
			color: #ccc;
		}

	}
	
	em {
		color: #eee;
	}

	ul, ol {
		color: #eee;
	}

	blockquote {
		color: #eee;
	}

	h1 {
		color: #19A0DF;
		margin-bottom: 0;
	}
}