<div class="block">
	<div class="header">
		<h3>LoL Video Center <span class="label red">spotlight</span></h3>
	</div>
	<div class="body">
		<p>
			{{'Sidebar.video.description' | trans}}
		</p>
		<div class="block-media">
			<object width="300" height="169">
				<param name="movie" value="http://www.youtube.com/v/fKsMEdYup84?version=3"></param>
				<param name="allowScriptAccess" value="always"></param>
				<embed src="http://www.youtube.com/v/fKsMEdYup84?version=3" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="300" height="169"></embed>
			</object>
		</div>
	</div>
	<div class="footer">
		<a href="{{path('lol_video_index')}}">{{'Sidebar.video.know-more' | trans}}</a>
	</div>
</div>