<div class="block">
	<div class="header">
		<h3>LoL Video Center <span class="label red">spotlight</span></h3>
	</div>
	<div class="body">
		<p>
			Venez essayer le tout nouveau module "LoLVideoCenter" ! Ce module va vous permettre de consulter un tas de vidéos liées au jeu League of Legends. En tant que membre MVNerds vous avez la possibilité de poster autant de vidéos que vous le souhaitez, que ce soit des vidéos amusantes, utiles, ou tout autre type de vidéo en relation avec LoL!
		</p>
		<div class="block-media">
			<object width="300" height="169">
				<param name="movie" value="http://www.youtube.com/v/fKsMEdYup84?version=3"></param>
				<param name="allowScriptAccess" value="always"></param>
				<embed src="http://www.youtube.com/v/fKsMEdYup84?version=3" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="300" height="169"></embed>
			</object>
		</div>
	</div>
	<div class="footer">
		<a href="{{path('lol_video_index')}}">En savoir plus</a>
	</div>
</div>