<div class="block">
	<div class="header">
		<h3>Pimp My Recommended Items <span class="label red">spotlight</span></h3>
	</div>
	<div class="body">
		<p>
			Joueurs de League of Legends, le PMRI est fait pour vous ! C'est un utilitaire qui vous permet de changer la liste des objets recommandés de vos champions préférés. C'est la liste qui est accessible depuis l'onglet "Conseillés" de la nouvelle boutique en jeu de League of Legends.
		</p>
		<div class="block-media">
			<object width="300" height="169">
				<param name="movie" value="http://www.youtube.com/v/fKsMEdYup84?version=3"></param>
				<param name="allowScriptAccess" value="always"></param>
				<embed src="http://www.youtube.com/v/fKsMEdYup84?version=3" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="300" height="169"></embed>
			</object>
		</div>
	</div>
	<div class="footer">
		<a href="#">En savoir plus</a>
	</div>
</div>