{% extends 'MVNerdsSkeletonBundle::base.html.twig' %}

{% block javascripts %}
	{{ parent() }}

	<script type="text/javascript" src="{{ asset('medias/js/skeleton/layout.js') }}"></script>
{% endblock %}

{% block body %}
	<div class="container main-container">
		{% include 'MVNerdsSkeletonBundle:Common:global_menu.html.twig' %}
			
		{% include 'MVNerdsSkeletonBundle:Common:header.html.twig' %}
		
		<div class="breadcrumb-container">
			Vous êtes sur <a href="{{ path('site_homepage') }}">Accueil</a>
		</div>
		
		{% block main_content %}{% endblock %}	
	</div>
	<div class="container footer"></div>
			
	{# BOUTTON <Soutenir MVNerds> #}
	<div class="support-us-container">
		<i class="icon-reply"></i>
		<a href="#" class="support-us-btn">Soutenir MVNerds</a>
		<a href="#" class="learn-more-btn">+</a>
	</div>
	
	<div id="fb-root"></div>
{% endblock %}
