<div class="vote-actions" data-object-id="{{ object.getId() }}" data-object-type="{{ objectType }}">
	<a href="#" class="vote vote-up"><i class="icon-chevron-up"></i></a> <span class="rating">{{ object.getRating() }}</span> <a href="#" class="vote vote-down"><i class="icon-chevron-down"></i></a>
</div>