.game-mode-bg {
    background: url('/images/item_builder/game-mode-bg.jpg');
    height: 155px;
    width: 289px;

    .dominion {    
	    background-position: -290px -0px;
	}

	.proving_grounds {
	    background-position: -0px -156px;
	}

	.summoners_treeline {
	    background-position: -0px -0px;
	}
}