@import '../bootstrap/mixins.less';
@import '../mvnerds-variables.less';

div.body-container {
	color: #fff;

	&.list-item-builder {
		background-color: #000;
		padding: 20px;
		margin-bottom: 20px;
		min-height: 530px;
	}

	h1 {
		color: @MVNerdsBlue;
		margin-bottom: 50px;
	}

	h2 {
		color: @LoLOrangeAD;
	}

	p {
		color: #eee;
	}
	h3 {
		color: #759E1A;
	}

	a.btn-red {
		background-color: darken(@MVNerdsRed, 10%);
		color: white;
		display: inline-block;
		font-size: 1.5em;
		font-weight: bold;
		margin: 40px auto 0px auto;
		padding: 10px 15px;
		text-align: center;

		&.btn-pmri {
			font-size: 1.2em;
			margin: 0;
		}

		&.btn-blue {
			background-color: darken(@MVNerdsBlue, 10%);
			margin-left: 10px;

			&:hover {
				background-color: @MVNerdsBlue;
			}
		}

		&:hover {
			background-color: @MVNerdsRed; .transition(background-color .25s linear);
		}
	}

	a.btn-green, a.btn-create {
		background-color: darken(@MVNerdsGreen, 5%);
		border: 0;
		color: white;
		display: block;
		font-size: 16px;
		font-weight: bold;
		margin: 5px auto;
		padding: 5px 10px;
		text-align: center;

		&:hover {
			background-color: @MVNerdsGreen; .transition(background-color .25s linear);
		}

		&.pull-right {
			margin-left: 10px;
		}
	}

	a.btn-create {
		background-color: darken(@MVNerdsRed, 10%);

		&:hover {
			background-color: @MVNerdsRed; .transition(background-color .25s linear);
		}
	}

	div#pmri-tabed-list {
		background-color: #000;
		padding: 20px;
		margin-bottom: 20px;
		min-height: 435px;

		ul#tabed-builds {
			font-family: 'Ubuntu', sans-serif;
			margin: 0;
			padding: 0;

			li {
				margin-right: 5px;

				&.active {
					a {
						background-color: @MVNerdsBlue;
						color: white;
						font-weight: bold;
					}		
				}
			}

			a {
				.border-radius(0);
				color: #666;

				&:hover {
					background-color: darken(@MVNerdsBlue, 15%); .transition(background-color .25s linear);
					color: white;
				}
			}
		}
	}
	div#champion-benchmark-preview {
		background-color: #000;
		padding: 20px;
		margin-bottom: 20px;
		min-height: 521px;

		div#champion-benchmark-preview-list {
			ol {
				font-family: 'Trebuchet MS', sans-serif;
				font-weight: bold;
				margin: 20px auto;

				li {
					margin: 10px auto;
				}
			}
			p.preview {
				margin: 40px auto 10px auto;
			}
		}
	}

	div#news-carousel-container {
		background-color: #000;
		padding: 20px;
		margin-bottom: 20px;

		#news-carousel{
			height: 400px;
			background-color: #111;

			div.carousel-inner div.item{
				height: 400px;
				text-align: center;
				
				a {
					display: block;
					padding: 10px;
					img{
						height: 380px;
					}
				}

				div.carousel-caption{
					text-align: left;
				}
			}
		}
	}
}

ul.filters-list {
	cursor: pointer;
	padding: 0 0 0 10px;

	&.more-filter {
		background-color: #141414;
		padding: 20px;

		li.action {
			background-color: #141414;
			margin-right: 40px;

			&:hover {
				background-color: #141414;
			}

			input[type="text"] {
				background-color: #333;
				padding: 5px 10px;

				&:hover, &:focus {
					background-color: #444; .transition(background-color .25s linear);
				}
			}
		}
	}

	li {
		display: inline-block;

		&.more-filters-button {
			color: darken(@MVNerdsBlue, 10%);
			font-family: 'Ubuntu', sans-serif;
			font-size: 14px;
			margin-left: 5px;

			&.active {
				color: @LoLOrangeAD;

				i {
					color: @LoLOrangeAD;
				}
			}

			&:hover {
				color: #eee; .transition(color .25s linear);

				i {
					color: #eee; .transition(color .25s linear);
				}
			}

			i {
				color: darken(@MVNerdsBlue, 10%);
			}
		}

		&#sort-box i {
			font-size: 16px;
			display: inline-block;
			position: relative;
			top: -5px;
		}
	}

	li.action {
		background-color: #759E1A;
		line-height: 26px;
		margin: 0;
		margin-right: 1px;
		padding: 3px 6px 0 4px;
		min-width: 80px;
		text-align: center;

		&.disabled {
			cursor: not-allowed;
			opacity: .65;

			a:hover {
				cursor: not-allowed;
			}
		}

		a, a:visited, a:hover {
			color: white;
			display: block;
			text-decoration: none;
		}

		i {
			display: inline-block;
			font-size: 22px;
			line-height: 22px;
			margin: 0 0 0 0;
			position: relative;
			top: 1px;
		}

		span.action-label {
			font-family: 'Ubuntu', sans-serif;
			font-size: 14px;
			font-weight: normal;
			position: relative;
			top: -2px;
		}

		&:hover {
			background-color: #95BE3A;
			.transition(all .25s linear);

			span.action-label {
				.transition(all .25s linear);
			}
		}
		
		input[type="text"] {
			border: 0;
			.border-radius(0);
			background-color: #658E0A;
			color: white;
			font-size: 14px;
			line-height: 1.5em;
			margin: 0 0 2px 0;
			.placeholder(#ccc);
			position: relative;
			top: -2px;
			width: 130px!important;
		}
	}
}

ul.dropdown-menu {
	background-color: rgba(0,0,0,0.8);
	//border: 1px solid @MVNerdsBlue;
	border: 1px solid #759E1A;
	text-align: left;
	padding: 5px 5px;
	.border-radius(0);

	&:not(.typeahead) {
		li {
			display: block;
			&:hover {
				background-color: #759E1A!important;
			}
			a {
				font-family: 'Ubuntu', sans-serif;
				padding: 3px 10px 3px 20px;

				i {
					color: black;
					display: inline-block;
					font-size: 18px;
					left: -5px;
					margin: 0 10px 0 0;
					position: relative;
					top: 0 !important;
				}

				&.selected {
					color: @LoLOrangeAD;
					font-weight: bold;
					i {
						color: @LoLOrangeAD;
					}
				}

				&:hover {
					background-color: #759E1A!important;
					color: white;
					i {
						color: white;
					}
				}
			}//End a
		}
	}
	&.typeahead {
		li {
			a {
				color: #bbb;
				strong {
					color: #fff;
				}
			}
		}
	}
}

table#item-builds-table {
	margin: 20px 0 15px 0;

	thead {
		tr {
			cursor: pointer;
			height: 30px;
			margin: 40px 0 0 0;

			th {
				color: #eee;
				cursor: default;
				font-family: 'Trebuchet MS', sans-serif;
				font-size: 10px;
				font-weight: bold;
				text-transform: uppercase;

				&.champions {
					width: 55px !important;
				}
				&.items {
					width: 201px !important;
				}
				&.name {
					width: 300px !important;
				}
				&.game-mode {
					width: 110px !important;
				}
				&.actions {
					width: 110px !important;
				}
			}
		}
	}

	tbody tr {
		color: #aaa;
		background-color: #141414;

		&:hover {
			background-color: #222;
		}

		td {
			border: 0;
			border-bottom: 4px solid #000;
			cursor: default;
			font-family: 'Ubuntu', sans-serif;
			height: 30px;
			line-height: 32px;
			text-align: center;

			&.name {
				line-height: 1em;
				padding: 7px 4px 4px 4px;
				text-align: left;

				a {
					color: #999;

					&:hover {
						color: @MVNerdsBlue; .transition(color .25s linear);
					}
				}

				span.created-by {
					font-size: 12px;

					a {
						color: darken(@MVNerdsBlue, 20%);

						&:hover {
							color: @MVNerdsBlue; .transition(color .25s linear);
						}
					}
				}

				strong {
					color: darken(@MVNerdsGreen, 10%);
				}
			}

			&.game-mode {
				font-size: 14px;
				text-align: left;
			}

			div {
				margin: 0 auto;

				&.champion-square25 {
					position: relative;
					top: 6px;
				}
			}

			img {
				width: 25px;
			}

			span {
				color: #666;

				&.dl-count-block {
					display: inline-block;
					font-size: 10px;
					font-weight: bold;
					line-height: 1em;
					margin-left: 10px;
					position: relative;
					top: 4px;

					strong {
						display: block;
					}
				}

				i {
					color: #666;
					font-size: 16px;
					margin: 0 5px;
				}
			}

			div.admin-actions {
				line-height: 1em;

				a {
					&.edit-action {
						background-color: darken(@MVNerdsGreen, 5%);

						&:hover {
							background-color: @MVNerdsGreen; .transition(background-color .25s linear);
						}
					}

					&.delete-action {
						background-color: darken(@MVNerdsBlue, 10%); .transition(background-color .25s linear);

						&:hover {
							background-color: @MVNerdsBlue;
						}
					}

					i {
						margin: 0;
					}
				}

				strong {
					display: inline-block;
				}
			}
		}
	}
}

a.action {
	background-color: darken(@MVNerdsRed, 10%);
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	line-height: 1.4em;
	padding: 3px 8px;

	i {
		color: #fff;
		display: inline-block;
		margin-right: 4px;
		position: relative;
		top: 1px;
	}

	&:hover {
		background-color: @MVNerdsRed; .transition(background-color .25s linear);
	}
}

div.modal {
	background: black url('/images/launch_site/modal_bg.jpg') no-repeat top left;
	border: 1px solid rgba(255,255,255,.4);
	.border-radius(0);
	height: 411px;
	width: 650px;
	
	div.modal-header, div.modal-body, div.modal-footer {
		border: 0;
		i {
			color: white;
		}
	}
	
	div.modal-footer {
		background-color: black;
	}

	div.modal-header {
		h3 {
			margin-top: 35px;
			color: @MVNerdsGreen;
		}

		button.close {
			color: white;
			opacity: .4;

			&:hover {
				opacity: 1;
				.transition(opacity .25s linear);
			}
		}
	}

	div.modal-body {
		width: 620px;
		color: white;
		p {
			color: white;
		}
	}
}

div.dataTables_info {
	color: #666;
	cursor: default;
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	text-align: right;
}

div.dataTables_paginate {
	text-align: center;

	ul {
		border: 0;
		color: white;
		font-family: 'Ubuntu', sans-serif;
		font-size: 14px !important;
		margin: 0;
		padding: 0;

		li {
			border: 0;
			display: inline-block;
			height: 29px;
			margin: 0 4px;
			position: relative;
			top: -1px;

			&.active {
				a {
					background-color: darken(@MVNerdsGreen, 5%);
					color: #fff;
					font-weight: bold;

					&:hover {
						background-color: @MVNerdsGreen; .transition(background-color .25s linear);
					}
				}
			}

			&.prev, &.next {
				top: 0;
				border: 1px solid darken(@MVNerdsGreen, 5%);

				&.disabled {
					border: 1px solid #333;

					&:hover {
						border-color: #333;

						a {
							color: #333;
						}
					}

					a {
						color: #333;
					}
				}

				&:hover {

					border-color: @MVNerdsGreen; .transition(border-color .25s linear);

					a {
						background-color: black;
						color: @MVNerdsGreen; .transition(color .25s linear);
					}
				}

				a {
					color: darken(@MVNerdsGreen, 10%);
					padding: 5px 4px;
					text-align: center;
					width: 94px;
				}
			}

			a {
				background-color: #000;
				border: 0;
				.border-radius(0);
				color: @MVNerdsGreen;
				display: block;
				font-size: 14px;
				line-height: 1.4em;
				padding: 5px 7px;

				&:hover {
					background-color: #222; .transition(background-color .25s linear);
				}
			}
		}
	}
}



.search-box {
	i {
		font-size: 18px;
		position: relative;
		top: 2px;
	}

	input[type="text"] {
		background-color: #222;
		border: 0;
		.border-radius(0);
		color: #eee;
		font-family: 'Ubuntu', sans-serif;
		margin: 0 0 0 5px;
		width: 165px;

		&:hover, &:focus {
			background-color: #333; .transition(background-color .25s linear);
		}
	}
}

.popover {
	background-color: darken(@MVNerdsBlue, 10%);
	
	&.bottom {
		div.arrow {
			border-bottom-color: darken(@MVNerdsBlue, 10%) !important;
		}
	}

	&.right {
		div.arrow {
			border-right-color: darken(@MVNerdsBlue, 10%) !important;
		}
	}

	h3.popover-title {
		background-color: darken(@MVNerdsBlue, 20%);
		border: 0;
		color: #222;
		font-size: 14px;
		font-weight: bold;
		line-height: 1.2em;
		height: 40px;
		margin: 0;
		padding: 5px 8px 5px 50px;
		text-align: right;
		
		img {
			border: 2px solid darken(@MVNerdsBlue, 20%);
			left: -8px;
			overflow: hidden;
			position: absolute;
			.rotate(-10deg);
			top: -1px;
			width: 48px;
		}
	}

	div.popover-content {		
		p {
			color: #eee;
			font-size: 12px;
		}

		div.center-content {
			text-align: center;
		}

		div.champion-square25 {
			display: inline-block;
			margin-right: 2px;
		}
	}
}

div.video-container {
	background-color: #141414;
	margin: 0 0 20px 0;
	padding: 10px 10px 4px 10px;
	width: 580px !important;
}

div.spotlight-overview {
	width: 384px !important;

	p {
		font-size: 14px;
		text-align: justify;

		a {
			color: darken(@MVNerdsBlue, 10%);

			&:hover {
				color: @MVNerdsBlue; .transition(color .25s linear);
			}
		}
	}
}

div.border-top {
	border-top: 2px solid #444;
	padding: 20px 0 0 0;
}

h1.spotlight {
	margin-bottom: 20px !important;
}
