@import '../bootstrap/mixins.less';
@import '../mvnerds-variables.less';

div.body-container {
	background-color: #000;
	color: #fff;
	padding: 20px;
	margin-bottom: 20px;
	min-height: 500px;

	h1 {
		color: @MVNerdsRed;
	}

	item-builds-table {
	}
}

div.popover-content {
	div.champion-square25 {
		display: inline-block;
		margin-right: 2px;
	}
}