<div class="ad-container">
	<div class="unblock-ad-msg">
		<img src="{{ asset('medias/images/site/mvnerds-logo.png') }}" />
		<p>La publicité est notre seule source de revenus. Si vous aimez nos services, veuillez désactiver adBlock.</p>
	</div>
	<script type="text/javascript"><!--
	google_ad_client = "ca-pub-9866334543391692";
	/* MVNerds 2.0 Contenu principal */
	google_ad_slot = "9485929999";
	google_ad_width = 468;
	google_ad_height = 60;
	//-->
	</script>
	<script type="text/javascript"
	src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
	</script>
</div>
