{#<div class="support-mvnerds-block {{ random(['sona', 'taric', 'soraka', 'leona']) }}">
	<p>MVNerds est et restera gratuit. Soutenez-nous en regardant une vidéo sponsorisée !</p>
	<i class="note">Important : pensez à désactiver adBlock ou à ajouter le site en liste blanche</i>
	<a href="#" class="btn support-mvnerds-btn">Soutenir MVNerds <i class="icon-heart"></i></a>
</div>#}
