<div class="label">
	Rotation de champion<br />
	{{rotation.getTitle()}}
</div>

<div class="free-champions">
	{% for champion_rotation in rotation.getChampionRotations() %}
		<a href="{{path('champion_detail', {slug: champion_rotation.getChampion().getSlug()})}}"><div class="champion-square36 {{champion_rotation.getChampion().getSlug()}}"></div></a>
	{% endfor %}
</div>
