<div class="container champion-rotation border-top border-bottom">
	<div class="champion-rotation-content">
		{% render 'MVNerdsSiteBundle:Front:renderChampionRotation' %}
	</div>
		
	<div class="champion-search-input">
		<input id="header-champion-search-input" data-provide="typeahead" type="text" placeholder="Nom d'un champion...">
		<i class="icon-search"></i>
	</div>
</div>
