<div class="container champion-rotation border-top border-bottom">
	<div class="champion-rotation-content">
		<div class="label">
			Rotation de champion<br />
			Présaison 3 - semaine 4
		</div>
			
		<div class="free-champions">
			{#{% render 'MVNerdsChampionRotationBundle:ChampionRotation:renderChampionList' %}#}
			<a href="#"><div class="champion-square36 chogath"></div></a>
			<a href="#"><div class="champion-square36 dr-mundo"></div></a>
			<a href="#"><div class="champion-square36 irelia"></div></a>
			<a href="#"><div class="champion-square36 lux"></div></a>
			<a href="#"><div class="champion-square36 kogmaw"></div></a>
			<a href="#"><div class="champion-square36 mordekaiser"></div></a>
			<a href="#"><div class="champion-square36 soraka"></div></a>
			<a href="#"><div class="champion-square36 swain"></div></a>
			<a href="#"><div class="champion-square36 teemo"></div></a>
			<a href="#"><div class="champion-square36 twitch"></div></a>
		</div>
	</div>
		
	<div class="champion-search-input">
		<input type="text" placeholder="Nom d'un champion...">
		<i class="icon-search"></i>
	</div>
</div>
