<div id="footer">
	<div class="container">
		<div class="champions-block">
			<h5><i class="icon-screenshot"></i> Accès rapide aux champions</h5>
			{% render 'MVNerdsSiteBundle:Front:renderFooterChampion' %}
		</div>
		<div class="mvnerds-legal">
			<div class="row-fluid">
				<div class="span4">
					
				</div>
				<div class="span8">
					<strong>Most Valuable Nerds</strong> - Guides, builds et outils pour les joueurs de League of Legends !
					<br /><br />
					League of Legends et Riot Games sont des marques déposées de Riot Games, Inc.
					Tous les éléments extraits ou recopiés du jeu League of Legends, présents sur le site, appartiennent à Riot Games Inc.
					<br /><br />
					Nous contacter Politique de confidentialité Conditions générales d'utilisation Mentions légales
				</div>
			</div>
		</div>
	</div>
</div>
