<div class="container header border-bottom">
	<div class="slogan">
		<img src="{{ asset('medias/images/site/mvnerds-logo.png') }}" />
		<p>
			<span class="brand"><strong>MOST VALUABLE NERDS</strong> - Guides, Builds and Tools for League of Legends</span><br />
			Vous êtes sur <span class="location">Pimp My Recommended Items > Création</span>
		</p>
	</div>
	<div class="social-container">
		<p>
			{# SWITCH DE LANGUE #}
			<a href="#" class="switch-locale"><span>english</span></a> 
			{# FACEBOOK LINK #}
			<a href="#" class="facebook-link"><i class="icon-facebook"></i></a>
			{# TWITTER LINK #}
			<a href="#" class="twitter-link"><i class="icon-twitter"></i></a>
		</p>
	</div>
</div>
