#champion-comparison{
	overflow: hidden;
}

.loading {
	background-image: url('/images/commons/loader66.gif');
	background-repeat: no-repeat;
	background-position: top center;
	margin-top: 200px;
}