.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.force-hide {
  display: none !important;
}
.isotope-hidden {
  display: none !important;
}
p {
  color: #222;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  line-height: 1.4em;
  margin: 0;
  margin-bottom: 1.4em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222;
  font-family: 'Trebuchet MS', sans-serif;
  margin: 0;
  margin-bottom: 21px;
}
h1.no-margin,
h2.no-margin,
h3.no-margin,
h4.no-margin,
h5.no-margin,
h6.no-margin {
  margin: 0;
}
i {
  color: #eee;
  font-size: 16px;
  line-height: 1.4em;
}
i.icon-white {
  color: white;
}
i.icon-14px {
  font-size: 14px;
}
i.icon-24px {
  font-size: 24px;
}
i.icon-36px {
  font-size: 36px;
}
a,
a:visited,
a:hover {
  text-decoration: none;
}
body {
  background: #303030 url('/images/launch_site/layout_bg.jpg') no-repeat center center fixed;
}
span.sign {
  display: inline-block;
  font-family: 'Ubuntu', sans-serif;
  font-size: 8px;
  line-height: 1em;
  padding: 3px;
  position: relative;
  text-transform: uppercase;
  top: -13px;
}
span.sign.red {
  color: #eee;
  background-color: #db4a38;
}
div.main-container {
  background: #333333 url('/images/launch_site/main_container_bg.png') no-repeat top left;
  border: 0;
  -webkit-box-shadow: 0px 0px 55px #000000;
  -moz-box-shadow: 0px 0px 55px #000000;
  box-shadow: 0px 0px 55px #000000;
  padding: 20px;
}
div.header-container {
  margin: 0 0 20px 0;
}
div.header-container a.logo-link {
  display: block;
}
div.header-container a.logo-link div.back-home-sign {
  background-color: #19a0df;
  -webkit-border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  border-radius: 4px !important;
  color: white;
  display: inline-block;
  font-family: 'Ubuntu', sans-serif;
  font-size: 8px;
  font-weight: bold;
  left: 325px;
  line-height: 1.2em;
  opacity: .3;
  padding: 5px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  top: 15px;
}
div.header-container a.logo-link div.logo {
  background: url('/images/launch_site/mvnerds_logo.png') no-repeat top center;
  height: 167px;
  width: 100%;
}
div.header-container a.logo-link div.logo div#brand {
  color: #db4a38;
  font-family: 'Quantico', sans-serif;
  font-size: 2.2em;
  font-weight: bold;
  padding-top: 119px;
  position: relative;
  text-shadow: 1px 1px 1px rgba(80, 80, 80, 0.3);
  top: -28px;
}
div.header-container a.logo-link div.logo div#brand em {
  color: #19a0df;
  font-style: normal;
}
div.header-container a.logo-link:hover div.back-home-sign {
  opacity: 1;
  -webkit-transition: opacity 0.5s linear;
  -moz-transition: opacity 0.5s linear;
  -o-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
}
div.header-container div.span7 {
  opacity: .5;
  padding-left: 50px;
}
div.header-container div.span7:hover {
  opacity: 1;
  -webkit-transition: opacity 0.25s linear;
  -moz-transition: opacity 0.25s linear;
  -o-transition: opacity 0.25s linear;
  transition: opacity 0.25s linear;
}
div.header-container div.span7 h4 {
  text-transform: uppercase;
  margin: 5px 0 10px 0;
}
div.header-container div.span7 img {
  display: inline-block;
  margin-left: 30px;
}
div.header-container div.switch-language-container {
  float: right;
}
div.header-container div.switch-language-container span,
div.header-container div.switch-language-container a {
  display: block;
  float: left;
}
div.header-container div.switch-language-container span.current-language-msg,
div.header-container div.switch-language-container span.switch-language-msg {
  color: #999;
  font-family: 'Ubuntu', sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.3em;
  margin-right: 10px;
  text-align: right;
  text-transform: uppercase;
  width: 85px;
}
div.header-container div.switch-language-container span.current-language,
div.header-container div.switch-language-container a {
  font-family: 'Arial', sans-serif;
  font-size: 32px;
  line-height: 1em;
  opacity: .3;
  position: relative;
  text-transform: uppercase;
}
div.header-container div.switch-language-container span.current-language {
  color: #19a0df;
  margin-right: 20px;
}
div.header-container div.switch-language-container a,
div.header-container div.switch-language-container a:visited,
div.header-container div.switch-language-container a:hover {
  background-color: #db4a38;
  color: white;
  opacity: .5;
  text-decoration: none;
}
div.header-container div.switch-language-container a:hover {
  opacity: 1;
  -webkit-transition: opacity 0.5s linear;
  -moz-transition: opacity 0.5s linear;
  -o-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
}
div.header-container div.social-container {
  background: #000000 url('/images/launch_site/social_bg.jpg') no-repeat;
  border: 1px solid black;
  border-bottom: 0;
  margin: 5px 0 0 0;
  padding: 2px 20px;
}
div.header-container div.social-container p {
  color: #999;
  margin: 0;
  padding: 0;
  text-align: right;
}
div.header-container div.social-container a,
div.header-container div.social-container a:hover,
div.header-container div.social-container a:visited {
  color: #759e1a;
  font-weight: bold;
  text-decoration: none;
}
div.header-container div.social-container a i,
div.header-container div.social-container a:hover i,
div.header-container div.social-container a:visited i {
  color: #759e1a;
  font-size: 16px;
}
div.header-container div.social-container a.twitter:hover,
div.header-container div.social-container a:hover.twitter:hover,
div.header-container div.social-container a:visited.twitter:hover {
  color: #00acee;
  -webkit-transition: color 0.25s linear;
  -moz-transition: color 0.25s linear;
  -o-transition: color 0.25s linear;
  transition: color 0.25s linear;
}
div.header-container div.social-container a.twitter:hover i,
div.header-container div.social-container a:hover.twitter:hover i,
div.header-container div.social-container a:visited.twitter:hover i {
  color: #00acee;
  -webkit-transition: color 0.25s linear;
  -moz-transition: color 0.25s linear;
  -o-transition: color 0.25s linear;
  transition: color 0.25s linear;
}
div.header-container div.social-container a.facebook:hover,
div.header-container div.social-container a:hover.facebook:hover,
div.header-container div.social-container a:visited.facebook:hover {
  color: #345390;
  -webkit-transition: color 0.25s linear;
  -moz-transition: color 0.25s linear;
  -o-transition: color 0.25s linear;
  transition: color 0.25s linear;
}
div.header-container div.social-container a.facebook:hover i,
div.header-container div.social-container a:hover.facebook:hover i,
div.header-container div.social-container a:visited.facebook:hover i {
  color: #345390;
  -webkit-transition: color 0.25s linear;
  -moz-transition: color 0.25s linear;
  -o-transition: color 0.25s linear;
  transition: color 0.25s linear;
}
div.header-container div.social-container em {
  color: #759e1a;
  font-style: normal;
  font-weight: bold;
}
div.header-container div.social-container em i {
  color: #759e1a;
  font-size: 16px;
}
div.header-container div.presentation-container {
  border: 1px solid black;
  border-top: 0;
}
div.header-container div.presentation-container div.content {
  background: #000000 url('/images/launch_site/content_bg.jpg') no-repeat top left;
}
div.header-container div.presentation-container div.content div.overview,
div.header-container div.presentation-container div.content div.registration {
  padding: 20px;
}
div.header-container div.presentation-container div.content div.overview p:last-child,
div.header-container div.presentation-container div.content div.registration p:last-child {
  margin: 0;
}
div.header-container div.presentation-container div.content div.overview h2,
div.header-container div.presentation-container div.content div.registration h2 {
  line-height: 1em;
  margin-bottom: 24px;
}
div.header-container div.presentation-container div.content div.overview p,
div.header-container div.presentation-container div.content div.registration p {
  color: #ddd;
}
div.header-container div.presentation-container div.content div.overview.custom {
  background-color: rgba(0, 0, 0, 0.4);
  color: #eee;
  min-height: 547px;
}
div.header-container div.presentation-container div.content div.overview.custom h1 {
  color: #fb9701;
  font-size: 1.6em;
  margin-bottom: 30px;
}
div.header-container div.presentation-container div.content div.overview.custom h2 {
  color: #666;
  font-size: 1.2em;
  margin-bottom: 15px;
}
div.header-container div.presentation-container div.content div.overview.custom p {
  font-size: 14px;
}
div.header-container div.presentation-container div.content div.overview.custom div.contact-us form {
  margin: 10px 0;
}
div.header-container div.presentation-container div.content div.overview.custom div.contact-us form button,
div.header-container div.presentation-container div.content div.overview.custom div.contact-us form label,
div.header-container div.presentation-container div.content div.overview.custom div.contact-us form textarea,
div.header-container div.presentation-container div.content div.overview.custom div.contact-us form input[type="text"],
div.header-container div.presentation-container div.content div.overview.custom div.contact-us form input[type="email"] {
  font-family: 'Ubuntu', sans-serif;
}
div.header-container div.presentation-container div.content div.overview.custom div.contact-us form textarea,
div.header-container div.presentation-container div.content div.overview.custom div.contact-us form input[type="text"],
div.header-container div.presentation-container div.content div.overview.custom div.contact-us form input[type="email"] {
  background-color: #eee;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  width: 50%;
}
div.header-container div.presentation-container div.content div.overview.custom div.contact-us form button {
  font-weight: bold;
}
div.header-container div.presentation-container div.content div.overview h2 {
  color: #19a0df;
}
div.header-container div.presentation-container div.content div.registration h2 {
  color: #db4a38;
}
div.header-container div.presentation-container div.content div.registration form#leave-email-form {
  margin-bottom: 1.4em;
  text-align: center;
}
div.header-container div.presentation-container div.content div.registration form#leave-email-form input,
div.header-container div.presentation-container div.content div.registration form#leave-email-form a.btn {
  margin: 0;
}
div.header-container div.presentation-container div.content div.registration form#leave-email-form input[type="email"] {
  background-color: #eee;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  line-height: 1.4em;
  margin-right: 10px;
  padding: 5px 10px;
  width: 250px;
}
div.header-container div.presentation-container div.content div.registration form#leave-email-form a.btn {
  font-weight: bold;
  position: relative;
  top: -2px;
}
div.header-container div.presentation-container div.content div.registration form#leave-email-form div.registration-errors ul li {
  color: #db4a38;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  list-style: none;
}
div.header-container div.presentation-container div.link {
  background-color: black;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-left-radius: 4px;
  cursor: pointer;
  display: inline-block;
  float: right;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: bold;
  margin-right: 10px;
  padding: 4px 8px;
}
div.header-container div.presentation-container div.link.overview {
  color: #19a0df;
}
div.header-container div.presentation-container div.link.registration {
  color: #db4a38;
}
div.header-container div.presentation-container div.link:hover {
  color: white;
  -webkit-transition: color 0.25s linear;
  -moz-transition: color 0.25s linear;
  -o-transition: color 0.25s linear;
  transition: color 0.25s linear;
}
div.body-container div.overview-container {
  background-color: #19a0df;
}
div.body-container div.registration-container {
  background-color: #db4a38;
}
div.body-container div.overview-container,
div.body-container div.registration-container {
  height: 16px;
  margin-bottom: 10px;
}
div.body-container div.overview-container h2,
div.body-container div.registration-container h2 {
  cursor: pointer;
  font-size: 16px;
  line-height: 1em;
}
div.body-container div.overview-container h2 span.h2-label,
div.body-container div.registration-container h2 span.h2-label {
  display: inline-block;
  background-color: #eee;
  width: 17%;
}
div.body-container div.overview-container h2 span.show-hide-label,
div.body-container div.registration-container h2 span.show-hide-label {
  float: right;
}
div.body-container div.overview-container h2 span.msg,
div.body-container div.registration-container h2 span.msg {
  color: black;
  font-size: 12px;
}
div.body-container div.overview-container h2:hover span.msg,
div.body-container div.registration-container h2:hover span.msg,
div.body-container div.overview-container h2:hover i,
div.body-container div.registration-container h2:hover i {
  color: white;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
}
div.body-container div.overview-container.active,
div.body-container div.registration-container.active {
  margin-bottom: 10px;
  padding: 5px 10px;
}
div.body-container div.overview-container.active h2,
div.body-container div.registration-container.active h2,
div.body-container div.overview-container.active p,
div.body-container div.registration-container.active p {
  color: white;
}
div.body-container div.overview-container.active h2,
div.body-container div.registration-container.active h2 {
  cursor: pointer;
  font-size: 16px;
  line-height: 1.4em;
  margin: 0;
  padding: 0;
}
div.body-container div.champions-handler-container {
  background: #000000 url('/images/launch_site/champion_handler_bg.jpg') no-repeat bottom center;
  margin: 10px 0;
  min-height: 700px;
  padding: 10px;
}
div.body-container div.champions-handler-container.active #champion-comparison {
  margin-top: 45px;
}
div.body-container div.champions-handler-container div.actions-bar {
  margin: 10px 0 0 0;
}
div.body-container div.champions-handler-container div.actions-bar h2 {
  color: white;
  float: left;
  font-size: 1.1em;
  line-height: 32px;
  margin: 0;
}
div.body-container div.champions-handler-container div.actions-bar.active {
  left: 0;
  right: 0;
  position: fixed;
  top: 0;
  z-index: 1000;
  min-width: 1064px;
  margin-top: 0;
}
div.body-container div.champions-handler-container div.actions-bar.active div#actions-bar-content {
  height: 40px;
  padding-top: 13px;
}
div.body-container div.champions-handler-container div.actions-bar.active div#actions-bar-content ul#filters-list,
div.body-container div.champions-handler-container div.actions-bar.active div#actions-bar-content ul#comparison-list {
  margin-top: -8px;
}
div.body-container div.champions-handler-container div.actions-bar div#actions-bar-content {
  width: 1004px;
  margin: 0 auto;
  background-color: black;
  position: relative;
}
div.body-container div.champions-handler-container div.actions-bar div#actions-bar-content h2 {
  color: white;
  float: left;
  font-size: 1.1em;
  line-height: 32px;
  margin: 0;
}
div.body-container div.champions-handler-container div.actions-bar div#actions-bar-content ul.action-buttons {
  color: white;
  margin: 0;
  padding: 0;
  text-align: right;
}
div.body-container div.champions-handler-container div.actions-bar div#actions-bar-content ul.action-buttons li.action:last-child {
  margin-right: 8px;
}
div.body-container div.champions-handler-container div.actions-bar div#actions-bar-content ul.action-buttons li#filters-block,
div.body-container div.champions-handler-container div.actions-bar div#actions-bar-content ul.action-buttons li#comparison-list-dropdown {
  position: static;
}
div.body-container div.champions-handler-container div.actions-bar div#actions-bar-content ul.action-buttons li.action {
  background-color: rgba(25, 160, 223, 0.7);
  cursor: pointer;
  display: inline-block;
  line-height: 26px;
  margin: 0;
  margin-right: 1px;
  padding: 3px 6px 0 4px;
}
div.body-container div.champions-handler-container div.actions-bar div#actions-bar-content ul.action-buttons li.action.disabled {
  cursor: not-allowed;
  opacity: .65;
}
div.body-container div.champions-handler-container div.actions-bar div#actions-bar-content ul.action-buttons li.action.disabled a:hover {
  cursor: not-allowed;
}
div.body-container div.champions-handler-container div.actions-bar div#actions-bar-content ul.action-buttons li.action.link {
  padding: 0;
}
div.body-container div.champions-handler-container div.actions-bar div#actions-bar-content ul.action-buttons li.action.link a.action-button-link {
  display: block;
  padding: 3px 6px 0 2px;
}
div.body-container div.champions-handler-container div.actions-bar div#actions-bar-content ul.action-buttons li.action.link a.action-button-link.active {
  color: #fb9701;
  -webkit-transition: color 0.15s linear;
  -moz-transition: color 0.15s linear;
  -o-transition: color 0.15s linear;
  transition: color 0.15s linear;
}
div.body-container div.champions-handler-container div.actions-bar div#actions-bar-content ul.action-buttons li.action.link a.action-button-link.active i {
  color: #fb9701;
  -webkit-transition: color 0.15s linear;
  -moz-transition: color 0.15s linear;
  -o-transition: color 0.15s linear;
  transition: color 0.15s linear;
}
div.body-container div.champions-handler-container div.actions-bar div#actions-bar-content ul.action-buttons li.action.red-button {
  background-color: rgba(219, 74, 56, 0.7);
}
div.body-container div.champions-handler-container div.actions-bar div#actions-bar-content ul.action-buttons li.action.red-button.disabled {
  background-color: rgba(25, 160, 223, 0.7);
}
div.body-container div.champions-handler-container div.actions-bar div#actions-bar-content ul.action-buttons li.action.red-button.disabled:hover {
  background-color: #19a0df;
}
div.body-container div.champions-handler-container div.actions-bar div#actions-bar-content ul.action-buttons li.action.red-button:hover {
  background-color: #db4a38;
}
div.body-container div.champions-handler-container div.actions-bar div#actions-bar-content ul.action-buttons li.action.help-action {
  background-color: rgba(117, 158, 26, 0.7);
}
div.body-container div.champions-handler-container div.actions-bar div#actions-bar-content ul.action-buttons li.action.help-action:hover {
  background-color: #759e1a;
}
div.body-container div.champions-handler-container div.actions-bar div#actions-bar-content ul.action-buttons li.action a,
div.body-container div.champions-handler-container div.actions-bar div#actions-bar-content ul.action-buttons li.action a:visited,
div.body-container div.champions-handler-container div.actions-bar div#actions-bar-content ul.action-buttons li.action a:hover {
  color: white;
  display: block;
  text-decoration: none;
}
div.body-container div.champions-handler-container div.actions-bar div#actions-bar-content ul.action-buttons li.action img.loader {
  display: none;
}
div.body-container div.champions-handler-container div.actions-bar div#actions-bar-content ul.action-buttons li.action i {
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 0 0 0 0;
  position: relative;
  top: 1px;
}
div.body-container div.champions-handler-container div.actions-bar div#actions-bar-content ul.action-buttons li.action span.action-label {
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: normal;
  position: relative;
  top: -3px;
}
div.body-container div.champions-handler-container div.actions-bar div#actions-bar-content ul.action-buttons li.action:hover {
  background-color: #19a0df;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
div.body-container div.champions-handler-container div.actions-bar div#actions-bar-content ul.action-buttons li.action:hover span.action-label {
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
div.body-container div.champions-handler-container div.actions-bar div#actions-bar-content ul.action-buttons li.action:hover input[type="text"] {
  background-color: #19a0df;
  -webkit-transition: background-color 0.25s linear;
  -moz-transition: background-color 0.25s linear;
  -o-transition: background-color 0.25s linear;
  transition: background-color 0.25s linear;
}
div.body-container div.champions-handler-container div.actions-bar div#actions-bar-content ul.action-buttons li.action:hover input[type="text"]:-moz-placeholder {
  color: #cccccc;
}
div.body-container div.champions-handler-container div.actions-bar div#actions-bar-content ul.action-buttons li.action:hover input[type="text"]:-ms-input-placeholder {
  color: #cccccc;
}
div.body-container div.champions-handler-container div.actions-bar div#actions-bar-content ul.action-buttons li.action:hover input[type="text"]::-webkit-input-placeholder {
  color: #cccccc;
}
div.body-container div.champions-handler-container div.actions-bar div#actions-bar-content ul.action-buttons li.action input[type="text"] {
  border: 0;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  background-color: #11709c;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  line-height: 1.5em;
  margin: 0 0 2px 0;
  padding: 1px 5px;
  position: relative;
  top: -3px;
  width: 100px;
}
div.body-container div.champions-handler-container div.actions-bar div#actions-bar-content ul.action-buttons li.action input[type="text"]:-moz-placeholder {
  color: #cccccc;
}
div.body-container div.champions-handler-container div.actions-bar div#actions-bar-content ul.action-buttons li.action input[type="text"]:-ms-input-placeholder {
  color: #cccccc;
}
div.body-container div.champions-handler-container div.actions-bar div#actions-bar-content ul.action-buttons li.action input[type="text"]::-webkit-input-placeholder {
  color: #cccccc;
}
div.body-container div.champions-handler-container div.actions-bar div#actions-bar-content ul.action-buttons li.action ul.dropdown-menu {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}
div.body-container div.champions-handler-container div.actions-bar div#actions-bar-content ul.action-buttons li.action ul#comparison-list li.list-header,
div.body-container div.champions-handler-container div.actions-bar div#actions-bar-content ul.action-buttons li.action ul#filter-list li.list-header {
  color: #19a0df;
  font-family: 'Ubuntu', sans-serif;
  font-size: 11px;
  font-weight: bold;
  line-height: 20px;
  text-transform: uppercase;
  width: 100%;
}
div.body-container div.champions-handler-container div.actions-bar div#actions-bar-content ul.action-buttons li.action i#comparison-list-size {
  color: black;
  display: inline-block;
  font-family: 'Ubuntu', sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: bold;
  top: -1px;
}
div.body-container div.champions-handler-container div.actions-bar div#actions-bar-content ul.action-buttons li.action ul#comparison-list {
  background-color: rgba(0, 0, 0, 0.8);
  border: 1px solid #19a0df !important;
  overflow: hidden;
  width: 1002px;
}
div.body-container div.champions-handler-container div.actions-bar div#actions-bar-content ul.action-buttons li.action ul#comparison-list li {
  float: left;
  display: inline;
  width: 25%;
  text-align: center;
  min-height: 30px;
}
div.body-container div.champions-handler-container div.actions-bar div#actions-bar-content ul.action-buttons li.action ul#comparison-list li.indication,
div.body-container div.champions-handler-container div.actions-bar div#actions-bar-content ul.action-buttons li.action ul#comparison-list span.champion-comparable-name {
  font-size: 12px;
  line-height: 1.4em;
}
div.body-container div.champions-handler-container div.actions-bar div#actions-bar-content ul.action-buttons li.action ul#comparison-list li.indication {
  border: 1px dashed #999;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  border-radius: 5px !important;
  color: #999;
  font-style: italic;
  line-height: 30px;
  margin: 0 10px 11px 10px;
  padding: 15px;
  width: 95%;
}
div.body-container div.champions-handler-container div.actions-bar div#actions-bar-content ul.action-buttons li.action ul#comparison-list li.indication.hide {
  display: none;
}
div.body-container div.champions-handler-container div.actions-bar div#actions-bar-content ul.action-buttons li.action ul#comparison-list li.clean {
  border-top: 1px dashed rgba(255, 255, 255, 0.3);
  display: block;
  font-family: 'Ubuntu', sans-serif;
  font-size: 12px;
  position: relative;
  text-align: right;
  top: 6px;
  width: 100%;
}
div.body-container div.champions-handler-container div.actions-bar div#actions-bar-content ul.action-buttons li.action ul#comparison-list li.clean i,
div.body-container div.champions-handler-container div.actions-bar div#actions-bar-content ul.action-buttons li.action ul#comparison-list li.clean a {
  color: #666;
}
div.body-container div.champions-handler-container div.actions-bar div#actions-bar-content ul.action-buttons li.action ul#comparison-list li.clean i {
  display: inline-block;
  font-size: 14px;
  left: 3px;
  position: relative;
}
div.body-container div.champions-handler-container div.actions-bar div#actions-bar-content ul.action-buttons li.action ul#comparison-list li.clean.disabled {
  display: none;
}
div.body-container div.champions-handler-container div.actions-bar div#actions-bar-content ul.action-buttons li.action ul#comparison-list li.clean:hover a,
div.body-container div.champions-handler-container div.actions-bar div#actions-bar-content ul.action-buttons li.action ul#comparison-list li.clean:hover i {
  color: white;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
div.body-container div.champions-handler-container div.actions-bar div#actions-bar-content ul.action-buttons li.action ul#comparison-list li.champion-comparable {
  color: white;
}
div.body-container div.champions-handler-container div.actions-bar div#actions-bar-content ul.action-buttons li.action ul#comparison-list li.champion-comparable a.champion-comparable-remove {
  height: 25px;
}
div.body-container div.champions-handler-container div.actions-bar div#actions-bar-content ul.action-buttons li.action ul#comparison-list li.champion-comparable a.champion-comparable-remove:hover span.champion-comparable-name,
div.body-container div.champions-handler-container div.actions-bar div#actions-bar-content ul.action-buttons li.action ul#comparison-list li.champion-comparable a.champion-comparable-remove:hover i {
  color: white;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
div.body-container div.champions-handler-container div.actions-bar div#actions-bar-content ul.action-buttons li.action ul#comparison-list li.champion-comparable a.champion-comparable-remove img {
  width: 25px;
}
div.body-container div.champions-handler-container div.actions-bar div#actions-bar-content ul.action-buttons li.action ul#comparison-list li.champion-comparable span.champion-comparable-name {
  color: #999;
  display: inline-block;
  font-weight: bold;
  margin: 0;
  padding: 0;
  width: 167px;
}
div.body-container div.champions-handler-container div.actions-bar div#actions-bar-content ul.action-buttons li.action ul#comparison-list li.champion-comparable i {
  color: #999;
  font-size: 14px;
}
div.body-container div.champions-handler-container div.actions-bar div#actions-bar-content ul.action-buttons li.action ul#filters-list {
  background-color: rgba(0, 0, 0, 0.8);
  border: 1px solid #19a0df;
  text-align: left;
  width: 1002px;
  position: absolute;
}
div.body-container div.champions-handler-container div.actions-bar div#actions-bar-content ul.action-buttons li.action ul#filters-list div.row-filters div.span6 {
  padding: 5px 20px;
}
div.body-container div.champions-handler-container div.actions-bar div#actions-bar-content ul.action-buttons li.action ul#filters-list li.list-header {
  color: #19a0df;
  font-family: 'Ubuntu', sans-serif;
  font-size: 11px;
  font-weight: bold;
  line-height: 20px;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}
div.body-container div.champions-handler-container div.actions-bar div#actions-bar-content ul.action-buttons li.action ul#filters-list h4 {
  color: #666;
}
div.body-container div.champions-handler-container div.actions-bar div#actions-bar-content ul.action-buttons li.action ul#filters-list ul.tags-group {
  float: left;
  list-style: none;
  margin: 0 20px 0 0;
  padding: 0;
  width: 200px;
}
div.body-container div.champions-handler-container div.actions-bar div#actions-bar-content ul.action-buttons li.action ul#filters-list ul.tags-group li.nav-header {
  color: #fb9701;
  text-shadow: none;
}
div.body-container div.champions-handler-container div.actions-bar div#actions-bar-content ul.action-buttons li.action ul#filters-list ul.tags-group a {
  font-family: 'Ubuntu', sans-serif;
  padding: 3px 10px 3px 20px;
}
div.body-container div.champions-handler-container div.actions-bar div#actions-bar-content ul.action-buttons li.action ul#filters-list ul.tags-group a i {
  color: black;
  display: inline-block;
  font-size: 18px;
  margin: 0 10px 0 0;
}
div.body-container div.champions-handler-container div.actions-bar div#actions-bar-content ul.action-buttons li.action ul#filters-list ul.tags-group a.selected {
  color: #fb9701;
  font-weight: bold;
}
div.body-container div.champions-handler-container div.actions-bar div#actions-bar-content ul.action-buttons li.action ul#filters-list ul.tags-group a.selected i {
  color: #fb9701;
}
div.body-container div.champions-handler-container div.actions-bar div#actions-bar-content ul.action-buttons li.action ul#filters-list ul.tags-group a:hover {
  color: white;
}
div.body-container div.champions-handler-container div.actions-bar div#actions-bar-content ul.action-buttons li.action ul#filters-list ul.tags-group a:hover i {
  color: white;
}
div.body-container div.champions-handler-container div.actions-bar div#actions-bar-content ul.action-buttons li.action ul#filters-list div.div-action-buttons {
  min-height: 0;
  font-family: 'Ubuntu', sans-serif;
  font-size: 12px;
  position: relative;
  top: 6px;
  left: 0;
}
div.body-container div.champions-handler-container div.actions-bar div#actions-bar-content ul.action-buttons li.action ul#filters-list div.div-action-buttons div.span6 {
  min-height: 0;
  width: 50%;
}
div.body-container div.champions-handler-container div.actions-bar div#actions-bar-content ul.action-buttons li.action ul#filters-list div.div-action-buttons div.span6 i,
div.body-container div.champions-handler-container div.actions-bar div#actions-bar-content ul.action-buttons li.action ul#filters-list div.div-action-buttons div.span6 a {
  color: #666;
}
div.body-container div.champions-handler-container div.actions-bar div#actions-bar-content ul.action-buttons li.action ul#filters-list div.div-action-buttons div.span6:hover a,
div.body-container div.champions-handler-container div.actions-bar div#actions-bar-content ul.action-buttons li.action ul#filters-list div.div-action-buttons div.span6:hover i {
  color: white;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
div.body-container div.champions-handler-container div.actions-bar div#actions-bar-content ul.action-buttons li.action ul#filters-list div.div-action-buttons div.span6 i {
  display: inline-block;
  font-size: 14px;
  left: 3px;
  position: relative;
}
div.body-container div.champions-handler-container div.actions-bar div#actions-bar-content ul.action-buttons li.action ul#filters-list div.div-action-buttons div.span6.div-left {
  border-top: 1px dashed rgba(255, 255, 255, 0.3);
  text-align: left;
  border-right: 1px dashed rgba(255, 255, 255, 0.3);
}
div.body-container div.champions-handler-container div.actions-bar div#actions-bar-content ul.action-buttons li.action ul#filters-list div.div-action-buttons div.span6.div-right {
  margin-left: 0;
  text-align: right;
}
div.body-container div.champions-handler-container div.actions-bar div#actions-bar-content ul.action-buttons li.action ul#filters-list div.div-action-buttons div.span6.div-right li {
  border-top: 1px dashed rgba(255, 255, 255, 0.3);
}
div.body-container div.champions-handler-container div#champion-comparison {
  min-height: 300px;
  padding-left: 6px;
}
div.body-container div.champions-handler-container div#champion-comparison div.data-scrollable {
  position: relative;
}
div.body-container div.champions-handler-container div#champion-list ul {
  margin: 20px 0;
  padding: 0;
  min-height: 700px;
}
div.body-container div.champions-handler-container div#champion-list li.champion {
  background-color: black;
  border: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  border-radius: 5px !important;
  display: inline-block;
  height: 120px;
  margin: 0 2px 4px 2px;
  padding: 0;
  width: 118px;
}
div.body-container div.champions-handler-container div#champion-list li.champion:hover {
  cursor: pointer;
  border: 1px solid #fb9701;
  -webkit-transition: border 0.25s linear;
  -moz-transition: border 0.25s linear;
  -o-transition: border 0.25s linear;
  transition: border 0.25s linear;
}
div.body-container div.champions-handler-container div#champion-list li.champion:hover div.champion-name {
  background-color: rgba(0, 0, 0, 0.6);
  color: #eee;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
div.body-container div.champions-handler-container div#champion-list li.champion.animate-champion-portrait {
  height: 120px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  width: 118px;
}
div.body-container div.champions-handler-container div#champion-list li.champion.champion-maxi {
  background: #000000 url('/images/launch_site/champion_preview_bg.png') no-repeat top left;
  border: 1px solid #fb9701;
  cursor: default;
  height: 498px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  width: 490px;
  z-index: 900;
  margin-bottom: 4px;
}
div.body-container div.champions-handler-container div#champion-list li.champion div.portrait {
  padding: 9px;
}
div.body-container div.champions-handler-container div#champion-list li.champion div.champion-name {
  background-color: rgba(0, 0, 0, 0.3);
  color: #aaa;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.8em;
  position: relative;
  text-align: center;
  top: -27px;
}
div.body-container div.champions-handler-container div#champion-list li.champion div.loader {
  background-color: rgba(0, 0, 0, 0.8);
  height: 100px;
  padding-top: 40px;
  position: relative;
  text-align: center;
  top: -142px;
}
div.body-container div.champions-handler-container div#champion-list li.champion div.preview {
  color: #eee;
  font-size: 12px;
  padding: 10px 10px;
}
div.body-container div.champions-handler-container div#champion-list li.champion div.preview div.preview-header {
  background-image: url('/images/launch_site/preview_header_fr.png');
  background-repeat: no-repeat;
  cursor: pointer;
}
div.body-container div.champions-handler-container div#champion-list li.champion div.preview div.preview-header h3 {
  color: #fb9701;
  font-size: 18px;
  line-height: 1.2em;
  margin: 5px 0 0 10px;
}
div.body-container div.champions-handler-container div#champion-list li.champion div.preview div.preview-header h5 {
  color: #999;
  font-family: 'Trebuchet MS';
  font-size: 12px;
  margin: 0;
  margin-left: 10px;
  text-transform: uppercase;
}
div.body-container div.champions-handler-container div#champion-list li.champion div.preview div.preview-header p {
  color: #eee;
  font-size: 14px;
  margin: 15px 10px 15px 0;
  text-align: right;
}
div.body-container div.champions-handler-container div#champion-list li.champion div.preview div.preview-header p i {
  background-repeat: no-repeat;
  background-size: 16px 16px;
  display: inline-block;
  height: 16px;
  width: 16px;
}
div.body-container div.champions-handler-container div#champion-list li.champion div.preview div.preview-header p i.icon-rp {
  background-image: url('/images/commons/rp_logo.png');
}
div.body-container div.champions-handler-container div#champion-list li.champion div.preview div.preview-header p i.icon-ip {
  background-image: url('/images/commons/ip_logo.png');
}
div.body-container div.champions-handler-container div#champion-list li.champion div.preview div.preview-header p img {
  display: inline-block;
  position: relative;
  top: -2px;
  width: 16px;
}
div.body-container div.champions-handler-container div#champion-list li.champion div.preview div.preview-header:hover {
  background-image: url('/images/launch_site/preview_header_fr_hover.png');
  -webkit-transition: background-image 0.25s linear;
  -moz-transition: background-image 0.25s linear;
  -o-transition: background-image 0.25s linear;
  transition: background-image 0.25s linear;
}
div.body-container div.champions-handler-container div#champion-list li.champion div.preview div.preview-header.en {
  background-image: url('/images/launch_site/preview_header_en.png');
}
div.body-container div.champions-handler-container div#champion-list li.champion div.preview div.preview-header.en:hover {
  background-image: url('/images/launch_site/preview_header_en_hover.png');
}
div.body-container div.champions-handler-container div#champion-list li.champion div.preview .ad-color {
  color: #fb9701;
}
div.body-container div.champions-handler-container div#champion-list li.champion div.preview dd,
div.body-container div.champions-handler-container div#champion-list li.champion div.preview dt {
  font-family: 'Trebuchet MS', sans-serif;
}
div.body-container div.champions-handler-container div#champion-list li.champion div.preview dt {
  float: left;
  margin: 0 10px 0 5px;
  text-align: right;
  width: 150px;
}
div.body-container div.champions-handler-container div#champion-list li.champion div.preview dt.bonus {
  color: #666;
  text-transform: uppercase;
}
div.body-container div.champions-handler-container div#champion-list li.champion div.preview dd {
  both: clear;
  color: #fb9701;
  font-size: 14px;
  font-weight: bold;
}
div.body-container div.champions-handler-container div#champion-list li.champion div.preview dd.bonus {
  color: #19a0df;
}
div.body-container div.champions-handler-container div#champion-list li.champion div.preview dd.bonus,
div.body-container div.champions-handler-container div#champion-list li.champion div.preview dt.bonus {
  font-size: 10px;
  line-height: 1.1em;
  margin-bottom: 5px;
}
div.body-container div.champions-handler-container div#champion-list li.champion div.preview dl {
  margin: 29px 0 0 0;
}
div.body-container div.champions-handler-container div#champion-list li.champion div.preview dl dt.last-child,
div.body-container div.champions-handler-container div#champion-list li.champion div.preview dl dd:last-child {
  margin-top: 5px;
}
div.body-container div.champions-handler-container div#champion-list li.champion div.preview p.indication {
  color: #444;
  font-size: 12px;
  text-align: center;
  margin: 29px 0 0 0;
}
div.body-container div.champions-handler-container div#champion-list li.champion div.preview div.right-side div.champion-portrait {
  margin-top: 7px;
  opacity: 0.7;
}
div.body-container div.champions-handler-container div#champion-list li.champion div.preview div.right-side div.champion-portrait a.btn-action-champion-preview {
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid #999;
  color: white;
  display: inline-block;
  float: right;
  font-family: 'Ubuntu', sans-serif;
  line-height: 1em;
  margin: 360px 66px 0 2px;
  padding: 7px 0;
  text-align: center;
  width: 48%;
}
div.body-container div.champions-handler-container div#champion-list li.champion div.preview div.right-side div.champion-portrait a.btn-action-champion-preview:hover {
  background-color: #000000;
  border: 1px solid #fb9701;
  color: #fb9701;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
div.body-container div.champions-handler-container div#champion-list li.champion div.preview div.right-side div.champion-portrait a.btn-action-champion-preview strong {
  display: block;
}
div.modal {
  background: #000000 url('/images/launch_site/modal_bg.jpg') no-repeat top left;
  border: 1px solid rgba(255, 255, 255, 0.4);
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  height: 350px;
  width: 650px;
}
div.modal div.modal-header,
div.modal div.modal-body,
div.modal div.modal-footer {
  border: 0;
}
div.modal div.modal-header h3 {
  margin-top: 35px;
  color: #759e1a;
}
div.modal div.modal-header button.close {
  color: white;
  opacity: .4;
}
div.modal div.modal-header button.close:hover {
  opacity: 1;
  -webkit-transition: opacity 0.25s linear;
  -moz-transition: opacity 0.25s linear;
  -o-transition: opacity 0.25s linear;
  transition: opacity 0.25s linear;
}
div.modal div.modal-body {
  width: 315px;
}
span.back-to-home-tooltip {
  font-size: 14px;
}
div#footer {
  background: black;
  color: white;
  height: 118px;
  padding: 10px;
  text-align: center;
}
div#footer img {
  opacity: .8;
}
div#footer div.footer-social-container {
  border-left: 2px solid #999;
  height: 118px;
}
div#footer div.footer-social-container p {
  display: inline-block;
  margin: 26px 0;
  vertical-align: middle;
}
div#footer div.footer-social-container p span.msg {
  color: #759e1a;
  display: block;
  font-family: 'Ubuntu', sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 1em;
  margin-bottom: 5px;
  text-transform: uppercase;
}
div#footer div.footer-social-container p i {
  color: #666;
  font-size: 48px;
  line-height: 1em;
  margin: 0 3px;
}
div#footer div.footer-social-container p i.twitter:hover {
  color: #00acee;
  -webkit-transition: color 0.25s linear;
  -moz-transition: color 0.25s linear;
  -o-transition: color 0.25s linear;
  transition: color 0.25s linear;
}
div#footer div.footer-social-container p i.facebook:hover {
  color: #345390;
  -webkit-transition: color 0.25s linear;
  -moz-transition: color 0.25s linear;
  -o-transition: color 0.25s linear;
  transition: color 0.25s linear;
}
div#footer div.links {
  margin-top: 10px;
  text-align: left;
}
div#footer div.links h5,
div#footer div.links p {
  margin: 0;
  padding: 0;
}
div#footer div.links h5 {
  color: #fb9701;
  display: inline-block;
}
div#footer div.links p {
  color: #999;
  font-size: 12px;
  line-height: 1.4em;
  margin-bottom: 5px;
}
div#footer div.links p.subtitle {
  display: inline-block;
}
div#footer div.links ul {
  color: #666;
  font-size: 12px;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
}
div#footer div.links ul li:last-child,
div#footer div.links ul li:last-child {
  border: 0;
}
div#footer div.links ul li:first-child {
  color: #999;
  padding-left: 0;
}
div#footer div.links ul li {
  border-right: 1px solid #666;
  display: inline-block;
  line-height: 1em;
  padding: 0 5px;
}
div#footer div.links ul li a,
div#footer div.links ul li a:visited {
  color: #666;
  font-family: 'Ubuntu', sans-serif;
  font-size: 12px;
}
div#footer div.links ul li a:hover,
div#footer div.links ul li a:visited:hover {
  color: #fb9701;
  -webkit-transition: color 0.25s linear;
  -moz-transition: color 0.25s linear;
  -o-transition: color 0.25s linear;
  transition: color 0.25s linear;
}
div.alert {
  border: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  opacity: 0.8;
  text-shadow: none;
}
div.alert.alert-fixed {
  bottom: 10px;
  position: fixed;
  right: 10px;
  width: 300px;
  z-index: 1100;
}
div.alert.alert-success {
  background-color: #759e1a;
}
div.alert.alert-error {
  background-color: #db4a38;
}
