.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
p {
  color: #222;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  line-height: 1.5em;
  margin: 0;
  margin-bottom: 24px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222;
  font-family: 'Trebuchet MS', sans-serif;
  margin: 0;
  margin-bottom: 21px;
}
h1.no-margin,
h2.no-margin,
h3.no-margin,
h4.no-margin,
h5.no-margin,
h6.no-margin {
  margin: 0;
}
i {
  color: black;
  font-size: 16px;
  line-height: 1.5em;
}
i.icon-white {
  color: white;
}
i.icon-14px {
  font-size: 14px;
}
i.icon-24px {
  font-size: 24px;
}
i.icon-36px {
  font-size: 36px;
}
body {
  background-image: url('/images/launch_site/background.png');
}
div.countdown {
  margin: 15px 0 20px 0;
  padding: 0 20px;
}
div.countdown div {
  background-color: rgba(255, 255, 255, 0.4);
  border: 1px solid black;
  color: #222;
  display: inline-block;
  font-size: 18px;
  line-height: 1.4em;
  padding: 10px 0 5px 0;
  text-align: center;
  width: 110px;
  margin: 0 5px;
}
div.countdown span.launch-date-message {
  display: inline-block;
  float: left;
  font-weight: bold;
  line-height: 72px;
  margin-right: 10px;
}
div.countdown strong {
  color: #d14836;
  display: block;
  font-size: 36px !important;
  margin-bottom: 5px;
}
div.social-container {
  font-weight: bold;
  margin: 0 324px 40px 0;
  text-align: right;
}
div.presentation-container {
  background: rgba(255, 255, 255, 0.9) url('/images/launch_site/zilean_bg.png') no-repeat top right;
  border: 4px solid #000000;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 10px 0 0 0;
  padding: 0;
}
div.presentation-container img.logo {
  padding: 0 20px;
}
div.overview-container {
  background-color: #0096db;
}
div.registration-container {
  background-color: #d14836;
}
div.registration-container form {
  color: white;
  margin: 0;
  margin-bottom: 24px;
  text-align: center;
}
div.registration-container form input[type="email"],
div.registration-container form label {
  margin: 0;
  margin-right: 20px;
}
div.registration-container form input[type="email"] {
  font-family: 'Trebuchet MS';
  font-size: 16px;
  height: 30px;
  line-height: 1.4em;
  padding: 0 5px;
  width: 30%;
}
div.registration-container form label {
  display: inline-block;
  font-weight: bold;
  line-height: 40px;
  margin-right: 20px;
}
div.registration-container form span.submit-btn-label {
  font-weight: bold;
}
div.registration-container p.secret-msg {
  font-style: italic;
}
div.help-container {
  background-color: #759e1a;
}
div.champions-handler-container {
  background-color: black;
}
div.champions-handler-container h2 span,
div.champions-handler-container h2 i {
  color: #666;
}
div.champions-handler-container h2:hover span,
div.champions-handler-container h2:hover i {
  color: white;
}
div.overview-container,
div.registration-container,
div.help-container,
div.champions-handler-container {
  margin-bottom: 10px;
  padding: 20px;
}
div.overview-container h2,
div.registration-container h2,
div.help-container h2,
div.champions-handler-container h2,
div.overview-container p,
div.registration-container p,
div.help-container p,
div.champions-handler-container p {
  color: white;
  margin: 0;
}
div.overview-container p,
div.registration-container p,
div.help-container p,
div.champions-handler-container p {
  margin-bottom: 1.5em;
}
div.overview-container p:last-child,
div.registration-container p:last-child,
div.help-container p:last-child,
div.champions-handler-container p:last-child {
  margin-bottom: 0.5em;
}
div.overview-container div.content,
div.registration-container div.content,
div.help-container div.content,
div.champions-handler-container div.content {
  padding: 21px 0 0 0;
}
div.overview-container h2,
div.registration-container h2,
div.help-container h2,
div.champions-handler-container h2 {
  cursor: pointer;
}
div.overview-container h2:hover span,
div.registration-container h2:hover span,
div.help-container h2:hover span,
div.champions-handler-container h2:hover span,
div.overview-container h2:hover i,
div.registration-container h2:hover i,
div.help-container h2:hover i,
div.champions-handler-container h2:hover i {
  color: white;
}
div.overview-container span.show-hide-label,
div.registration-container span.show-hide-label,
div.help-container span.show-hide-label,
div.champions-handler-container span.show-hide-label {
  cursor: pointer;
  color: black;
  display: inline-block;
  float: right;
  font-size: 12px;
  line-height: 40px;
  vertical-align: middle;
}
div.registration-errors {
  font-size: 14px;
  line-height: 1.5em;
}
div.registration-errors ul {
  font-family: 'Ubuntu';
  margin: auto;
  margin-top: 15px;
  width: 60%;
}
div.registration-errors ul li {
  line-height: 1.5em;
  list-style-position: inside;
  list-style-type: square;
}
div#leave-email-success-modal.modal {
  left: 43%;
  width: 800px;
}
div#leave-email-success-modal div.modal-header {
  background-color: #759e1a;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  border-top-right-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-left-radius: 3px;
}
div#leave-email-success-modal div.modal-body {
  background-color: #eee;
  max-height: 600px;
}
div#leave-email-success-modal div.modal-body p {
  color: #333;
}
div#leave-email-success-modal div.modal-body img {
  float: right;
  margin-left: 20px;
}
div#leave-email-success-modal div.modal-footer {
  background-color: #eee;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-left-radius: 3px;
}
div.footer-container {
  background-color: black;
  min-height: 200px;
}
