<div class="block">
	<div class="header">
		<h3>Pourquoi créer un compte MVNerds ?</h3>
	</div>
	<div class="body">
		<p>
			Créer un compte MVNerds est très rapide et vous offre de nombreux avantages :
			
			<ul>
				<li>Enregistrement de vos listes d'objets personnalisées sur votre profil.</li>
				<li>Publication illimitée de vidéos.</li>
				<li>Association avec votre compte de jeu League of Legends.</li>
				<li>Contribuer à la vie de la communauté en votant et en laissant des commentaires.</li>
				<li>Et bien d'autres choses !</li>
			</ul>
		</p>
	</div>
</div>