.champion-square36 {
	background-image: url('/medias/images/champions/square36-sprite.jpg');
	height: 36px;
	width: 36px;
}

.champion-square36.ahri {
    
    
    background-position: -370px -333px;
}

.champion-square36.akali {
    
    
    background-position: -370px -296px;
}

.champion-square36.alistar {
    
    
    background-position: -370px -259px;
}

.champion-square36.amumu {
    
    
    background-position: -370px -222px;
}

.champion-square36.anivia {
    
    
    background-position: -370px -185px;
}

.champion-square36.annie {
    
    
    background-position: -370px -148px;
}

.champion-square36.ashe {
    
    
    background-position: -370px -111px;
}

.champion-square36.blitzcrank {
    
    
    background-position: -370px -74px;
}

.champion-square36.brand {
    
    
    background-position: -370px -37px;
}

.champion-square36.caitlyn {
    
    
    background-position: -370px -0px;
}

.champion-square36.cassiopeia {
    
    
    background-position: -333px -333px;
}

.champion-square36.chogath {
    
    
    background-position: -296px -333px;
}

.champion-square36.corki {
    
    
    background-position: -259px -333px;
}

.champion-square36.darius {
    
    
    background-position: -222px -333px;
}

.champion-square36.diana {
    
    
    background-position: -185px -333px;
}

.champion-square36.dr-mundo {
    
    
    background-position: -148px -333px;
}

.champion-square36.draven {
    
    
    background-position: -111px -333px;
}

.champion-square36.elise {
    
    
    background-position: -74px -333px;
}

.champion-square36.evelynn {
    
    
    background-position: -37px -333px;
}

.champion-square36.ezreal {
    
    
    background-position: -0px -333px;
}

.champion-square36.fiddlesticks {
    
    
    background-position: -333px -296px;
}

.champion-square36.fiora {
    
    
    background-position: -296px -296px;
}

.champion-square36.fizz {
    
    
    background-position: -259px -296px;
}

.champion-square36.galio {
    
    
    background-position: -222px -296px;
}

.champion-square36.gangplank {
    
    
    background-position: -185px -296px;
}

.champion-square36.garen {
    
    
    background-position: -148px -296px;
}

.champion-square36.gragas {
    
    
    background-position: -111px -296px;
}

.champion-square36.graves {
    
    
    background-position: -74px -296px;
}

.champion-square36.hecarim {
    
    
    background-position: -37px -296px;
}

.champion-square36.heimerdinger {
    
    
    background-position: -0px -296px;
}

.champion-square36.irelia {
    
    
    background-position: -333px -259px;
}

.champion-square36.janna {
    
    
    background-position: -296px -259px;
}

.champion-square36.jarvan-iv {
    
    
    background-position: -259px -259px;
}

.champion-square36.jax {
    
    
    background-position: -222px -259px;
}

.champion-square36.jayce {
    
    
    background-position: -185px -259px;
}

.champion-square36.karma {
    
    
    background-position: -148px -259px;
}

.champion-square36.karthus {
    
    
    background-position: -111px -259px;
}

.champion-square36.kassadin {
    
    
    background-position: -74px -259px;
}

.champion-square36.katarina {
    
    
    background-position: -37px -259px;
}

.champion-square36.kayle {
    
    
    background-position: -0px -259px;
}

.champion-square36.kennen {
    
    
    background-position: -333px -222px;
}

.champion-square36.khazix {
    
    
    background-position: -296px -222px;
}

.champion-square36.kogmaw {
    
    
    background-position: -259px -222px;
}

.champion-square36.leblanc {
    
    
    background-position: -222px -222px;
}

.champion-square36.lee-sin {
    
    
    background-position: -185px -222px;
}

.champion-square36.leona {
    
    
    background-position: -148px -222px;
}

.champion-square36.lulu {
    
    
    background-position: -111px -222px;
}

.champion-square36.lux {
    
    
    background-position: -74px -222px;
}

.champion-square36.maitre-yi {
    
    
    background-position: -37px -222px;
}

.champion-square36.malphite {
    
    
    background-position: -0px -222px;
}

.champion-square36.malzahar {
    
    
    background-position: -333px -185px;
}

.champion-square36.maokai {
    
    
    background-position: -296px -185px;
}

.champion-square36.miss-fortune {
    
    
    background-position: -259px -185px;
}

.champion-square36.mordekaiser {
    
    
    background-position: -222px -185px;
}

.champion-square36.morgana {
    
    
    background-position: -185px -185px;
}

.champion-square36.nami {
    
    
    background-position: -148px -185px;
}

.champion-square36.nasus {
    
    
    background-position: -111px -185px;
}

.champion-square36.nautilus {
    
    
    background-position: -74px -185px;
}

.champion-square36.nidalee {
    
    
    background-position: -37px -185px;
}

.champion-square36.nocturne {
    
    
    background-position: -0px -185px;
}

.champion-square36.nunu {
    
    
    background-position: -333px -148px;
}

.champion-square36.olaf {
    
    
    background-position: -296px -148px;
}

.champion-square36.orianna {
    
    
    background-position: -259px -148px;
}

.champion-square36.pantheon {
    
    
    background-position: -222px -148px;
}

.champion-square36.poppy {
    
    
    background-position: -185px -148px;
}

.champion-square36.rammus {
    
    
    background-position: -148px -148px;
}

.champion-square36.renekton {
    
    
    background-position: -111px -148px;
}

.champion-square36.rengar {
    
    
    background-position: -74px -148px;
}

.champion-square36.riven {
    
    
    background-position: -37px -148px;
}

.champion-square36.rumble {
    
    
    background-position: -0px -148px;
}

.champion-square36.ryze {
    
    
    background-position: -333px -111px;
}

.champion-square36.sejuani {
    
    
    background-position: -296px -111px;
}

.champion-square36.shaco {
    
    
    background-position: -259px -111px;
}

.champion-square36.shen {
    
    
    background-position: -222px -111px;
}

.champion-square36.shyvana {
    
    
    background-position: -185px -111px;
}

.champion-square36.singed {
    
    
    background-position: -148px -111px;
}

.champion-square36.sion {
    
    
    background-position: -111px -111px;
}

.champion-square36.sivir {
    
    
    background-position: -74px -111px;
}

.champion-square36.skarner {
    
    
    background-position: -37px -111px;
}

.champion-square36.sona {
    
    
    background-position: -0px -111px;
}

.champion-square36.soraka {
    
    
    background-position: -333px -74px;
}

.champion-square36.swain {
    
    
    background-position: -296px -74px;
}

.champion-square36.syndra {
    
    
    background-position: -259px -74px;
}

.champion-square36.talon {
    
    
    background-position: -222px -74px;
}

.champion-square36.taric {
    
    
    background-position: -185px -74px;
}

.champion-square36.teemo {
    
    
    background-position: -148px -74px;
}

.champion-square36.thresh {
    
    
    background-position: -111px -74px;
}

.champion-square36.tristana {
    
    
    background-position: -74px -74px;
}

.champion-square36.trundle {
    
    
    background-position: -37px -74px;
}

.champion-square36.tryndamere {
    
    
    background-position: -0px -74px;
}

.champion-square36.twisted-fate {
    
    
    background-position: -333px -37px;
}

.champion-square36.twitch {
    
    
    background-position: -296px -37px;
}

.champion-square36.udyr {
    
    
    background-position: -259px -37px;
}

.champion-square36.urgot {
    
    
    background-position: -222px -37px;
}

.champion-square36.varus {
    
    
    background-position: -185px -37px;
}

.champion-square36.vayne {
    
    
    background-position: -148px -37px;
}

.champion-square36.veigar {
    
    
    background-position: -111px -37px;
}

.champion-square36.vi {
    
    
    background-position: -74px -37px;
}

.champion-square36.viktor {
    
    
    background-position: -37px -37px;
}

.champion-square36.vladimir {
    
    
    background-position: -0px -37px;
}

.champion-square36.volibear {
    
    
    background-position: -333px -0px;
}

.champion-square36.warwick {
    
    
    background-position: -296px -0px;
}

.champion-square36.wukong {
    
    
    background-position: -259px -0px;
}

.champion-square36.xerath {
    
    
    background-position: -222px -0px;
}

.champion-square36.xin-zhao {
    
    
    background-position: -185px -0px;
}

.champion-square36.yorick {
    
    
    background-position: -148px -0px;
}

.champion-square36.zed {
    
    
    background-position: -111px -0px;
}

.champion-square36.ziggs {
    
    
    background-position: -74px -0px;
}

.champion-square36.zilean {
    
    
    background-position: -37px -0px;
}

.champion-square36.zyra {
    
    
    background-position: -0px -0px;
}

.champion-square36.quinn {
    background-image: url('/medias/images/champions/quinn36.png');
    height: 36px;
    width: 36px;
}