.champion-portrait {
	background-image: url('/medias/images/champions/portrait-sprite.jpg');
	height: 419px;
	width: 230px;
}

.champion-portrait.ahri {
   
    
    background-position: -693px -2940px;
}

.champion-portrait.akali {
   
    
    background-position: -462px -2940px;
}

.champion-portrait.alistar {
   
    
    background-position: -231px -2940px;
}

.champion-portrait.amumu {
   
    
    background-position: -0px -2940px;
}

.champion-portrait.anivia {
   
    
    background-position: -3234px -2520px;
}

.champion-portrait.annie {
   
    
    background-position: -3234px -2100px;
}

.champion-portrait.ashe {
   
    
    background-position: -3234px -1680px;
}

.champion-portrait.blitzcrank {
   
    
    background-position: -3234px -1260px;
}

.champion-portrait.brand {
   
    
    background-position: -3234px -840px;
}

.champion-portrait.caitlyn {
   
    
    background-position: -3234px -420px;
}

.champion-portrait.cassiopeia {
   
    
    background-position: -3234px -0px;
}

.champion-portrait.chogath {
   
    
    background-position: -3003px -2520px;
}

.champion-portrait.corki {
   
    
    background-position: -2772px -2520px;
}

.champion-portrait.darius {
   
    
    background-position: -2541px -2520px;
}

.champion-portrait.diana {
   
    
    background-position: -2310px -2520px;
}

.champion-portrait.dr-mundo {
   
    
    background-position: -2079px -2520px;
}

.champion-portrait.draven {
   
    
    background-position: -1848px -2520px;
}

.champion-portrait.elise {
   
    
    background-position: -1617px -2520px;
}

.champion-portrait.evelynn {
   
    
    background-position: -1386px -2520px;
}

.champion-portrait.ezreal {
   
    
    background-position: -1155px -2520px;
}

.champion-portrait.fiddlesticks {
   
    
    background-position: -924px -2520px;
}

.champion-portrait.fiora {
   
    
    background-position: -693px -2520px;
}

.champion-portrait.fizz {
   
    
    background-position: -462px -2520px;
}

.champion-portrait.galio {
   
    
    background-position: -231px -2520px;
}

.champion-portrait.gangplank {
   
    
    background-position: -0px -2520px;
}

.champion-portrait.garen {
   
    
    background-position: -3003px -2100px;
}

.champion-portrait.gragas {
   
    
    background-position: -2772px -2100px;
}

.champion-portrait.graves {
   
    
    background-position: -2541px -2100px;
}

.champion-portrait.hecarim {
   
    
    background-position: -2310px -2100px;
}

.champion-portrait.heimerdinger {
   
    
    background-position: -2079px -2100px;
}

.champion-portrait.irelia {
   
    
    background-position: -1848px -2100px;
}

.champion-portrait.janna {
   
    
    background-position: -1617px -2100px;
}

.champion-portrait.jarvan-iv {
   
    
    background-position: -1386px -2100px;
}

.champion-portrait.jax {
   
    
    background-position: -1155px -2100px;
}

.champion-portrait.jayce {
   
    
    background-position: -924px -2100px;
}

.champion-portrait.karma {
   
    
    background-position: -693px -2100px;
}

.champion-portrait.karthus {
   
    
    background-position: -462px -2100px;
}

.champion-portrait.kassadin {
   
    
    background-position: -231px -2100px;
}

.champion-portrait.katarina {
   
    
    background-position: -0px -2100px;
}

.champion-portrait.kayle {
   
    
    background-position: -3003px -1680px;
}

.champion-portrait.kennen {
   
    
    background-position: -2772px -1680px;
}

.champion-portrait.khazix {
   
    
    background-position: -2541px -1680px;
}

.champion-portrait.kogmaw {
   
    
    background-position: -2310px -1680px;
}

.champion-portrait.leblanc {
   
    
    background-position: -2079px -1680px;
}

.champion-portrait.lee-sin {
   
    
    background-position: -1848px -1680px;
}

.champion-portrait.leona {
   
    
    background-position: -1617px -1680px;
}

.champion-portrait.lulu {
   
    
    background-position: -1386px -1680px;
}

.champion-portrait.lux {
   
    
    background-position: -1155px -1680px;
}

.champion-portrait.maitre-yi {
   
    
    background-position: -924px -1680px;
}

.champion-portrait.malphite {
   
    
    background-position: -693px -1680px;
}

.champion-portrait.malzahar {
   
    
    background-position: -462px -1680px;
}

.champion-portrait.maokai {
   
    
    background-position: -231px -1680px;
}

.champion-portrait.miss-fortune {
   
    
    background-position: -0px -1680px;
}

.champion-portrait.mordekaiser {
   
    
    background-position: -3003px -1260px;
}

.champion-portrait.morgana {
   
    
    background-position: -2772px -1260px;
}

.champion-portrait.nami {
   
    
    background-position: -2541px -1260px;
}

.champion-portrait.nasus {
   
    
    background-position: -2310px -1260px;
}

.champion-portrait.nautilus {
   
    
    background-position: -2079px -1260px;
}

.champion-portrait.nidalee {
   
    
    background-position: -1848px -1260px;
}

.champion-portrait.nocturne {
   
    
    background-position: -1617px -1260px;
}

.champion-portrait.nunu {
   
    
    background-position: -1386px -1260px;
}

.champion-portrait.olaf {
   
    
    background-position: -1155px -1260px;
}

.champion-portrait.orianna {
   
    
    background-position: -924px -1260px;
}

.champion-portrait.pantheon {
   
    
    background-position: -693px -1260px;
}

.champion-portrait.poppy {
   
    
    background-position: -462px -1260px;
}

.champion-portrait.rammus {
   
    
    background-position: -231px -1260px;
}

.champion-portrait.renekton {
   
    
    background-position: -0px -1260px;
}

.champion-portrait.rengar {
   
    
    background-position: -3003px -840px;
}

.champion-portrait.riven {
   
    
    background-position: -2772px -840px;
}

.champion-portrait.rumble {
   
    
    background-position: -2541px -840px;
}

.champion-portrait.ryze {
   
    
    background-position: -2310px -840px;
}

.champion-portrait.sejuani {
   
    
    background-position: -2079px -840px;
}

.champion-portrait.shaco {
   
    
    background-position: -1848px -840px;
}

.champion-portrait.shen {
   
    
    background-position: -1617px -840px;
}

.champion-portrait.shyvana {
   
    
    background-position: -1386px -840px;
}

.champion-portrait.singed {
   
    
    background-position: -1155px -840px;
}

.champion-portrait.sion {
   
    
    background-position: -924px -840px;
}

.champion-portrait.sivir {
   
    
    background-position: -693px -840px;
}

.champion-portrait.skarner {
   
    
    background-position: -462px -840px;
}

.champion-portrait.sona {
   
    
    background-position: -231px -840px;
}

.champion-portrait.soraka {
   
    
    background-position: -0px -840px;
}

.champion-portrait.swain {
   
    
    background-position: -3003px -420px;
}

.champion-portrait.syndra {
   
    
    background-position: -2772px -420px;
}

.champion-portrait.talon {
   
    
    background-position: -2541px -420px;
}

.champion-portrait.taric {
   
    
    background-position: -2310px -420px;
}

.champion-portrait.teemo {
   
    
    background-position: -2079px -420px;
}

.champion-portrait.tristana {
   
    
    background-position: -1848px -420px;
}

.champion-portrait.trundle {
   
    
    background-position: -1617px -420px;
}

.champion-portrait.tryndamere {
   
    
    background-position: -1386px -420px;
}

.champion-portrait.twisted-fate {
   
    
    background-position: -1155px -420px;
}

.champion-portrait.twitch {
   
    
    background-position: -924px -420px;
}

.champion-portrait.udyr {
   
    
    background-position: -693px -420px;
}

.champion-portrait.urgot {
   
    
    background-position: -462px -420px;
}

.champion-portrait.varus {
   
    
    background-position: -231px -420px;
}

.champion-portrait.vayne {
   
    
    background-position: -0px -420px;
}

.champion-portrait.veigar {
   
    
    background-position: -3003px -0px;
}

.champion-portrait.vi {
   
    
    background-position: -2772px -0px;
}

.champion-portrait.viktor {
   
    
    background-position: -2541px -0px;
}

.champion-portrait.vladimir {
   
    
    background-position: -2310px -0px;
}

.champion-portrait.volibear {
   
    
    background-position: -2079px -0px;
}

.champion-portrait.warwick {
   
    
    background-position: -1848px -0px;
}

.champion-portrait.wukong {
   
    
    background-position: -1617px -0px;
}

.champion-portrait.xerath {
   
    
    background-position: -1386px -0px;
}

.champion-portrait.xin-zhao {
   
    
    background-position: -1155px -0px;
}

.champion-portrait.yorick {
   
    
    background-position: -924px -0px;
}

.champion-portrait.zed {
   
    
    background-position: -693px -0px;
}

.champion-portrait.ziggs {
   
    
    background-position: -462px -0px;
}

.champion-portrait.zilean {
   
    
    background-position: -231px -0px;
}

.champion-portrait.zyra {
   background-position: -0px -0px;
}

.champion-portrait.thresh {
    background-position: -924px -2940px;
}
