.champion-square36 {
  background: url('../../images/champions/square36-sprite.jpg') no-repeat;
  height: 36px;
  width: 36px;
}
.champion-square36.morgana {
  background-position: 0px 0px;
}
.champion-square36.karma {
  background-position: -36px 0px;
}
.champion-square36.akali {
  background-position: -72px 0px;
}
.champion-square36.alistar {
  background-position: -108px 0px;
}
.champion-square36.amumu {
  background-position: -144px 0px;
}
.champion-square36.anivia {
  background-position: -180px 0px;
}
.champion-square36.annie {
  background-position: -216px 0px;
}
.champion-square36.ashe {
  background-position: -252px 0px;
}
.champion-square36.ahri {
  background-position: -288px 0px;
}
.champion-square36.blitzcrank {
  background-position: -324px 0px;
}
.champion-square36.brand {
  background-position: 0px -36px;
}
.champion-square36.diana {
  background-position: -36px -36px;
}
.champion-square36.cassiopeia {
  background-position: -72px -36px;
}
.champion-square36.caitlyn {
  background-position: -108px -36px;
}
.champion-square36.corki {
  background-position: -144px -36px;
}
.champion-square36.darius {
  background-position: -180px -36px;
}
.champion-square36.chogath {
  background-position: -216px -36px;
}
.champion-square36.dr-mundo {
  background-position: -252px -36px;
}
.champion-square36.fiora {
  background-position: -288px -36px;
}
.champion-square36.ezreal {
  background-position: -324px -36px;
}
.champion-square36.elise {
  background-position: 0px -72px;
}
.champion-square36.fiddlesticks {
  background-position: -36px -72px;
}
.champion-square36.evelynn {
  background-position: -72px -72px;
}
.champion-square36.draven {
  background-position: -108px -72px;
}
.champion-square36.fizz {
  background-position: -144px -72px;
}
.champion-square36.galio {
  background-position: -180px -72px;
}
.champion-square36.gragas {
  background-position: -216px -72px;
}
.champion-square36.garen {
  background-position: -252px -72px;
}
.champion-square36.gangplank {
  background-position: -288px -72px;
}
.champion-square36.graves {
  background-position: -324px -72px;
}
.champion-square36.jayce {
  background-position: 0px -108px;
}
.champion-square36.hecarim {
  background-position: -36px -108px;
}
.champion-square36.jax {
  background-position: -72px -108px;
}
.champion-square36.janna {
  background-position: -108px -108px;
}
.champion-square36.jarvan-iv {
  background-position: -144px -108px;
}
.champion-square36.heimerdinger {
  background-position: -180px -108px;
}
.champion-square36.irelia {
  background-position: -216px -108px;
}
.champion-square36.shaco {
  background-position: -252px -108px;
}
.champion-square36.karthus {
  background-position: -288px -108px;
}
.champion-square36.shyvana {
  background-position: -324px -108px;
}
.champion-square36.renekton {
  background-position: 0px -144px;
}
.champion-square36.leblanc {
  background-position: -36px -144px;
}
.champion-square36.kayle {
  background-position: -72px -144px;
}
.champion-square36.khazix {
  background-position: -108px -144px;
}
.champion-square36.kennen {
  background-position: -144px -144px;
}
.champion-square36.maitre-yi {
  background-position: -180px -144px;
}
.champion-square36.lee-sin {
  background-position: -216px -144px;
}
.champion-square36.kogmaw {
  background-position: -252px -144px;
}
.champion-square36.leona {
  background-position: -288px -144px;
}
.champion-square36.lulu {
  background-position: -324px -144px;
}
.champion-square36.lux {
  background-position: 0px -180px;
}
.champion-square36.malphite {
  background-position: -36px -180px;
}
.champion-square36.poppy {
  background-position: -72px -180px;
}
.champion-square36.malzahar {
  background-position: -108px -180px;
}
.champion-square36.nasus {
  background-position: -144px -180px;
}
.champion-square36.katarina {
  background-position: -180px -180px;
}
.champion-square36.miss-fortune {
  background-position: -216px -180px;
}
.champion-square36.nami {
  background-position: -252px -180px;
}
.champion-square36.mordekaiser {
  background-position: -288px -180px;
}
.champion-square36.maokai {
  background-position: -324px -180px;
}
.champion-square36.pantheon {
  background-position: 0px -216px;
}
.champion-square36.nunu {
  background-position: -36px -216px;
}
.champion-square36.nautilus {
  background-position: -72px -216px;
}
.champion-square36.nocturne {
  background-position: -108px -216px;
}
.champion-square36.olaf {
  background-position: -144px -216px;
}
.champion-square36.nidalee {
  background-position: -180px -216px;
}
.champion-square36.orianna {
  background-position: -216px -216px;
}
.champion-square36.kassadin {
  background-position: -252px -216px;
}
.champion-square36.rammus {
  background-position: -288px -216px;
}
.champion-square36.quinn {
  background-position: -324px -216px;
}
.champion-square36.trundle {
  background-position: 0px -252px;
}
.champion-square36.ryze {
  background-position: -36px -252px;
}
.champion-square36.rumble {
  background-position: -72px -252px;
}
.champion-square36.riven {
  background-position: -108px -252px;
}
.champion-square36.rengar {
  background-position: -144px -252px;
}
.champion-square36.twitch {
  background-position: -180px -252px;
}
.champion-square36.sejuani {
  background-position: -216px -252px;
}
.champion-square36.udyr {
  background-position: -252px -252px;
}
.champion-square36.shen {
  background-position: -288px -252px;
}
.champion-square36.varus {
  background-position: -324px -252px;
}
.champion-square36.sona {
  background-position: 0px -288px;
}
.champion-square36.sion {
  background-position: -36px -288px;
}
.champion-square36.singed {
  background-position: -72px -288px;
}
.champion-square36.sivir {
  background-position: -108px -288px;
}
.champion-square36.skarner {
  background-position: -144px -288px;
}
.champion-square36.vi {
  background-position: -180px -288px;
}
.champion-square36.talon {
  background-position: -216px -288px;
}
.champion-square36.soraka {
  background-position: -252px -288px;
}
.champion-square36.syndra {
  background-position: -288px -288px;
}
.champion-square36.swain {
  background-position: -324px -288px;
}
.champion-square36.viktor {
  background-position: 0px -324px;
}
.champion-square36.tristana {
  background-position: -36px -324px;
}
.champion-square36.taric {
  background-position: -72px -324px;
}
.champion-square36.teemo {
  background-position: -108px -324px;
}
.champion-square36.thresh {
  background-position: -144px -324px;
}
.champion-square36.warwick {
  background-position: -180px -324px;
}
.champion-square36.urgot {
  background-position: -216px -324px;
}
.champion-square36.tryndamere {
  background-position: -252px -324px;
}
.champion-square36.twisted-fate {
  background-position: -288px -324px;
}
.champion-square36.xerath {
  background-position: -324px -324px;
}
.champion-square36.veigar {
  background-position: -360px 0px;
}
.champion-square36.vayne {
  background-position: -360px -36px;
}
.champion-square36.vladimir {
  background-position: -360px -72px;
}
.champion-square36.volibear {
  background-position: -360px -108px;
}
.champion-square36.wukong {
  background-position: -360px -144px;
}
.champion-square36.xin-zhao {
  background-position: -360px -180px;
}
.champion-square36.yorick {
  background-position: -360px -216px;
}
.champion-square36.zed {
  background-position: -360px -252px;
}
.champion-square36.ziggs {
  background-position: -360px -288px;
}
.champion-square36.zilean {
  background-position: -360px -324px;
}
.champion-square36.zyra {
  background-position: 0px -360px;
}
.champion-square36.zac {
  background-position: -36px -360px;
}
