.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
div.span8.left-content div.champion-square {
  float: left;
  margin: 0 10px 0 0;
}
div.span8.left-content h1,
div.span8.left-content h2 {
  border-bottom: 1px solid #db4a38;
}
div.span8.left-content h1 {
  margin: 0 0 0 110px;
}
div.span8.left-content h2 {
  margin: 0 0 10px 0;
}
div.span8.left-content div.champion-title {
  color: #be3322;
  font-weight: bold;
  margin: 3px 0;
  position: relative;
  text-transform: uppercase;
}
div.span8.left-content div.champion-title div.cost {
  color: #111111;
  font-weight: normal;
  position: absolute;
  right: 0;
  text-transform: lowercase;
  top: 0;
}
div.span8.left-content div.statistics-container {
  margin: 0 0 30px 0;
}
div.span8.left-content div.statistics-container dl {
  display: inline-block;
  margin: 0 0 20px 0;
  vertical-align: top;
  width: 49%;
}
div.span8.left-content div.statistics-container dl dt,
div.span8.left-content div.statistics-container dl dd {
  display: inline-block;
}
div.span8.left-content div.statistics-container dl dd {
  font-weight: bold;
}
div.span8.left-content div.statistics-container dl dd.bonus {
  color: #19a0df;
  font-size: 12px;
}
div.span8.left-content div.statistics-container dl dd span.lvl-max {
  color: #db4a38;
}
div.span8.left-content div.statistics-container dl dt {
  color: #444;
  margin: 7px 0 0 0;
  text-align: right;
  width: 170px;
}
div.span8.left-content div.statistics-container dl dt.bonus {
  color: #aaa;
  font-size: 10px;
  margin: 0;
  text-transform: uppercase;
}
div.span8.left-content div.statistics-container p.note {
  color: #e28801;
  font-size: 14px;
  font-style: italic;
  margin: 0 30px;
  position: relative;
}
div.span8.left-content div.statistics-container p.note i {
  left: -17px;
  position: absolute;
  top: 2px;
}
div.span8.left-content div.lore-container {
  margin: 0 0 40px 0;
  position: relative;
}
div.span8.left-content div.lore-container p {
  border-bottom: 1px solid #bbb;
  height: 99px;
  margin: 0;
  overflow: hidden;
}
div.span8.left-content div.lore-container p.active {
  height: 100%;
  overflow: initial;
  padding: 0 0 10px 0;
}
div.span8.left-content div.lore-container a.read-more {
  background-color: #759e1a;
  bottom: -18px;
  color: white;
  display: inline-block;
  left: 50%;
  padding: 0 10px;
  position: absolute;
}
div.span8.left-content div.lore-container a.read-more i {
  display: inline-block;
  position: relative;
  top: 1px;
}
div.span8.left-content div.ad-container {
  margin-top: 10px;
}
div.span8.left-content div.skins-container {
  margin: 0 0 20px 0;
}
div.span8.left-content div.skins-container div.skin {
  border: 3px solid black;
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  border-radius: 3px !important;
  cursor: pointer;
  display: inline-block;
  margin: 0 2px 10px 2px;
  opacity: .75;
  position: relative;
}
div.span8.left-content div.skins-container div.skin:hover {
  opacity: 1;
  -webkit-transition: opacity 0.25s linear;
  -moz-transition: opacity 0.25s linear;
  -o-transition: opacity 0.25s linear;
  transition: opacity 0.25s linear;
}
div.span8.left-content div.skins-container div.skin.active {
  background-color: black;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  cursor: default;
  opacity: 1;
  padding: 10px;
  width: 608px;
}
div.span8.left-content div.skins-container div.skin.active img {
  margin: 0 10px 0 0;
}
div.span8.left-content div.skins-container div.skin.active div.skin-infos {
  display: none;
}
div.span8.left-content div.skins-container div.skin.active div.skin-detail {
  display: inline-block;
}
div.span8.left-content div.skins-container div.skin img {
  width: 147px;
}
div.span8.left-content div.skins-container div.skin div.skin-infos {
  background-color: rgba(0, 0, 0, 0.8);
  color: #eee;
  left: 0;
  padding: 5px 0;
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 147px;
}
div.span8.left-content div.skins-container div.skin div.skin-detail {
  display: none;
  width: 448px;
}
div.span8.left-content div.skins-container div.skin div.skin-detail h5 {
  border-bottom: 1px solid #fb9701;
  color: #fb9701;
  margin: 0 0 15px 0;
  padding: 0 0 3px 0;
  position: relative;
}
div.span8.left-content div.skins-container div.skin div.skin-detail h5 span.cost {
  color: #aaa;
  position: absolute;
  right: 0;
  top: 0;
}
div.span8.left-content div.skins-container div.skin div.skin-detail div.video-container {
  text-align: center;
}
div.span8.left-content .cost i {
  background-image: url('/medias/images/commons/rp_logo.png') !important;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  display: inline-block;
  height: 16px;
  position: relative;
  top: 3px;
  width: 16px;
}
div.span8.left-content .cost i.icon-ip {
  background-image: url('/medias/images/commons/ip_logo.png') !important;
}
div.span4.right-content div.block div.header {
  cursor: pointer;
  position: relative;
}
div.span4.right-content div.block div.header:hover {
  background-color: #ddd;
  -webkit-transition: background-color 0.25s linear;
  -moz-transition: background-color 0.25s linear;
  -o-transition: background-color 0.25s linear;
  transition: background-color 0.25s linear;
}
div.span4.right-content div.block div.header div.skill-key {
  background-color: black;
  bottom: 0;
  color: white;
  display: inline-block;
  font-weight: bold;
  left: 50%;
  margin: -11px 0 -12px -10px;
  opacity: .8;
  padding: 1px 7px;
  position: absolute;
  text-transform: uppercase;
}
div.span4.right-content div.block div.header div.skill-key.ultimate {
  background-color: #db4a38;
  margin-left: -43px;
}
div.span4.right-content div.block div.header div.skill-key.passive {
  margin-left: -30px;
}
div.span4.right-content div.block div.header i {
  margin: -7px 0 0 0;
  position: absolute;
  right: 10px;
  top: 50%;
}
div.span4.right-content div.block div.header img {
  border: 2px solid #000;
  -webkit-border-radius: 7px !important;
  -moz-border-radius: 7px !important;
  border-radius: 7px !important;
  left: -11px;
  position: absolute;
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  transform: rotate(-10deg);
  top: 0px;
  width: 36px;
}
div.span4.right-content div.block div.header h3 {
  padding: 0 23px 0 30px;
}
div.span4.right-content div.block div.body {
  background-color: inherit !important;
  border: 1px solid #bbb;
  border-top: 0;
  padding: 20px 0 10px 0 !important;
}
div.span4.right-content div.block div.body p.cdr-cost {
  color: #db4a38 !important;
}
div.span4.right-content div.block div.body p.description {
  color: #111111 !important;
}
div.comments-container form.leave-comment-form {
  background-color: #92281b;
  padding: 10px 50px;
}
div.comments-container form.leave-comment-form div.span2 img {
  border: 3px solid #999;
}
div.comments-container form.leave-comment-form div.span10 div.comment-actions {
  margin: 4px 0 0 0;
  text-align: right;
}
div.comments-container form.leave-comment-form div.span10 div.comment-actions a.btn {
  margin: 0 !important;
}
div.comments-container form.leave-comment-form div.span10 textarea {
  width: 434px;
}
div.comments-container form.leave-comment-form div.span10 i {
  color: white;
}
div.comments-container div.comments-list {
  margin: 0 0 30px 0;
  padding: 0 50px;
}
div.comments-container div.comments-list div.no-comment {
  border: 1px dashed #999;
  color: #999;
  padding: 10px 0;
  text-align: center;
}
div.comments-container div.comments-list div.comment-block {
  margin: 0 0 10px 0;
}
div.comments-container div.comments-list div.comment-block div.span2 {
  border: 4px solid #ccc;
}
div.comments-container div.comments-list div.comment-block div.span10 {
  border: 2px solid #ccc;
  -webkit-box-shadow: 1px 2px 2px #cccccc;
  -moz-box-shadow: 1px 2px 2px #cccccc;
  box-shadow: 1px 2px 2px #cccccc;
  padding: 10px;
  position: relative;
}
div.comments-container div.comments-list div.comment-block div.span10:hover {
  border-color: #999;
  -webkit-transition: border-color 0.25s linear;
  -moz-transition: border-color 0.25s linear;
  -o-transition: border-color 0.25s linear;
  transition: border-color 0.25s linear;
}
div.comments-container div.comments-list div.comment-block div.span10:hover i.icon-caret-left {
  color: #999;
  -webkit-transition: color 0.25s linear;
  -moz-transition: color 0.25s linear;
  -o-transition: color 0.25s linear;
  transition: color 0.25s linear;
}
div.comments-container div.comments-list div.comment-block div.span10:hover div.comment-date {
  color: #111111;
  -webkit-transition: color 0.25s linear;
  -moz-transition: color 0.25s linear;
  -o-transition: color 0.25s linear;
  transition: color 0.25s linear;
}
div.comments-container div.comments-list div.comment-block div.span10:hover div.comment-number {
  color: #999;
  -webkit-transition: color 0.25s linear;
  -moz-transition: color 0.25s linear;
  -o-transition: color 0.25s linear;
  transition: color 0.25s linear;
}
div.comments-container div.comments-list div.comment-block div.span10 i.icon-caret-left {
  color: #ccc;
  font-size: 20px;
  left: -9px;
  position: absolute;
  top: 5px;
}
div.comments-container div.comments-list div.comment-block div.span10 div.posted-by {
  margin: 0 0 5px 0;
}
div.comments-container div.comments-list div.comment-block div.span10 div.posted-by a:hover {
  text-decoration: underline;
}
div.comments-container div.comments-list div.comment-block div.span10 div.comment-date {
  color: #999;
  font-size: 12px;
  position: absolute;
  right: 5px;
  top: 5px;
}
div.comments-container div.comments-list div.comment-block div.span10 p {
  margin: 0 0 10px 0;
}
div.comments-container div.comments-list div.comment-block div.span10 p i {
  color: #bbb;
  display: inline-block;
  margin-right: 3px;
}
div.comments-container div.comments-list div.comment-block div.span10 p i.icon-quote-right {
  margin: 0 0 0 3px;
}
div.comments-container div.comments-list div.comment-block div.span10 div.comment-edition-mode {
  text-align: right;
}
div.comments-container div.comments-list div.comment-block div.span10 div.comment-edition-mode textarea {
  margin: 0 0 5px 0;
  width: 410px;
}
div.comments-container div.comments-list div.comment-block div.span10 div.comment-edition-mode a.save-comment-edition {
  margin-right: 0;
}
div.comments-container div.comments-list div.comment-block div.span10 div.comment-actions {
  color: #999;
  text-align: right;
}
div.comments-container div.comments-list div.comment-block div.span10 div.comment-actions a.reply,
div.comments-container div.comments-list div.comment-block div.span10 div.comment-actions a.more-actions {
  border: 1px solid #e4e6e5;
  color: #759e1a;
  display: inline-block;
  font-size: 12px;
  margin: 0 10px;
  opacity: .45;
  padding: 2px 5px;
}
div.comments-container div.comments-list div.comment-block div.span10 div.comment-actions a.reply:hover,
div.comments-container div.comments-list div.comment-block div.span10 div.comment-actions a.more-actions:hover {
  border-color: #759e1a;
  opacity: 1;
  -webkit-transition: opacity 0.25s linear;
  -moz-transition: opacity 0.25s linear;
  -o-transition: opacity 0.25s linear;
  transition: opacity 0.25s linear;
}
div.comments-container div.comments-list div.comment-block div.span10 div.comment-actions div.more-actions-container {
  display: inline-block;
  position: relative;
}
div.comments-container div.comments-list div.comment-block div.span10 div.comment-actions div.more-actions-container.open a.more-actions {
  border-color: #759e1a;
  opacity: 1;
  -webkit-transition: opacity 0.25s linear;
  -moz-transition: opacity 0.25s linear;
  -o-transition: opacity 0.25s linear;
  transition: opacity 0.25s linear;
}
div.comments-container div.comments-list div.comment-block div.span10 div.comment-actions div.more-actions-container a.more-actions {
  margin-right: -5px;
}
div.comments-container div.comments-list div.comment-block div.span10 div.comment-actions div.more-actions-container ul.dropdown-menu {
  background-color: #e4e6e5;
  border: 2px solid #759e1a;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  left: initial !important;
  margin: 0;
  padding: 3px 0;
  right: -5px !important;
  text-align: left;
  top: 24px;
}
div.comments-container div.comments-list div.comment-block div.span10 div.comment-actions div.more-actions-container ul.dropdown-menu li:hover {
  background-color: #759e1a;
}
div.comments-container div.comments-list div.comment-block div.span10 div.comment-actions div.more-actions-container ul.dropdown-menu li:hover a {
  color: white;
}
div.comments-container div.comments-list div.comment-block div.span10 div.comment-actions div.more-actions-container ul.dropdown-menu li a {
  font-size: 12px;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
div.comments-container div.comments-list div.comment-block div.span10 div.comment-number {
  color: #bbb;
  font-weight: bold;
  left: 451px;
  position: absolute;
  bottom: 0;
}
div.comments-container div.load-more-comments {
  margin: -20px 0 20px 0;
  padding: 0 50px;
  text-align: right;
}
div.comments-container div.load-more-comments a.btn {
  margin-right: 0;
}
div.comments-container div.load-more-comments i.loader {
  font-size: 22px;
  margin: 0 8px 0 0;
}
textarea {
  background-color: #e4e6e5;
  border-color: #999;
  height: 76px;
  padding: 3px 5px;
  resize: none;
}
textarea:focus,
textarea:hover {
  background-color: #eee;
  -webkit-transition: background-color 0.25s linear;
  -moz-transition: background-color 0.25s linear;
  -o-transition: background-color 0.25s linear;
  transition: background-color 0.25s linear;
}
i.loader {
  color: #db4a38;
  display: inline-block;
  font-size: 16px;
  margin: 0 4px 0 0;
  position: relative;
  top: 2px;
}
i.loader.hide {
  opacity: 0;
}
