.champion-square {
	background-image: url('/medias/images/champions/square-sprite.jpg');
	height: 100px;
	width: 100px;
}

.champion-square.ahri {
    
    
    background-position: -1010px -909px;
}

.champion-square.akali {
    
    
    background-position: -909px -909px;
}

.champion-square.alistar {
    
    
    background-position: -808px -909px;
}

.champion-square.amumu {
    
    
    background-position: -707px -909px;
}

.champion-square.anivia {
    
    
    background-position: -606px -909px;
}

.champion-square.annie {
    
    
    background-position: -505px -909px;
}

.champion-square.ashe {
    
    
    background-position: -404px -909px;
}

.champion-square.blitzcrank {
    
    
    background-position: -303px -909px;
}

.champion-square.brand {
    
    
    background-position: -202px -909px;
}

.champion-square.caitlyn {
    
    
    background-position: -101px -909px;
}

.champion-square.cassiopeia {
    
    
    background-position: -0px -909px;
}

.champion-square.chogath {
    
    
    background-position: -1010px -808px;
}

.champion-square.corki {
    
    
    background-position: -909px -808px;
}

.champion-square.darius {
    
    
    background-position: -808px -808px;
}

.champion-square.diana {
    
    
    background-position: -707px -808px;
}

.champion-square.dr-mundo {
    
    
    background-position: -606px -808px;
}

.champion-square.draven {
    
    
    background-position: -505px -808px;
}

.champion-square.elise {
    
    
    background-position: -404px -808px;
}

.champion-square.evelynn {
    
    
    background-position: -303px -808px;
}

.champion-square.ezreal {
    
    
    background-position: -202px -808px;
}

.champion-square.fiddlesticks {
    
    
    background-position: -101px -808px;
}

.champion-square.fiora {
    
    
    background-position: -0px -808px;
}

.champion-square.fizz {
    
    
    background-position: -1010px -707px;
}

.champion-square.galio {
    
    
    background-position: -909px -707px;
}

.champion-square.gangplank {
    
    
    background-position: -808px -707px;
}

.champion-square.garen {
    
    
    background-position: -707px -707px;
}

.champion-square.gragas {
    
    
    background-position: -606px -707px;
}

.champion-square.graves {
    
    
    background-position: -505px -707px;
}

.champion-square.hecarim {
    
    
    background-position: -404px -707px;
}

.champion-square.heimerdinger {
    
    
    background-position: -303px -707px;
}

.champion-square.irelia {
    
    
    background-position: -202px -707px;
}

.champion-square.janna {
    
    
    background-position: -101px -707px;
}

.champion-square.jarvan-iv {
    
    
    background-position: -0px -707px;
}

.champion-square.jax {
    
    
    background-position: -1010px -606px;
}

.champion-square.jayce {
    
    
    background-position: -909px -606px;
}

.champion-square.karma {
    
    
    background-position: -808px -606px;
}

.champion-square.karthus {
    
    
    background-position: -707px -606px;
}

.champion-square.kassadin {
    
    
    background-position: -606px -606px;
}

.champion-square.katarina {
    
    
    background-position: -505px -606px;
}

.champion-square.kayle {
    
    
    background-position: -404px -606px;
}

.champion-square.kennen {
    
    
    background-position: -303px -606px;
}

.champion-square.khazix {
    
    
    background-position: -202px -606px;
}

.champion-square.kogmaw {
    
    
    background-position: -101px -606px;
}

.champion-square.leblanc {
    
    
    background-position: -0px -606px;
}

.champion-square.lee-sin {
    
    
    background-position: -1010px -505px;
}

.champion-square.leona {
    
    
    background-position: -909px -505px;
}

.champion-square.lulu {
    
    
    background-position: -808px -505px;
}

.champion-square.lux {
    
    
    background-position: -707px -505px;
}

.champion-square.maitre-yi {
    
    
    background-position: -606px -505px;
}

.champion-square.malphite {
    
    
    background-position: -505px -505px;
}

.champion-square.malzahar {
    
    
    background-position: -404px -505px;
}

.champion-square.maokai {
    
    
    background-position: -303px -505px;
}

.champion-square.miss-fortune {
    
    
    background-position: -202px -505px;
}

.champion-square.mordekaiser {
    
    
    background-position: -101px -505px;
}

.champion-square.morgana {
    
    
    background-position: -0px -505px;
}

.champion-square.nami {
    
    
    background-position: -1010px -404px;
}

.champion-square.nasus {
    
    
    background-position: -909px -404px;
}

.champion-square.nautilus {
    
    
    background-position: -808px -404px;
}

.champion-square.nidalee {
    
    
    background-position: -707px -404px;
}

.champion-square.nocturne {
    
    
    background-position: -606px -404px;
}

.champion-square.nunu {
    
    
    background-position: -505px -404px;
}

.champion-square.olaf {
    
    
    background-position: -404px -404px;
}

.champion-square.orianna {
    
    
    background-position: -303px -404px;
}

.champion-square.pantheon {
    
    
    background-position: -202px -404px;
}

.champion-square.poppy {
    
    
    background-position: -101px -404px;
}

.champion-square.rammus {
    
    
    background-position: -0px -404px;
}

.champion-square.renekton {
    
    
    background-position: -1010px -303px;
}

.champion-square.rengar {
    
    
    background-position: -909px -303px;
}

.champion-square.riven {
    
    
    background-position: -808px -303px;
}

.champion-square.rumble {
    
    
    background-position: -707px -303px;
}

.champion-square.ryze {
    
    
    background-position: -606px -303px;
}

.champion-square.sejuani {
    
    
    background-position: -505px -303px;
}

.champion-square.shaco {
    
    
    background-position: -404px -303px;
}

.champion-square.shen {
    
    
    background-position: -303px -303px;
}

.champion-square.shyvana {
    
    
    background-position: -202px -303px;
}

.champion-square.singed {
    
    
    background-position: -101px -303px;
}

.champion-square.sion {
    
    
    background-position: -0px -303px;
}

.champion-square.sivir {
    
    
    background-position: -1010px -202px;
}

.champion-square.skarner {
    
    
    background-position: -909px -202px;
}

.champion-square.sona {
    
    
    background-position: -808px -202px;
}

.champion-square.soraka {
    
    
    background-position: -707px -202px;
}

.champion-square.swain {
    
    
    background-position: -606px -202px;
}

.champion-square.syndra {
    
    
    background-position: -505px -202px;
}

.champion-square.talon {
    
    
    background-position: -404px -202px;
}

.champion-square.taric {
    
    
    background-position: -303px -202px;
}

.champion-square.teemo {
    
    
    background-position: -202px -202px;
}

.champion-square.thresh {
    
    
    background-position: -101px -202px;
}

.champion-square.tristana {
    
    
    background-position: -0px -202px;
}

.champion-square.trundle {
    
    
    background-position: -1010px -101px;
}

.champion-square.tryndamere {
    
    
    background-position: -909px -101px;
}

.champion-square.twisted-fate {
    
    
    background-position: -808px -101px;
}

.champion-square.twitch {
    
    
    background-position: -707px -101px;
}

.champion-square.udyr {
    
    
    background-position: -606px -101px;
}

.champion-square.urgot {
    
    
    background-position: -505px -101px;
}

.champion-square.varus {
    
    
    background-position: -404px -101px;
}

.champion-square.vayne {
    
    
    background-position: -303px -101px;
}

.champion-square.veigar {
    
    
    background-position: -202px -101px;
}

.champion-square.vi {
    
    
    background-position: -101px -101px;
}

.champion-square.viktor {
    
    
    background-position: -0px -101px;
}

.champion-square.vladimir {
    
    
    background-position: -1010px -0px;
}

.champion-square.volibear {
    
    
    background-position: -909px -0px;
}

.champion-square.warwick {
    
    
    background-position: -808px -0px;
}

.champion-square.wukong {
    
    
    background-position: -707px -0px;
}

.champion-square.xerath {
    
    
    background-position: -606px -0px;
}

.champion-square.xin-zhao {
    
    
    background-position: -505px -0px;
}

.champion-square.yorick {
    
    
    background-position: -404px -0px;
}

.champion-square.zed {
    
    
    background-position: -303px -0px;
}

.champion-square.ziggs {
    
    
    background-position: -202px -0px;
}

.champion-square.zilean {
    
    
    background-position: -101px -0px;
}

.champion-square.zyra {
    
    
    background-position: -0px -0px;
}