<div class="data-scrollable" id="champion-comparison-center">

	<div id="champion-list">
		{% include 'MVNerdsChampionHandlerBundle:Front:champion_grid.html.twig' %}
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function() 
	{
		$('div.actions-bar ul.action-buttons li.action').each(function()
		{
			if ($(this).data('page-display') == 'champions') {
				$(this).removeClass('force-hide');
			}
			else {
				$(this).addClass('force-hide');
			}
		});
	});
</script>

<script type="text/javascript" src="{{ asset('/js/champion_handler/champion_handler.js') }}"></script>
<script type="text/javascript" src="{{ asset('/js/google_analytics.js') }}"></script>