
<div id="champion-comparison">	
	<div class="span3" id="comparison-list-sidebar" class="sidebar">
		{% include 'MVNerdsChampionHandlerBundle:Comparison:comparison_list.html.twig' %}
	</div>
	
	<div class="container main-container" id="champion-comparison-center">
		
		<h1>Comparateur de champions</h1>
		
		<div id="champion-filter">
		
		</div>
			
		<div id="champion-list">
			{% include 'MVNerdsChampionHandlerBundle:Front:champion_list.html.twig' %}
		</div>
	</div>
	
	<div id="saved-comparison">
		
	</div>
</div>
