<div id="champion-comparison">
	<div class="container main-container data-scrollable" id="champion-comparison-center">
		<div id="champion-filter"></div>
			
		<div id="champion-list" class="row">
			{% include 'MVNerdsChampionHandlerBundle:Front:champion_grid.html.twig' %}
		</div>
	</div>
</div>
