<div id="champion-comparison">
	<div class="container main-container data-scrollable" id="champion-comparison-center">
		
		<h1>Comparateur de champions</h1>
		
		<div id="champion-filter">
		
		</div>
			
		<div id="champion-list" class="row">
			{% include 'MVNerdsChampionHandlerBundle:Front:champion_grid.html.twig' %}
		</div>
	</div>
</div>
