<h4>Étape 2 : renommer une de vos pages de maîtrises</h4>

<p>
	La liaison est quasiment établie ! Afin de nous assurer que vous êtes bien le titulaire du compte de jeu <strong>{{ summoner_name }}</strong>,
	connectez-vous sur le jeu League of Legends et renommé une de vos pages de maîtrises par le code de vérification suivant :
</p>

<div class="activation-code-container">
	<span id="activation-code">{{ activation_code }}</span>
	{#<span class="copy-to-clipboard-btn btn small blue">Copier dans le presse-papier</span>#}
</div>

<h4>Étape 3 : confirmation du compte League of Legends</h4>

<p>
	Une fois la manipulation demandée à l'étape 2 accomplie, patientez quelques minutes le temps que votre modification se propage sur les serveurs. Cliquez
	ensuite sur le bouton ci-dessous pour nous permettre de valider et de terminer cette procédure de liaison de compte.
</p>

<div class="end-of-process-action">
	<p class="error hide"></p>
	
	<p>
		<i class="icon-spin icon-spinner loader hide"></i> 
		<a href="#" class="btn large green link-account-last-check">Terminer la liaison</a>
		<a href="#" class="btn no-color small cancel-link-account-process-btn">Annuler la liaison</a>
	</p>
</div>
