.champion-square {
	background-image: url('/images/champions/square-sprite.jpg');
}

.champion-square.ahri {
    width: 100px;
    height: 100px;
    background-position: -1010px -404px;
}

.champion-square.akali {
    width: 100px;
    height: 100px;
    background-position: -1010px -303px;
}

.champion-square.alistar {
    width: 100px;
    height: 100px;
    background-position: -1010px -202px;
}

.champion-square.amumu {
    width: 100px;
    height: 100px;
    background-position: -1010px -101px;
}

.champion-square.anivia {
    width: 100px;
    height: 100px;
    background-position: -1010px -0px;
}

.champion-square.annie {
    width: 100px;
    height: 100px;
    background-position: -909px -909px;
}

.champion-square.ashe {
    width: 100px;
    height: 100px;
    background-position: -808px -909px;
}

.champion-square.blitzcrank {
    width: 100px;
    height: 100px;
    background-position: -707px -909px;
}

.champion-square.brand {
    width: 100px;
    height: 100px;
    background-position: -606px -909px;
}

.champion-square.caitlyn {
    width: 100px;
    height: 100px;
    background-position: -505px -909px;
}

.champion-square.cassiopeia {
    width: 100px;
    height: 100px;
    background-position: -404px -909px;
}

.champion-square.chogath {
    width: 100px;
    height: 100px;
    background-position: -303px -909px;
}

.champion-square.corki {
    width: 100px;
    height: 100px;
    background-position: -202px -909px;
}

.champion-square.darius {
    width: 100px;
    height: 100px;
    background-position: -101px -909px;
}

.champion-square.diana {
    width: 100px;
    height: 100px;
    background-position: -0px -909px;
}

.champion-square.dr-mundo {
    width: 100px;
    height: 100px;
    background-position: -909px -808px;
}

.champion-square.draven {
    width: 100px;
    height: 100px;
    background-position: -808px -808px;
}

.champion-square.evelynn {
    width: 100px;
    height: 100px;
    background-position: -707px -808px;
}

.champion-square.ezreal {
    width: 100px;
    height: 100px;
    background-position: -606px -808px;
}

.champion-square.fiddlesticks {
    width: 100px;
    height: 100px;
    background-position: -505px -808px;
}

.champion-square.fiora {
    width: 100px;
    height: 100px;
    background-position: -404px -808px;
}

.champion-square.fizz {
    width: 100px;
    height: 100px;
    background-position: -303px -808px;
}

.champion-square.galio {
    width: 100px;
    height: 100px;
    background-position: -202px -808px;
}

.champion-square.gangplank {
    width: 100px;
    height: 100px;
    background-position: -101px -808px;
}

.champion-square.garen {
    width: 100px;
    height: 100px;
    background-position: -0px -808px;
}

.champion-square.gragas {
    width: 100px;
    height: 100px;
    background-position: -909px -707px;
}

.champion-square.graves {
    width: 100px;
    height: 100px;
    background-position: -808px -707px;
}

.champion-square.hecarim {
    width: 100px;
    height: 100px;
    background-position: -707px -707px;
}

.champion-square.heimerdinger {
    width: 100px;
    height: 100px;
    background-position: -606px -707px;
}

.champion-square.irelia {
    width: 100px;
    height: 100px;
    background-position: -505px -707px;
}

.champion-square.janna {
    width: 100px;
    height: 100px;
    background-position: -404px -707px;
}

.champion-square.jarvan-iv {
    width: 100px;
    height: 100px;
    background-position: -303px -707px;
}

.champion-square.jax {
    width: 100px;
    height: 100px;
    background-position: -202px -707px;
}

.champion-square.jayce {
    width: 100px;
    height: 100px;
    background-position: -101px -707px;
}

.champion-square.karma {
    width: 100px;
    height: 100px;
    background-position: -0px -707px;
}

.champion-square.karthus {
    width: 100px;
    height: 100px;
    background-position: -909px -606px;
}

.champion-square.kassadin {
    width: 100px;
    height: 100px;
    background-position: -808px -606px;
}

.champion-square.katarina {
    width: 100px;
    height: 100px;
    background-position: -707px -606px;
}

.champion-square.kayle {
    width: 100px;
    height: 100px;
    background-position: -606px -606px;
}

.champion-square.kennen {
    width: 100px;
    height: 100px;
    background-position: -505px -606px;
}

.champion-square.khazix {
    width: 100px;
    height: 100px;
    background-position: -404px -606px;
}

.champion-square.kogmaw {
    width: 100px;
    height: 100px;
    background-position: -303px -606px;
}

.champion-square.leblanc {
    width: 100px;
    height: 100px;
    background-position: -202px -606px;
}

.champion-square.lee-sin {
    width: 100px;
    height: 100px;
    background-position: -101px -606px;
}

.champion-square.leona {
    width: 100px;
    height: 100px;
    background-position: -0px -606px;
}

.champion-square.lulu {
    width: 100px;
    height: 100px;
    background-position: -909px -505px;
}

.champion-square.lux {
    width: 100px;
    height: 100px;
    background-position: -808px -505px;
}

.champion-square.maitre-yi {
    width: 100px;
    height: 100px;
    background-position: -707px -505px;
}

.champion-square.malphite {
    width: 100px;
    height: 100px;
    background-position: -606px -505px;
}

.champion-square.malzahar {
    width: 100px;
    height: 100px;
    background-position: -505px -505px;
}

.champion-square.maokai {
    width: 100px;
    height: 100px;
    background-position: -404px -505px;
}

.champion-square.miss-fortune {
    width: 100px;
    height: 100px;
    background-position: -303px -505px;
}

.champion-square.mordekaiser {
    width: 100px;
    height: 100px;
    background-position: -202px -505px;
}

.champion-square.morgana {
    width: 100px;
    height: 100px;
    background-position: -101px -505px;
}

.champion-square.nasus {
    width: 100px;
    height: 100px;
    background-position: -0px -505px;
}

.champion-square.nautilus {
    width: 100px;
    height: 100px;
    background-position: -909px -404px;
}

.champion-square.nidalee {
    width: 100px;
    height: 100px;
    background-position: -808px -404px;
}

.champion-square.nocturne {
    width: 100px;
    height: 100px;
    background-position: -707px -404px;
}

.champion-square.nunu {
    width: 100px;
    height: 100px;
    background-position: -606px -404px;
}

.champion-square.olaf {
    width: 100px;
    height: 100px;
    background-position: -505px -404px;
}

.champion-square.orianna {
    width: 100px;
    height: 100px;
    background-position: -404px -404px;
}

.champion-square.pantheon {
    width: 100px;
    height: 100px;
    background-position: -303px -404px;
}

.champion-square.poppy {
    width: 100px;
    height: 100px;
    background-position: -202px -404px;
}

.champion-square.rammus {
    width: 100px;
    height: 100px;
    background-position: -101px -404px;
}

.champion-square.renekton {
    width: 100px;
    height: 100px;
    background-position: -0px -404px;
}

.champion-square.rengar {
    width: 100px;
    height: 100px;
    background-position: -909px -303px;
}

.champion-square.riven {
    width: 100px;
    height: 100px;
    background-position: -808px -303px;
}

.champion-square.rumble {
    width: 100px;
    height: 100px;
    background-position: -707px -303px;
}

.champion-square.ryze {
    width: 100px;
    height: 100px;
    background-position: -606px -303px;
}

.champion-square.sejuani {
    width: 100px;
    height: 100px;
    background-position: -505px -303px;
}

.champion-square.shaco {
    width: 100px;
    height: 100px;
    background-position: -404px -303px;
}

.champion-square.shen {
    width: 100px;
    height: 100px;
    background-position: -303px -303px;
}

.champion-square.shyvana {
    width: 100px;
    height: 100px;
    background-position: -202px -303px;
}

.champion-square.singed {
    width: 100px;
    height: 100px;
    background-position: -101px -303px;
}

.champion-square.sion {
    width: 100px;
    height: 100px;
    background-position: -0px -303px;
}

.champion-square.sivir {
    width: 100px;
    height: 100px;
    background-position: -909px -202px;
}

.champion-square.skarner {
    width: 100px;
    height: 100px;
    background-position: -808px -202px;
}

.champion-square.sona {
    width: 100px;
    height: 100px;
    background-position: -707px -202px;
}

.champion-square.soraka {
    width: 100px;
    height: 100px;
    background-position: -606px -202px;
}

.champion-square.swain {
    width: 100px;
    height: 100px;
    background-position: -505px -202px;
}

.champion-square.syndra {
    width: 100px;
    height: 100px;
    background-position: -404px -202px;
}

.champion-square.talon {
    width: 100px;
    height: 100px;
    background-position: -303px -202px;
}

.champion-square.taric {
    width: 100px;
    height: 100px;
    background-position: -202px -202px;
}

.champion-square.teemo {
    width: 100px;
    height: 100px;
    background-position: -101px -202px;
}

.champion-square.tristana {
    width: 100px;
    height: 100px;
    background-position: -0px -202px;
}

.champion-square.trundle {
    width: 100px;
    height: 100px;
    background-position: -909px -101px;
}

.champion-square.tryndamere {
    width: 100px;
    height: 100px;
    background-position: -808px -101px;
}

.champion-square.twisted-fate {
    width: 100px;
    height: 100px;
    background-position: -707px -101px;
}

.champion-square.twitch {
    width: 100px;
    height: 100px;
    background-position: -606px -101px;
}

.champion-square.udyr {
    width: 100px;
    height: 100px;
    background-position: -505px -101px;
}

.champion-square.urgot {
    width: 100px;
    height: 100px;
    background-position: -404px -101px;
}

.champion-square.varus {
    width: 100px;
    height: 100px;
    background-position: -303px -101px;
}

.champion-square.vayne {
    width: 100px;
    height: 100px;
    background-position: -202px -101px;
}

.champion-square.veigar {
    width: 100px;
    height: 100px;
    background-position: -101px -101px;
}

.champion-square.viktor {
    width: 100px;
    height: 100px;
    background-position: -0px -101px;
}

.champion-square.vladimir {
    width: 100px;
    height: 100px;
    background-position: -909px -0px;
}

.champion-square.volibear {
    width: 100px;
    height: 100px;
    background-position: -808px -0px;
}

.champion-square.warwick {
    width: 100px;
    height: 100px;
    background-position: -707px -0px;
}

.champion-square.wukong {
    width: 100px;
    height: 100px;
    background-position: -606px -0px;
}

.champion-square.xerath {
    width: 100px;
    height: 100px;
    background-position: -505px -0px;
}

.champion-square.xin-zhao {
    width: 100px;
    height: 100px;
    background-position: -404px -0px;
}

.champion-square.yorick {
    width: 100px;
    height: 100px;
    background-position: -303px -0px;
}

.champion-square.ziggs {
    width: 100px;
    height: 100px;
    background-position: -202px -0px;
}

.champion-square.zilean {
    width: 100px;
    height: 100px;
    background-position: -101px -0px;
}

.champion-square.zyra {
    width: 100px;
    height: 100px;
    background-position: -0px -0px;
}