#champion-comparison-center{
	position: relative;
}
ul.thumbnails{
}
ul.thumbnails li.span1{
	width: 90px;
}

a.thumbnail {
	text-align: center;
	background-color: white;
}
a.thumbnail img{
	width: 144px;
}
a.thumbnail span.champion-name{
	font-size: 12px;
}