.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
div.comments-container {
  background-color: #141414;
  padding: 10px;
}
div.comments-container h2 {
  border-bottom: 2px solid #e28801;
  color: #e28801;
  font-size: 1.4em;
  margin: 0 0 30px 0;
}
div.comments-container div.comments-list {
  margin: 0 0 30px 0;
}
div.comments-container div.comments-list div.span8 {
  margin-left: 35px;
  width: 607px;
}
div.comments-container div.comments-list div.span8.comment-block {
  background-color: #160d00;
  border: 2px solid #e28801;
  margin-bottom: 10px;
  padding: 10px;
}
div.comments-container div.comments-list div.span8.comment-block div.span2 img {
  border: 1px solid #444;
  display: block !important;
  margin: auto;
  padding: 2px;
  width: 64px;
}
div.comments-container div.comments-list div.span8.comment-block div.span10 {
  margin-left: 10px;
  width: 485px;
}
div.comments-container div.comments-list div.span8.comment-block div.span10 p.reported-comment a {
  color: #666;
  font-style: italic;
}
div.comments-container div.comments-list div.span8.comment-block div.span10 p.reported-comment a:hover {
  color: #999;
  -webkit-transition: color 0.25s linear;
  -moz-transition: color 0.25s linear;
  -o-transition: color 0.25s linear;
  transition: color 0.25s linear;
}
div.comments-container div.comments-list div.span8.comment-block div.span10 p.posted-by {
  color: #666 !important;
  font-size: 12px;
  margin-top: 10px;
  text-align: right;
}
div.comments-container div.comments-list div.span8.comment-block div.span10 p.posted-by a {
  color: #0a3d55;
}
div.comments-container div.comments-list div.span8.comment-block div.span10 p.posted-by a:hover {
  color: #19a0df;
  -webkit-transition: color 0.25s linear;
  -moz-transition: color 0.25s linear;
  -o-transition: color 0.25s linear;
  transition: color 0.25s linear;
}
div.comments-container div.comments-list div.span8.comment-block div.span10 p.posted-by strong a {
  color: #557213;
}
div.comments-container div.comments-list div.span8.comment-block div.span10 p.posted-by strong a:hover {
  color: #759e1a;
  -webkit-transition: color 0.25s linear;
  -moz-transition: color 0.25s linear;
  -o-transition: color 0.25s linear;
  transition: color 0.25s linear;
}
div.comments-container div.comments-list div.span8.comment-block div p {
  font-size: 14px;
  margin: 0;
}
div.comments-container div.comments-list div.no-comment p {
  border: 1px dashed #666;
  color: #666 !important;
  font-size: 14px;
  font-style: italic;
  margin: 0;
  padding: 20px;
  text-align: center;
}
div.comments-container form.leave-comment-form {
  margin: 0 0 30px 0;
}
div.comments-container form.leave-comment-form div.avatar-container,
div.comments-container form.leave-comment-form div.comment-form-container {
  background-color: #041c28;
  border-top: 2px solid #19a0df;
  margin-bottom: 10px;
  padding: 10px;
}
div.comments-container form.leave-comment-form div.avatar-container {
  margin-left: 35px;
  text-align: center;
  width: 115px !important;
}
div.comments-container form.leave-comment-form div.avatar-container img.user-avatar {
  border: 1px solid #666;
  display: inline-block;
  padding: 2px;
  width: 88px;
}
div.comments-container form.leave-comment-form div.comment-form-container p.username {
  color: #fb9701 !important;
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}
div.comments-container form.leave-comment-form div.comment-form-container div.comment-actions {
  margin: 10px 0 0 0;
}
div.comments-container form.leave-comment-form div.comment-form-container div.comment-actions p {
  color: #666 !important;
  font-size: 12px;
  margin: 0;
  text-align: right;
}
div.comments-container form.leave-comment-form div.comment-form-container div.comment-actions p img.loader {
  display: inline-block;
  margin-left: 5px !important;
  position: relative;
  top: -1px;
}
div.comments-container form.leave-comment-form div.comment-form-container div.comment-actions p img.loader.hide {
  display: none !important;
}
div.comments-container form.leave-comment-form div.comment-form-container div.comment-actions p a.btn-send-comment {
  background-color: #658816;
  color: white;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  margin: 0 0 0 10px;
  padding: 5px 7px;
}
div.comments-container form.leave-comment-form div.comment-form-container div.comment-actions p a.btn-send-comment.disabled {
  background-color: #666;
  color: #999;
  cursor: not-allowed;
}
div.comments-container form.leave-comment-form div.comment-form-container div.comment-actions p a.btn-send-comment.disabled:focus,
div.comments-container form.leave-comment-form div.comment-form-container div.comment-actions p a.btn-send-comment.disabled:hover {
  background-color: #666;
}
div.comments-container form.leave-comment-form div.comment-form-container div.comment-actions p a.btn-send-comment:focus,
div.comments-container form.leave-comment-form div.comment-form-container div.comment-actions p a.btn-send-comment:hover {
  background-color: #759e1a;
  -webkit-transition: background-color 0.25s linear;
  -moz-transition: background-color 0.25s linear;
  -o-transition: background-color 0.25s linear;
  transition: background-color 0.25s linear;
}
div.comments-container form.leave-comment-form div.comment-form-container textarea.comment-msg {
  background-color: #eee;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  color: #444;
  display: block;
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.5em;
  resize: none;
  width: 438px;
}
div.comments-container div.anonymous-actions p {
  text-align: center;
}
div.comments-container div.anonymous-actions p.note {
  font-size: 14px;
  font-style: italic;
  padding: 0 40px;
}
div.comments-container div.anonymous-actions p.buttons {
  border-bottom: 2px solid #222;
  padding: 0 0 20px 0;
}
div.comments-container div.anonymous-actions p a {
  background-color: #658816;
  color: white;
  display: inline-block;
  font-weight: bold;
  margin: 0 10px;
  padding: 10px 15px;
}
div.comments-container div.anonymous-actions p a:hover {
  background-color: #759e1a;
  -webkit-transition: background-color 0.25s linear;
  -moz-transition: background-color 0.25s linear;
  -o-transition: background-color 0.25s linear;
  transition: background-color 0.25s linear;
}
div.comments-container div.anonymous-actions p a.registration {
  background-color: #be3322;
}
div.comments-container div.anonymous-actions p a.registration:hover {
  background-color: #db4a38;
}
div.comments-container div.more-comments-loader div.span8 p {
  opacity: .7;
  text-align: center;
}
