@import "../bootstrap/mixins.less";

body {
	background: #6baeff url('/images/admin/master_yi.png') no-repeat center;
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	min-height: 1080px;
	line-height: 1.5em;
}

div.main-container {
	background-color: rgba(255, 255, 255, 0.3);
	padding: 40px 10px;
}

div.action-buttons {
	line-height: 38px;
	margin-bottom: 24px;

	a.pull-right {
		margin-left: 10px;
		margin-top: 4px;
		vertical-align: middle;

		&.btn-large {
			margin-top: 0;
		}
	}
}

div.content-container {
	background-color: white;
	border: 5px solid #ebf0f8;
	.border-radius(5px);
	padding: 10px;

	div.row-fluid {
		margin: 12px 0;
		text-align: center;

		div.modal {
			text-align: left;
		}

		&.title-line {
			background-color: #272822;
			color: white;
			font-weight: bold;
		}

		&.normal-line {
			background-color: #ebf0f8;
		}

		&.normal-line:hover {
			background-color: #ccc;
		}

		div {
			padding: 5px;
		}

		div.span2, div.span6 {	
			border-right: 1px solid white;
		}
	}

	form {
		margin: 20px 0;

		ul {
			list-style-type: square;
		}

		div.row-fluid {
			margin: 0;
			text-align: left;
		}

		input {
			font-family: Trebuchet MS;
			font-size: 16px;
			margin: 0;
		}

		input[type="email"], input[type="text"], textarea {
			width: 277px;
		}

		label {
			font-size: 16px;
			font-weight: bold;
			line-height: 30px;
			text-align: right;
		}

		div.span-errors {
			color: #B94A48;

			ul {
				margin: 0;
				padding: 0;
			}

			li {
				line-height: 1.4em;
				margin-bottom: 10px;
			}
		}
	}
}