div.container.main-container {
	padding: 20px 10px;

	div {
		&.span8.left-content {
			border: 1px solid #666;
			padding: 10px;

			div.ad-container {
				margin: 0 0 10px 0;
				text-align: center;
			}
		}

		&.span4.right-content {
			// Block dans la sidebar
			div.block {
				margin: 0 0 20px 0;

				// Block header CSS
				div.header {
					border: 1px solid #333;
					padding: 10px 5px;

					h3 {
						font-size: 1.1em;
						margin: 0;
					}
				}

				// Block body CSS
				div.body {
					background-color: #333;
					padding: 10px 0;

					a {
						color: @MVNerdsRed;

						&:hover {
							color: white;
						}
					}

					div.block-media {
						text-align: center;

						img {
							width: 300px;
						}
					}

					p {
						color: #aaa;
						padding: 0 10px;
						text-align: justify;
					}

					ul {
						margin: 0 0 1.4em 0;
						padding: 0 10px 0 20px;

						li {
							color: #aaa;
							font-weight: bold;
						}
					}

					div.pmri-row {
						background-color: #333;
						color: #999;
						cursor: pointer;
						margin: 5px 0;
						min-height: 0;
						padding: 4px 0 4px 10px;
						position: relative;

						&:hover {
							background-color: darken(@MVNerdsBlue, 10%);
							color: #fff; .transition(all .25s linear);

							i.icon-double-angle-right {
								display: block;
							}
						}

						a {
							color: @MVNerdsRed;
							font-weight: bold;

							&:hover {
								color: #fff;
							}
						}

						i.icon-double-angle-right {
							display: none;
							font-size: 40px;
							margin-top: -20px;
							position: absolute;
							right: 10px;
							top: 50%;
						}

						img {
							float: left;
							margin: 0 10px 0 0;
							position: relative;
							top: 2px;
							width: 54px;
						}
					}
				}

				// Block footer CSS
				div.footer {
					background-color: darken(@MVNerdsGreen, 5%);

					&:hover {
						background-color: @MVNerdsGreen; .transition(background-color .25s linear);
					}

					&.red {
						background-color: darken(@MVNerdsRed, 10%);

						&:hover {
							background-color: @MVNerdsRed;
						}
					}

					&.blue {
						background-color: darken(@MVNerdsBlue, 10%);

						&:hover {
							background-color: @MVNerdsBlue;
						}
					}

					a {
						color: #fff;
						display: block;
						font-weight: bold;
						padding: 10px;
						text-align: right;
						text-transform: uppercase;
					}
				}
			}
		}
	}
}
