// Déclaration de variable de couleur
@bodyMainBGColor:				#e4e6e5;

@MVNerdsRed:					#db4a38;
@MVNerdsGreen:					#759e1a;
@MVNerdsBlue: 					#19a0df;
@MVNerdsYellow:					#ffc203;

@LoLOrangeAD: 					#fb9701;
@LoLBorderBrown:				#c8a53a;

@MVNerdsMainTextColor:			#111;
@ClassicButtonLinkTextColor:	#fff;

@twitterBlue:					#00acee;
@facebookBlue:					#345390;

