// Twitter Bootstraps imports
@import "../bootstrap/mixins.less";

// MVNerds imports
@import "../mvnerds/mvnerds-variables.less";

div.modal-backdrop.fade.in {
	opacity: .6;
}

div.modal {
	background-color: @bodyMainBGColor;
	border: 5px solid rgba(0,0,0,.5);
	.border-radius(0);
	max-height: 500px;
	margin: -250px 0 0 -300px;
	width: 600px;

	&:hover {
		h3 {
			color: @MVNerdsRed; .transition(color .25s linear);
		}
	}

	h3 {
		border-bottom: 1px solid #999;
		padding: 0 0 2px 0;
	}

	div.modal-header {
		border: 0;
		position: relative;

		i.icon-remove {
			color: #aaa;
			cursor: pointer;
			display: inline-block;
			position: absolute;
			right: 10px;
			top: 10px;

			&:hover {
				color: #444; .transition(color .25s linear);
			}
		}
	}

	div.modal-body {
		ul {
			margin: 0 0 1.4em 0;
			padding: 0 20px;
		}

		input[type="text"], select, textarea {
			display: inline-block;
			margin: 0 5px;
		}

		label {
			display: inline-block;
			font-weight: bold;
			text-align: right;
			width: 120px;
		}

		textarea, select {
			background-color: @bodyMainBGColor;
			border-color: #999;
		}

		input[type="text"] {
			width: 200px;
		}

		select {
			padding: 2px 2px 2px 5px;
			width: 212px;
		}

		textarea {
			height: 76px;
			padding: 5px;
			resize: none;
			width: 400px;
		}
	}

	div.modal-footer {
		background-color: @bodyMainBGColor;
		border: 0;
		.box-shadow(none);
		padding-top: 0;

		i.icon-spinner {
			color: @MVNerdsRed;
			display: inline-block;
			font-size: 18px;
			margin: 0 10px 0 0;

			&.hide {
				display: none;
			}
		}
	}
}
