.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.btn,
.mvnerds-btn {
  display: inline-block;
  margin: 0 2px;
}
.btn:hover,
.mvnerds-btn:hover,
.btn:focus,
.mvnerds-btn:focus {
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.btn {
  background-color: #147fb1;
  color: #ffffff !important;
  padding: 7px 10px;
  vertical-align: middle;
}
.btn.small {
  font-size: 12px;
  padding: 2px 5px;
}
.btn.large {
  font-size: 18px;
  font-weight: bold;
  padding: 5px 10px;
}
.btn:hover,
.btn:focus {
  background-color: #19a0df;
}
.btn.green {
  background-color: #658816;
}
.btn.green:hover,
.btn.green:focus {
  background-color: #759e1a;
}
.btn.red {
  background-color: #be3322;
}
.btn.red:hover,
.btn.red:focus {
  background-color: #db4a38;
}
.btn.no-color,
.btn.disabled {
  background-color: #999;
}
.btn.no-color:hover,
.btn.disabled:hover,
.btn.no-color:focus,
.btn.disabled:focus {
  background-color: #444;
}
.btn.disabled {
  background-color: #999;
  cursor: not-allowed;
}
.btn.disabled:hover,
.btn.disabled:focus {
  background-color: #999;
}
.btn.inactive {
  cursor: default;
}
.mvnerds-btn {
  border-bottom: 3px solid #ddd;
  padding: 10px 5px;
}
.mvnerds-btn:hover,
.mvnerds-btn:focus,
.mvnerds-btn.active {
  border-bottom-color: #19a0df;
}
.mvnerds-btn.green:hover,
.mvnerds-btn.green:focus,
.mvnerds-btn.green.active {
  border-bottom-color: #759e1a;
}
.mvnerds-btn.red:hover,
.mvnerds-btn.red:focus,
.mvnerds-btn.red.active {
  border-bottom-color: #db4a38;
}
div.new-content-container {
  padding: 10px 10px 20px 10px;
  /*h1 {
		font-family: 'Reenie Beanie', sans-serif;
		font-size: 40px;
	}*/

}
div.new-content-container form {
  margin: auto;
  width: 80%;
}
div.new-content-container form div.form-row {
  margin-bottom: 20px;
  position: relative;
}
div.new-content-container form div.form-row label {
  margin-right: 10px;
  text-align: right;
  width: 200px;
}
div.new-content-container form div.form-row input[type="text"],
div.new-content-container form div.form-row input[type="password"],
div.new-content-container form div.form-row input[type="email"],
div.new-content-container form div.form-row textarea,
div.new-content-container form div.form-row select {
  background-color: #eee;
  outline: none;
}
div.new-content-container form div.form-row input[type="text"]:hover,
div.new-content-container form div.form-row input[type="password"]:hover,
div.new-content-container form div.form-row input[type="email"]:hover,
div.new-content-container form div.form-row textarea:hover,
div.new-content-container form div.form-row select:hover,
div.new-content-container form div.form-row input[type="text"]:focus,
div.new-content-container form div.form-row input[type="password"]:focus,
div.new-content-container form div.form-row input[type="email"]:focus,
div.new-content-container form div.form-row textarea:focus,
div.new-content-container form div.form-row select:focus {
  color: #4e759c;
}
div.new-content-container form div.form-row input[type="text"] {
  font-weight: bold;
  width: 400px;
}
div.new-content-container form div.form-row div.custom-selectbox-wrapper {
  display: inline-block;
  position: relative;
  /* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */

}
div.new-content-container form div.form-row div.custom-selectbox-wrapper:after {
  color: #666;
  content: '▼';
  font-size: 12px;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 2px;
}
div.new-content-container form div.form-row div.custom-selectbox-wrapper select {
  background: inherit;
  border: none;
  border-bottom: 1px solid #666;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  padding: 3px;
  outline: none;
  width: 200px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  div.new-content-container form div.form-row div.custom-selectbox-wrapper select {
    padding-right: 18px;
  }
}
div.new-content-container form div.form-row textarea {
  border-color: #666;
  padding: 5px;
  resize: none;
  width: 510px;
}
div.new-content-container form div.align-right {
  text-align: right;
}
div.new-content-container form div.align-right input[type="submit"] {
  background-color: #d33926;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 5px 10px;
}
div.new-content-container form div.align-right input[type="submit"]:hover {
  background-color: #db4a38;
  -webkit-transition: background-color 0.25s linear;
  -moz-transition: background-color 0.25s linear;
  -o-transition: background-color 0.25s linear;
  transition: background-color 0.25s linear;
}
