.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.btn,
.mvnerds-btn {
  display: inline-block;
  margin: 0 2px;
}
.btn:hover,
.mvnerds-btn:hover,
.btn:focus,
.mvnerds-btn:focus {
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.btn {
  background-color: #147fb1;
  color: #ffffff !important;
  padding: 7px 10px;
  vertical-align: middle;
}
.btn.small {
  font-size: 12px;
  padding: 2px 5px;
}
.btn.large {
  font-size: 18px;
  font-weight: bold;
  padding: 5px 10px;
}
.btn:hover,
.btn:focus {
  background-color: #19a0df;
}
.btn.green {
  background-color: #658816;
}
.btn.green:hover,
.btn.green:focus {
  background-color: #759e1a;
}
.btn.red {
  background-color: #be3322;
}
.btn.red:hover,
.btn.red:focus {
  background-color: #db4a38;
}
.btn.no-color,
.btn.disabled {
  background-color: #999;
}
.btn.no-color:hover,
.btn.disabled:hover,
.btn.no-color:focus,
.btn.disabled:focus {
  background-color: #444;
}
.btn.disabled {
  background-color: #999;
  cursor: not-allowed;
}
.btn.disabled:hover,
.btn.disabled:focus {
  background-color: #999;
}
.btn.inactive {
  cursor: default;
}
.mvnerds-btn {
  border-bottom: 3px solid #ddd;
  padding: 10px 5px;
}
.mvnerds-btn:hover,
.mvnerds-btn:focus,
.mvnerds-btn.active {
  border-bottom-color: #19a0df;
}
.mvnerds-btn.green:hover,
.mvnerds-btn.green:focus,
.mvnerds-btn.green.active {
  border-bottom-color: #759e1a;
}
.mvnerds-btn.red:hover,
.mvnerds-btn.red:focus,
.mvnerds-btn.red.active {
  border-bottom-color: #db4a38;
}
div.new-content-container {
  padding: 10px;
}
div.new-content-container h1 {
  color: #4e759c;
  font-size: 32px;
  text-align: center;
}
div.new-content-container form {
  margin: 30px auto 0 auto;
  width: 80%;
}
div.new-content-container form div.form-row {
  margin-bottom: 20px;
}
div.new-content-container form div.form-row label {
  font-weight: bold;
  line-height: 32px;
  margin-right: 10px;
  text-align: right;
  vertical-align: top;
  width: 200px;
}
div.new-content-container form div.form-row div.custom-selectbox-wrapper {
  display: inline-block;
  position: relative;
}
div.new-content-container form div.form-row div.custom-selectbox-wrapper:hover div.selectbox-widget {
  background-color: white;
}
div.new-content-container form div.form-row div.custom-selectbox-wrapper select {
  border: 1px solid #999;
  font-size: 16px;
  opacity: 0;
  outline: none;
  padding: 5px 0;
  position: relative;
  width: 400px;
  z-index: 3;
}
div.new-content-container form div.form-row div.custom-selectbox-wrapper div.selectbox-widget {
  background-color: #eee;
  border: 1px solid #999;
  font-size: 16px;
  left: 0;
  padding: 5px;
  position: absolute;
  top: 0;
  width: 388px;
}
div.new-content-container form div.form-row div.custom-selectbox-wrapper div.selectbox-widget i {
  font-size: 16px;
  position: absolute;
  right: 8px;
  top: 7px;
}
div.new-content-container form div.form-row select,
div.new-content-container form div.form-row input[type="text"],
div.new-content-container form div.form-row textarea {
  background-color: #eee;
  outline: none;
  resize: none;
  width: 388px;
}
div.new-content-container form div.form-row select:hover,
div.new-content-container form div.form-row input[type="text"]:hover,
div.new-content-container form div.form-row textarea:hover,
div.new-content-container form div.form-row select:focus,
div.new-content-container form div.form-row input[type="text"]:focus,
div.new-content-container form div.form-row textarea:focus {
  color: #444;
}
div.new-content-container form div.form-row select:focus,
div.new-content-container form div.form-row input[type="text"]:focus,
div.new-content-container form div.form-row textarea:focus {
  background-color: white;
}
div.new-content-container form div.form-row input[type="text"] {
  border: 1px solid #999;
  font-size: 16px;
  padding: 5px;
}
div.new-content-container form div.form-row input[type="text"]:hover {
  background-color: white;
}
div.new-content-container form div.form-row div.tags-widget {
  display: inline-block;
  position: relative;
}
div.new-content-container form div.form-row div.tags-widget ul.tags-container {
  background-color: #eee;
  border: 1px solid #999;
  display: inline-block;
  padding: 5px;
  width: 388px;
}
div.new-content-container form div.form-row div.tags-widget ul.tags-container:hover {
  background-color: white;
}
div.new-content-container form div.form-row div.tags-widget ul.tags-container li {
  display: inline-block;
}
div.new-content-container form div.form-row div.tags-widget ul.tags-container li.tag {
  background-color: white;
  border: 1px solid #999;
  font-size: 12px;
  margin: 0 3px 3px 0;
  padding: 3px 15px 3px 8px;
  position: relative;
}
div.new-content-container form div.form-row div.tags-widget ul.tags-container li.tag a {
  color: #999;
  font-weight: bold;
  position: absolute;
  right: 4px;
  top: -2px;
}
div.new-content-container form div.form-row div.tags-widget ul.tags-container li.tag a:hover {
  color: black;
  text-decoration: none;
}
div.new-content-container form div.form-row div.tags-widget ul.tags-container li.tag em {
  font-style: normal;
}
div.new-content-container form div.form-row div.tags-widget ul.tags-container li.search-field input[type="text"] {
  background-color: inherit;
  border: 0;
  padding: 0;
  width: 210px;
}
div.new-content-container form div.form-row div.tags-widget ul.tags-container li.search-field input[type="text"]:hover {
  background-color: inherit;
}
div.new-content-container form div.form-row div.tags-widget ul.typeahead {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  position: absolute;
  left: -1px !important;
  width: 400px;
}
div.new-content-container form div.form-row div.tags-widget ul.typeahead li {
  display: block;
}
div.new-content-container form div.form-row div.tags-widget ul.typeahead li a:hover,
div.new-content-container form div.form-row div.tags-widget ul.typeahead li a:focus {
  background-color: #999 !important;
}
div.new-content-container form div.form-row input[type="submit"] {
  background-color: #4e759c;
  -webkit-border-radius: 1px !important;
  -moz-border-radius: 1px !important;
  border-radius: 1px !important;
  border: none;
  color: white;
  font-family: 'Cabin', sans-serif;
  font-size: 18px;
  margin-left: 215px;
  padding: 5px 0;
  width: 400px;
}
div.new-content-container form div.form-row input[type="submit"]:hover,
div.new-content-container form div.form-row input[type="submit"]:focus {
  background-color: #698eb4;
  -webkit-transition: background-color 0.25s linear;
  -moz-transition: background-color 0.25s linear;
  -o-transition: background-color 0.25s linear;
  transition: background-color 0.25s linear;
}
