.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
div.body-container.summoner-profile {
  background-color: #000;
  padding: 20px;
  margin-bottom: 20px;
  min-height: 528px;
}
div.body-container.summoner-profile .gray-color {
  color: #777;
}
div.body-container.summoner-profile .no-margin {
  margin: 0;
}
div.body-container.summoner-profile h1 {
  color: #19a0df;
  margin-bottom: 30px;
  position: relative;
  top: -4px;
}
div.body-container.summoner-profile h2 {
  border-bottom: 1px solid #be3322;
  color: #db4a38;
}
div.body-container.summoner-profile p.empty-list {
  color: #999;
  font-style: italic;
}
div.body-container.summoner-profile p.change-password {
  font-weight: bold;
}
div.body-container.summoner-profile p.change-password a.btn-change-password {
  background-color: #be3322;
  color: white;
  display: inline-block;
  margin-left: 10px;
  padding: 5px 8px;
}
div.body-container.summoner-profile p.change-password a.btn-change-password:hover {
  background-color: #db4a38;
  -webkit-transition: background-color 0.25s linear;
  -moz-transition: background-color 0.25s linear;
  -o-transition: background-color 0.25s linear;
  transition: background-color 0.25s linear;
}
div.body-container.summoner-profile p.change-password img.loader {
  display: inline-block;
  position: relative;
  left: 5px;
  top: -2px;
}
div.body-container.summoner-profile p.change-password img.loader.hide {
  display: none;
}
div.body-container.summoner-profile p.change-password span.process-ok {
  color: #759e1a;
  font-weight: normal;
}
div.body-container.summoner-profile p,
div.body-container.summoner-profile ul {
  font-size: 14px;
}
div.body-container.summoner-profile ul {
  list-style: square;
  list-style-position: inside;
  margin: 10px 0;
  padding: 0;
}
div.body-container.summoner-profile img.avatar {
  border: 1px solid #eee;
  float: left;
  margin: 0 20px 20px 0;
  padding: 5px;
  width: 150px;
}
div.body-container.summoner-profile div.user-custom-avatar-container div.row-fluid {
  margin-bottom: 40px;
}
div.body-container.summoner-profile div.user-custom-avatar-container div.row-fluid div {
  background-color: #141414;
  min-height: 266px;
  padding: 10px 0;
  text-align: center;
}
div.body-container.summoner-profile div.user-custom-avatar-container div.row-fluid div.current-avatar strong {
  color: #955a01;
  display: block;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 12px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
div.body-container.summoner-profile div.user-custom-avatar-container div.row-fluid div.current-avatar img.avatar {
  border: 1px solid #fb9701;
  float: none;
  margin: 0;
}
div.body-container.summoner-profile div.user-custom-avatar-container div.row-fluid div.current-avatar a {
  background-color: #658816;
  color: white;
  display: inline-block;
  font-size: 12px;
  font-family: 'Ubuntu', sans-serif;
  margin-top: 20px;
  padding: 5px 10px;
}
div.body-container.summoner-profile div.user-custom-avatar-container div.row-fluid div.current-avatar a:hover {
  background-color: #759e1a;
  -webkit-transition: background-color 0.25s linear;
  -moz-transition: background-color 0.25s linear;
  -o-transition: background-color 0.25s linear;
  transition: background-color 0.25s linear;
}
div.body-container.summoner-profile div.user-custom-avatar-container div.row-fluid div.current-avatar a.disabled {
  background-color: #666;
  color: #999;
  cursor: not-allowed;
}
div.body-container.summoner-profile div.user-custom-avatar-container div.row-fluid div.avatar-selection img.avatar-choice {
  border: 1px solid #444;
  cursor: pointer;
  margin: 5px;
  padding: 5px;
  width: 60px;
}
div.body-container.summoner-profile div.user-custom-avatar-container div.row-fluid div.avatar-selection img.avatar-choice.selected {
  border: 1px solid #19a0df;
  cursor: default;
}
div.body-container.summoner-profile div.user-custom-parameters-container {
  margin: 0 0 40px 0;
  padding: 0 20px;
}
div.body-container.summoner-profile div.user-custom-parameters-container div.module-block {
  background-color: #141414;
  padding: 10px;
}
div.body-container.summoner-profile div.user-custom-parameters-container div.module-block h4 {
  color: #955a01;
}
div.body-container.summoner-profile div.user-custom-parameters-container div.module-block label {
  color: #999;
  display: inline-block;
  margin-right: 20px;
  text-align: right;
  width: 300px;
}
div.body-container.summoner-profile div.user-custom-parameters-container div.module-block input[type="text"] {
  background-color: #333;
  border: 1px solid #999;
  color: #19a0df;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  margin: 0 5px 0 0;
  width: 300px;
}
div.body-container.summoner-profile div.user-custom-parameters-container div.module-block input[type="text"]:hover,
div.body-container.summoner-profile div.user-custom-parameters-container div.module-block input[type="text"]:focus {
  border-color: #19a0df;
  background-color: #444;
  -webkit-transition: background-color 0.25s linear;
  -moz-transition: background-color 0.25s linear;
  -o-transition: background-color 0.25s linear;
  transition: background-color 0.25s linear;
}
div.body-container.summoner-profile div.user-custom-parameters-container div.module-block a.reset-field,
div.body-container.summoner-profile div.user-custom-parameters-container div.module-block a.save-field {
  display: inline-block;
  margin: 0 0 0 5px;
  position: relative;
  top: 5px;
}
div.body-container.summoner-profile div.user-custom-parameters-container div.module-block a.reset-field i {
  color: #db4a38;
}
div.body-container.summoner-profile div.user-custom-parameters-container div.module-block a.save-field i {
  color: #759e1a;
}
div.body-container.summoner-profile div.user-custom-parameters-container div.module-block a.disabled {
  cursor: not-allowed;
}
div.body-container.summoner-profile div.user-custom-parameters-container div.module-block a.disabled i {
  color: #444;
}
div.body-container.summoner-profile div.user-custom-parameters-container div.module-block a i {
  font-size: 26px;
}
div.body-container.summoner-profile div.user-custom-parameters-container div.module-block img.loader {
  display: inline-block;
  left: 4px;
  position: relative;
  top: -1px;
}
div.body-container.summoner-profile div.user-custom-parameters-container div.module-block img.loader.hide {
  display: none;
}
