.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
div.body-container.summoner-profile {
  background-color: #000;
  padding: 20px;
  margin-bottom: 20px;
}
div.body-container.summoner-profile .gray-color {
  color: #555;
}
div.body-container.summoner-profile .no-margin {
  margin: 0;
}
div.body-container.summoner-profile h1 {
  color: #19a0df;
  margin-bottom: 5px;
  position: relative;
  top: -4px;
}
div.body-container.summoner-profile h2 {
  border-bottom: 1px solid #be3322;
  color: #db4a38;
}
div.body-container.summoner-profile p.empty-list {
  color: #999;
  font-style: italic;
}
div.body-container.summoner-profile p,
div.body-container.summoner-profile ul {
  font-size: 14px;
}
div.body-container.summoner-profile ul {
  list-style: square;
  list-style-position: inside;
  margin: 10px 0;
  padding: 0;
}
div.body-container.summoner-profile img.avatar {
  border: 1px solid #eee;
  float: left;
  margin: 0 20px 20px 0;
  padding: 5px;
  width: 150px;
}
div.body-container.summoner-profile div.user-custom-parameters-container {
  margin: 0 0 40px 0;
  padding: 0 20px;
}
div.body-container.summoner-profile div.user-custom-parameters-container div.module-block {
  background-color: #141414;
  padding: 10px;
}
div.body-container.summoner-profile div.user-custom-parameters-container div.module-block h4 {
  color: #955a01;
}
