{% extends 'MVNerdsLaunchSiteBundle::layout.html.twig' %}

{% block css %}
	{{ parent() }}

	<link href="{{ asset('css/launch_site/forgot-password.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block header_footer %}
	<div class="presentation-container">
		<div class="content">
			<div class="overview custom summoner-login">
				<h1>Mot de passe oublié ?</h1>
				
				{% if error != '' %}
					<p class="error"></p>
				{% endif %}

				<form action="{{ path('launch_site_forgot_password') }}" method="POST">					
					<div>
						<label for="password_main">Adresse email</label>
						<input type="text" id="username_main" name="_email" /> <button>Envoyer</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
{% endblock %}