{% extends 'MVNerdsLaunchSiteBundle::layout.html.twig' %}

{% block css %}
	{{ parent() }}

	<link href="{{ asset('css/launch_site/forgot-password.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block header_footer %}
	<div class="presentation-container">
		<div class="content">
			<div class="overview custom summoner-login">
				<h1>Demande de réinitialisation de mot de passe</h1>
				
				<p>
					Nous avons envoyé les instructions de réinitialisation de mot de passe à votre adresse email.<br />
					Si vous ne recevez pas les instructions d'ici une minute ou deux, vérifiez les filtres de spams et de courriers indésirables de votre compte, 
					effectuer une nouvelle demande.
				</p>
				
				<p>L'équipe MVNerds</p>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
{% endblock %}