{% extends 'MVNerdsLaunchSiteBundle::layout.html.twig' %}
	
{% block header_footer %}
	<div class="presentation-container">
		<div class="content">
			<div class="overview custom">
				<h1>{{'registration_success.h1'|trans}}</h1>

				<p>
					{{'registration_success.p1'|trans({'%username%':user.getUsername(), '%usermail%':user.getEmail()})}}
				</p>
				
				<p>
					{{'registration_success.p2'|trans}}
				</p>
				
				<p>
					<strong style="color: #be3322">Important :</strong> {{'registration_success.warning'|trans}}
				</p>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
{% endblock %}