{% extends 'MVNerdsLaunchSiteBundle::layout.html.twig' %}
	
{% block header_footer %}
	<div class="presentation-container">
		<div class="content">
			<div class="overview custom">
				<h1>Enregistrement terminé - Merci !</h1>

				<p>
					Invocateur >>USERNAME<<, votre enregistrement s'est déroulé avec succès. Vous allez recevoir dans les prochaines minutes un email à l'adresse email 
					que vous avez renseigné, >>USER ADDRESS<<. L'email comporte un lien de confirmation qui vous permet d'activer votre compte MVNerds.
				</p>
				
				<p>
					Si vous remarquez une erreur de frappe lors de la saisie de votre adresse email, veuillez nous faire parvenir un message par le biais du formulaire 
					de contact. Nous ferons le nécessaire pour opérer les changements aussi rapidement que possible.
				</p>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
{% endblock %}