<img src="{{ asset('images/avatar/anonymous.jpg') }}" class="sidebar-tooltip-anchor anonymous" rel="tooltip" data-placement="right" data-original-title="<span class='sidebar-tooltip'>Accèdez à votre profil</span>" />
<form class="only-active-show" id="sidebar-login-form" action="{{ path('security_summoner_login_check') }}" method="post">
	<h2>Je me connecte</h2>
	<input type="text" placeholder="Nom d'invocateur" id="username" name="_username" />
	<input type="password" placeholder="Mot de passe" id="password" name="_password" /> <a href="#" class="btn-connection">Go</a>
	<input type="checkbox" id="remember_me" name="_remember_me" checked />
    <label for="remember_me">Se souvenir de moi |</label> <a href="#">Mot de passe oublié ?</a> <a href="{{ path('launch_site_summoner_registration') }}" class="btn-registration only-active-show">Nouveau sur MVNerds ? Inscrivez-vous</a>
</form>

