<img src="{{ asset('images/avatar/anonymous.jpg') }}" class="sidebar-tooltip-anchor" rel="tooltip" data-placement="right" data-original-title="<span class='sidebar-tooltip'>Accèdez à votre profil</span>" />
<form class="only-active-show" action="#" method="POST">
	<input type="text" placeholder="Adresse email" />
	<input type="password" placeholder="Mot de passe" />
	<a href="#" class="btn-connection">Go</a> <a href="#" class="btn-registration">Pas de compte, je m'inscris</a> 
</form>
