<div id="sidebar">
	<div class="toggle-sidebar only-active-show"><i class="icon-chevron-left"></i></div>

	<div id="user-container">
		{#{% include 'MVNerdsLaunchSiteBundle:SideBar:logged_user_block.html.twig' %}#}
		{% if is_granted('IS_AUTHENTICATED_FULLY') %}
			{% include 'MVNerdsLaunchSiteBundle:SideBar:logged_user_block.html.twig' %}
		{% else %}
			{% include 'MVNerdsLaunchSiteBundle:SideBar:anonymous_user_block.html.twig' %}
		{% endif %}
	</div>

	<ul class="first-ul">
		 <a href="#">
			 <li class="header sidebar-tooltip-anchor" rel="tooltip" data-placement="right" data-original-title="<span class='sidebar-tooltip'>Accèder au module Champion Benchmark</span>">
				 <i class="icon-random"></i> <span class="only-active-show">Champions Benchmark</span>
			 </li>
		 </a>
	</ul>

	<ul>
		<a href="#">
			<li class="header sidebar-tooltip-anchor" rel="tooltip" data-placement="right" data-original-title="<span class='sidebar-tooltip'>Accèder au module Item Builder</span>">
				<i class="icon-wrench"></i> <span class="only-active-show">Item Builder</span>
			</li>
		</a>
		<li class="only-active-show"><a href="{{ path('item_builder_create') }}"><i class="icon-stop"></i> Personnaliser la liste d'objets conseillés</a></li>
		<li class="only-active-show"><a href="{{ path('item_builder_list') }}" ><i class="icon-stop"></i> Consulter les listes d'objets publiques</a></li>
	</ul>

	<ul>
		<a href="#">
			<li class="header sidebar-tooltip-anchor" rel="tooltip" data-placement="right" data-original-title="<span class='sidebar-tooltip'>Se rendre sur la section dédiée à Most Valuable Nerds</span>">
				<i class="icon-group"></i> <span class="only-active-show">Most Valuable Nerds</span>
			</li>
		</a>
		<li class="only-active-show"><a href="#"><i class="icon-stop"></i> L'équipe League of Legends</a></li>
		<li class="only-active-show"><a href="#"><i class="icon-stop"></i> Nos patchs notes</a></li>
		<li class="only-active-show"><a href="#"><i class="icon-stop"></i> Signaler un bug</a></li>
	</ul>
</div>