<img src="{{ asset('images/avatar/ro0ny.jpg') }}" class="sidebar-tooltip-anchor" rel="tooltip" data-placement="right" data-original-title="<span class='sidebar-tooltip'>Accèdez à votre profil</span>" />
<p class="item only-active-show nickname">{{ app.user.getUsername() }}</p>
<p class="item only-active-show team">Most Valuable Nerds</p>
<p class="item only-active-show"><a href="#"><i class="icon-cog"></i> Administrer mon profil</a></p>
<p class="item only-active-show"><a href="{{ path('security_summoner_logout') }}"><i class="icon-off"></i> Me déconnecter</a></p>