.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
span,
input[type="text"] {
  font-family: 'Ubuntu', sans-serif;
}
.isotope-hidden {
  display: none !important;
}
p {
  color: #ddd;
  cursor: default;
  font-size: 14px;
}
div.social-container {
  border-bottom: 1px solid #000 !important;
}
div.alert {
  border: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  opacity: 0.8;
  text-shadow: none;
}
div.alert.alert-fixed {
  bottom: 10px;
  position: fixed;
  right: 10px;
  width: 300px;
  z-index: 1100;
}
div.alert.alert-success {
  background-color: #759e1a;
}
div.alert.alert-error {
  background-color: #db4a38;
}
h1 {
  color: #19a0df;
  margin: 0;
}
h3 {
  color: #759E1A;
}
p.module-name {
  font-size: 12px;
  margin-bottom: 40px;
  opacity: .7;
  text-transform: uppercase;
}
p.module-name strong {
  color: #fb9701;
}
.popover {
  background-color: #147fb1;
}
.popover.bottom div.arrow {
  border-bottom-color: #147fb1 !important;
}
.popover.right div.arrow {
  border-right-color: #147fb1 !important;
}
.popover h3.popover-title {
  background-color: #0f5e83;
  border: 0;
  color: #222;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.2em;
  height: 40px;
  margin: 0;
  padding: 5px 8px 5px 50px;
  text-align: right;
}
.popover h3.popover-title img {
  border: 2px solid #0f5e83;
  left: -8px;
  overflow: hidden;
  position: absolute;
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  transform: rotate(-10deg);
  top: -1px;
  width: 48px;
}
.popover div.popover-content {
  color: #eee;
  font-size: 12px;
  font-family: 'Ubuntu', sans-serif;
}
.popover div.popover-content p {
  color: #eee;
  font-size: 12px;
}
.popover div.popover-content div.center-content {
  text-align: center;
}
.popover div.popover-content div.champion-square25 {
  display: inline-block;
  margin-right: 2px;
}
div.body-container {
  background-color: #000;
  color: #fff;
  padding: 20px;
  margin-bottom: 20px;
}
div.body-container h2 {
  color: #db4a38;
}
div.body-container div.game-mode-container,
div.body-container div.generate-button-container,
div.body-container div.name-container {
  text-align: center;
  margin: 30px 0;
}
div.body-container div.champion-container,
div.body-container div.item-container {
  background-color: #111;
  margin: 20px 0 40px 0;
  padding: 15px;
}
div.body-container div.champion-container div.actionbar ul.actions-list,
div.body-container div.item-container div.actionbar ul.actions-list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
}
div.body-container div.champion-container div.actionbar ul.actions-list#item-actions li.rec-item-list,
div.body-container div.item-container div.actionbar ul.actions-list#item-actions li.rec-item-list {
  display: inline-block;
  line-height: 78px;
  position: relative;
  text-align: left;
  width: 636px;
}
div.body-container div.champion-container div.actionbar ul.actions-list li.action,
div.body-container div.item-container div.actionbar ul.actions-list li.action {
  background-color: rgba(25, 160, 223, 0.7);
  cursor: pointer;
  display: inline-block;
  line-height: 26px;
  margin: 0;
  margin-right: 1px;
  padding: 3px 6px 0 4px;
}
div.body-container div.champion-container div.actionbar ul.actions-list li.action.disabled,
div.body-container div.item-container div.actionbar ul.actions-list li.action.disabled {
  cursor: not-allowed;
  opacity: .65;
}
div.body-container div.champion-container div.actionbar ul.actions-list li.action.disabled a:hover,
div.body-container div.item-container div.actionbar ul.actions-list li.action.disabled a:hover {
  cursor: not-allowed;
}
div.body-container div.champion-container div.actionbar ul.actions-list li.action.link,
div.body-container div.item-container div.actionbar ul.actions-list li.action.link {
  padding: 0;
}
div.body-container div.champion-container div.actionbar ul.actions-list li.action.link a.action-button-link,
div.body-container div.item-container div.actionbar ul.actions-list li.action.link a.action-button-link {
  display: block;
  padding: 3px 6px 0 2px;
}
div.body-container div.champion-container div.actionbar ul.actions-list li.action.link a.action-button-link.active,
div.body-container div.item-container div.actionbar ul.actions-list li.action.link a.action-button-link.active {
  color: #fb9701;
  -webkit-transition: color 0.15s linear;
  -moz-transition: color 0.15s linear;
  -o-transition: color 0.15s linear;
  transition: color 0.15s linear;
}
div.body-container div.champion-container div.actionbar ul.actions-list li.action.link a.action-button-link.active i,
div.body-container div.item-container div.actionbar ul.actions-list li.action.link a.action-button-link.active i {
  color: #fb9701;
  -webkit-transition: color 0.15s linear;
  -moz-transition: color 0.15s linear;
  -o-transition: color 0.15s linear;
  transition: color 0.15s linear;
}
div.body-container div.champion-container div.actionbar ul.actions-list li.action a,
div.body-container div.item-container div.actionbar ul.actions-list li.action a,
div.body-container div.champion-container div.actionbar ul.actions-list li.action a:visited,
div.body-container div.item-container div.actionbar ul.actions-list li.action a:visited,
div.body-container div.champion-container div.actionbar ul.actions-list li.action a:hover,
div.body-container div.item-container div.actionbar ul.actions-list li.action a:hover {
  color: white;
  display: block;
  text-decoration: none;
}
div.body-container div.champion-container div.actionbar ul.actions-list li.action i,
div.body-container div.item-container div.actionbar ul.actions-list li.action i {
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 0 0 0 0;
  position: relative;
  top: 1px;
}
div.body-container div.champion-container div.actionbar ul.actions-list li.action span.action-label,
div.body-container div.item-container div.actionbar ul.actions-list li.action span.action-label {
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: normal;
  position: relative;
  top: -2px;
}
div.body-container div.champion-container div.actionbar ul.actions-list li.action:hover,
div.body-container div.item-container div.actionbar ul.actions-list li.action:hover {
  background-color: #19a0df;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
div.body-container div.champion-container div.actionbar ul.actions-list li.action:hover span.action-label,
div.body-container div.item-container div.actionbar ul.actions-list li.action:hover span.action-label {
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
div.body-container div.champion-container div.actionbar ul.actions-list li.action:hover input[type="text"],
div.body-container div.item-container div.actionbar ul.actions-list li.action:hover input[type="text"] {
  background-color: #19a0df;
  -webkit-transition: background-color 0.25s linear;
  -moz-transition: background-color 0.25s linear;
  -o-transition: background-color 0.25s linear;
  transition: background-color 0.25s linear;
}
div.body-container div.champion-container div.actionbar ul.actions-list li.action:hover input[type="text"]:-moz-placeholder,
div.body-container div.item-container div.actionbar ul.actions-list li.action:hover input[type="text"]:-moz-placeholder {
  color: #cccccc;
}
div.body-container div.champion-container div.actionbar ul.actions-list li.action:hover input[type="text"]:-ms-input-placeholder,
div.body-container div.item-container div.actionbar ul.actions-list li.action:hover input[type="text"]:-ms-input-placeholder {
  color: #cccccc;
}
div.body-container div.champion-container div.actionbar ul.actions-list li.action:hover input[type="text"]::-webkit-input-placeholder,
div.body-container div.item-container div.actionbar ul.actions-list li.action:hover input[type="text"]::-webkit-input-placeholder {
  color: #cccccc;
}
div.body-container div.champion-container div.actionbar ul.actions-list li.action input[type="text"],
div.body-container div.item-container div.actionbar ul.actions-list li.action input[type="text"] {
  border: 0;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  background-color: #11709c;
  color: white;
  font-size: 14px;
  line-height: 1.5em;
  margin: 0 0 2px 0;
  padding: 1px 5px;
  position: relative;
  top: -2px;
  width: 100px;
}
div.body-container div.champion-container div.actionbar ul.actions-list li.action input[type="text"]:-moz-placeholder,
div.body-container div.item-container div.actionbar ul.actions-list li.action input[type="text"]:-moz-placeholder {
  color: #cccccc;
}
div.body-container div.champion-container div.actionbar ul.actions-list li.action input[type="text"]:-ms-input-placeholder,
div.body-container div.item-container div.actionbar ul.actions-list li.action input[type="text"]:-ms-input-placeholder {
  color: #cccccc;
}
div.body-container div.champion-container div.actionbar ul.actions-list li.action input[type="text"]::-webkit-input-placeholder,
div.body-container div.item-container div.actionbar ul.actions-list li.action input[type="text"]::-webkit-input-placeholder {
  color: #cccccc;
}
div.body-container div.champion-container div.actionbar ul.actions-list ul.dropdown-menu,
div.body-container div.item-container div.actionbar ul.actions-list ul.dropdown-menu {
  background-color: rgba(0, 0, 0, 0.8);
  border: 1px solid #19a0df;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  left: 50%;
  margin-left: -492px;
  position: absolute;
  text-align: left;
  width: 984px;
}
div.body-container div.champion-container div.actionbar ul.actions-list ul.dropdown-menu div.row-filters div.span6,
div.body-container div.item-container div.actionbar ul.actions-list ul.dropdown-menu div.row-filters div.span6 {
  padding: 5px 20px;
}
div.body-container div.champion-container div.actionbar ul.actions-list ul.dropdown-menu li.list-header,
div.body-container div.item-container div.actionbar ul.actions-list ul.dropdown-menu li.list-header {
  color: #19a0df;
  font-family: 'Ubuntu', sans-serif;
  font-size: 11px;
  font-weight: bold;
  line-height: 20px;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}
div.body-container div.champion-container div.actionbar ul.actions-list ul.dropdown-menu h4,
div.body-container div.item-container div.actionbar ul.actions-list ul.dropdown-menu h4 {
  color: #666;
}
div.body-container div.champion-container div.actionbar ul.actions-list ul.dropdown-menu ul.tags-group,
div.body-container div.item-container div.actionbar ul.actions-list ul.dropdown-menu ul.tags-group {
  float: left;
  list-style: none;
  margin: 0 20px 0 0;
  padding: 0;
  width: 200px;
}
div.body-container div.champion-container div.actionbar ul.actions-list ul.dropdown-menu ul.tags-group li.nav-header,
div.body-container div.item-container div.actionbar ul.actions-list ul.dropdown-menu ul.tags-group li.nav-header {
  color: #fb9701;
  text-shadow: none;
}
div.body-container div.champion-container div.actionbar ul.actions-list ul.dropdown-menu ul.tags-group a,
div.body-container div.item-container div.actionbar ul.actions-list ul.dropdown-menu ul.tags-group a {
  font-family: 'Ubuntu', sans-serif;
  padding: 3px 10px 3px 20px;
}
div.body-container div.champion-container div.actionbar ul.actions-list ul.dropdown-menu ul.tags-group a i,
div.body-container div.item-container div.actionbar ul.actions-list ul.dropdown-menu ul.tags-group a i {
  color: black;
  display: inline-block;
  font-size: 18px;
  margin: 0 10px 0 0;
}
div.body-container div.champion-container div.actionbar ul.actions-list ul.dropdown-menu ul.tags-group a.selected,
div.body-container div.item-container div.actionbar ul.actions-list ul.dropdown-menu ul.tags-group a.selected {
  color: #fb9701;
  font-weight: bold;
}
div.body-container div.champion-container div.actionbar ul.actions-list ul.dropdown-menu ul.tags-group a.selected i,
div.body-container div.item-container div.actionbar ul.actions-list ul.dropdown-menu ul.tags-group a.selected i {
  color: #fb9701;
}
div.body-container div.champion-container div.actionbar ul.actions-list ul.dropdown-menu ul.tags-group a:hover,
div.body-container div.item-container div.actionbar ul.actions-list ul.dropdown-menu ul.tags-group a:hover {
  color: white;
}
div.body-container div.champion-container div.actionbar ul.actions-list ul.dropdown-menu ul.tags-group a:hover i,
div.body-container div.item-container div.actionbar ul.actions-list ul.dropdown-menu ul.tags-group a:hover i {
  color: white;
}
div.body-container div.champion-container div.actionbar ul.actions-list ul.dropdown-menu div.div-action-buttons,
div.body-container div.item-container div.actionbar ul.actions-list ul.dropdown-menu div.div-action-buttons {
  min-height: 0;
  font-family: 'Ubuntu', sans-serif;
  font-size: 12px;
  position: relative;
  top: 6px;
  left: 0;
}
div.body-container div.champion-container div.actionbar ul.actions-list ul.dropdown-menu div.div-action-buttons div.span12 i,
div.body-container div.item-container div.actionbar ul.actions-list ul.dropdown-menu div.div-action-buttons div.span12 i,
div.body-container div.champion-container div.actionbar ul.actions-list ul.dropdown-menu div.div-action-buttons div.span6 i,
div.body-container div.item-container div.actionbar ul.actions-list ul.dropdown-menu div.div-action-buttons div.span6 i,
div.body-container div.champion-container div.actionbar ul.actions-list ul.dropdown-menu div.div-action-buttons div.span12 a,
div.body-container div.item-container div.actionbar ul.actions-list ul.dropdown-menu div.div-action-buttons div.span12 a,
div.body-container div.champion-container div.actionbar ul.actions-list ul.dropdown-menu div.div-action-buttons div.span6 a,
div.body-container div.item-container div.actionbar ul.actions-list ul.dropdown-menu div.div-action-buttons div.span6 a {
  color: #666;
}
div.body-container div.champion-container div.actionbar ul.actions-list ul.dropdown-menu div.div-action-buttons div.span12:hover a,
div.body-container div.item-container div.actionbar ul.actions-list ul.dropdown-menu div.div-action-buttons div.span12:hover a,
div.body-container div.champion-container div.actionbar ul.actions-list ul.dropdown-menu div.div-action-buttons div.span6:hover a,
div.body-container div.item-container div.actionbar ul.actions-list ul.dropdown-menu div.div-action-buttons div.span6:hover a,
div.body-container div.champion-container div.actionbar ul.actions-list ul.dropdown-menu div.div-action-buttons div.span12:hover i,
div.body-container div.item-container div.actionbar ul.actions-list ul.dropdown-menu div.div-action-buttons div.span12:hover i,
div.body-container div.champion-container div.actionbar ul.actions-list ul.dropdown-menu div.div-action-buttons div.span6:hover i,
div.body-container div.item-container div.actionbar ul.actions-list ul.dropdown-menu div.div-action-buttons div.span6:hover i {
  color: white;
  -webkit-transition: color 0.25s linear;
  -moz-transition: color 0.25s linear;
  -o-transition: color 0.25s linear;
  transition: color 0.25s linear;
}
div.body-container div.champion-container div.actionbar ul.actions-list ul.dropdown-menu div.div-action-buttons div.span12 i,
div.body-container div.item-container div.actionbar ul.actions-list ul.dropdown-menu div.div-action-buttons div.span12 i,
div.body-container div.champion-container div.actionbar ul.actions-list ul.dropdown-menu div.div-action-buttons div.span6 i,
div.body-container div.item-container div.actionbar ul.actions-list ul.dropdown-menu div.div-action-buttons div.span6 i {
  display: inline-block;
  font-size: 14px;
  left: 3px;
  position: relative;
}
div.body-container div.champion-container div.actionbar ul.actions-list ul.dropdown-menu div.div-action-buttons div.span12 li,
div.body-container div.item-container div.actionbar ul.actions-list ul.dropdown-menu div.div-action-buttons div.span12 li {
  border-top: 1px dashed rgba(255, 255, 255, 0.3);
}
div.body-container div.champion-container div.actionbar ul.actions-list ul.dropdown-menu div.div-action-buttons div.span6,
div.body-container div.item-container div.actionbar ul.actions-list ul.dropdown-menu div.div-action-buttons div.span6 {
  margin: 0;
  width: 50%;
}
div.body-container div.champion-container div.actionbar ul.actions-list ul.dropdown-menu div.div-action-buttons div.span6.div-left li,
div.body-container div.item-container div.actionbar ul.actions-list ul.dropdown-menu div.div-action-buttons div.span6.div-left li {
  border-right: 1px dashed rgba(255, 255, 255, 0.3);
  border-top: 1px dashed rgba(255, 255, 255, 0.3);
  text-align: left;
}
div.body-container div.champion-container div.actionbar ul.actions-list ul.dropdown-menu div.div-action-buttons div.span6.div-right li,
div.body-container div.item-container div.actionbar ul.actions-list ul.dropdown-menu div.div-action-buttons div.span6.div-right li {
  text-align: right;
  border-top: 1px dashed rgba(255, 255, 255, 0.3);
}
div.body-container div.champion-container div.elements-grid,
div.body-container div.item-container div.elements-grid {
  margin: auto;
  margin-top: 30px;
  margin-bottom: 15px;
}
div.body-container div.champion-container div.elements-grid ul,
div.body-container div.item-container div.elements-grid ul {
  margin: 0;
  padding: 0;
}
div.body-container div.champion-container div.elements-grid ul li.item,
div.body-container div.item-container div.elements-grid ul li.item,
div.body-container div.champion-container div.elements-grid ul li.champion,
div.body-container div.item-container div.elements-grid ul li.champion {
  background-color: black;
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: inline-block;
  height: 50px;
  margin: 0 2px 4px 2px;
  padding: 0;
  width: 50px;
}
div.body-container div.champion-container div.elements-grid ul li.item.active,
div.body-container div.item-container div.elements-grid ul li.item.active,
div.body-container div.champion-container div.elements-grid ul li.champion.active,
div.body-container div.item-container div.elements-grid ul li.champion.active {
  border-color: #fb9701;
}
div.body-container div.champion-container div.elements-grid ul li.item.active:hover,
div.body-container div.item-container div.elements-grid ul li.item.active:hover,
div.body-container div.champion-container div.elements-grid ul li.champion.active:hover,
div.body-container div.item-container div.elements-grid ul li.champion.active:hover {
  border-color: red;
  -webkit-transition: border-color 0.25s linear;
  -moz-transition: border-color 0.25s linear;
  -o-transition: border-color 0.25s linear;
  transition: border-color 0.25s linear;
}
div.body-container div.champion-container div.elements-grid ul li.item:hover,
div.body-container div.item-container div.elements-grid ul li.item:hover,
div.body-container div.champion-container div.elements-grid ul li.champion:hover,
div.body-container div.item-container div.elements-grid ul li.champion:hover {
  cursor: pointer;
  border: 1px solid #fb9701;
  -webkit-transition: border 0.25s linear;
  -moz-transition: border 0.25s linear;
  -o-transition: border 0.25s linear;
  transition: border 0.25s linear;
}
div.body-container div.champion-container div.elements-grid ul li.item:hover div.champion-name,
div.body-container div.item-container div.elements-grid ul li.item:hover div.champion-name,
div.body-container div.champion-container div.elements-grid ul li.champion:hover div.champion-name,
div.body-container div.item-container div.elements-grid ul li.champion:hover div.champion-name {
  background-color: rgba(0, 0, 0, 0.6);
  color: #eee;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
div.body-container div.champion-container div.elements-grid ul li.item div.portrait,
div.body-container div.item-container div.elements-grid ul li.item div.portrait,
div.body-container div.champion-container div.elements-grid ul li.champion div.portrait,
div.body-container div.item-container div.elements-grid ul li.champion div.portrait {
  padding: 7px;
}
div.body-container div.champion-container div#item-sidebar-blocks,
div.body-container div.item-container div#item-sidebar-blocks {
  margin: 0;
  text-align: center;
}
div.body-container div.champion-container div#item-sidebar-blocks ul#item_sidebar_blocks_list,
div.body-container div.item-container div#item-sidebar-blocks ul#item_sidebar_blocks_list {
  list-style: none;
  padding: 0;
  max-height: 585px;
  overflow-y: auto;
}
div.body-container div.champion-container div#item-sidebar-blocks ul#item_sidebar_blocks_list li.item-sidebar-block-li,
div.body-container div.item-container div#item-sidebar-blocks ul#item_sidebar_blocks_list li.item-sidebar-block-li {
  border: 1px solid #19A0DF;
  padding: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  min-height: 100px;
  background-color: #000;
}
div.body-container div.champion-container div#item-sidebar-blocks ul#item_sidebar_blocks_list li.item-sidebar-block-li div.item-sidebar-block-div,
div.body-container div.item-container div#item-sidebar-blocks ul#item_sidebar_blocks_list li.item-sidebar-block-li div.item-sidebar-block-div {
  min-height: 62px;
  text-align: left;
}
div.body-container div.champion-container div#item-sidebar-blocks ul#item_sidebar_blocks_list li.item-sidebar-block-li div.item-sidebar-block-div div.indication,
div.body-container div.item-container div#item-sidebar-blocks ul#item_sidebar_blocks_list li.item-sidebar-block-li div.item-sidebar-block-div div.indication {
  text-align: center;
  font-size: 13px;
  padding: 20px;
  border: 1px dashed #999;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  border-radius: 5px !important;
  color: #999;
  font-style: italic;
}
div.body-container div.champion-container div#item-sidebar-blocks ul#item_sidebar_blocks_list li.item-sidebar-block-li div.item-sidebar-block-div div.portrait,
div.body-container div.item-container div#item-sidebar-blocks ul#item_sidebar_blocks_list li.item-sidebar-block-li div.item-sidebar-block-div div.portrait {
  text-align: left;
  width: 25px;
  cursor: pointer;
  margin: 3px;
}
div.body-container div.champion-container div#champion-topbar div#champion-topbar-container {
  padding: 5px;
  position: relative;
}
div.body-container div.champion-container div#champion-topbar div#champion-topbar-container ul#champion-actions {
  position: static;
}
div.body-container div.champion-container div#champion-topbar div#champion-topbar-container ul#champion-actions li#filters-block {
  position: static;
}
div.body-container div.game-mode-container .game-mode {
  background: url('/images/item_builder/game-mode-bg.jpg');
  border: 2px solid #111;
  cursor: pointer;
  display: inline-block;
  height: 153px;
  margin: 0 5px;
  width: 229px;
}
div.body-container div.game-mode-container .game-mode.dominion {
  background-position: -291px -1px;
}
div.body-container div.game-mode-container .game-mode.proving-grounds {
  background-position: -1px -157px;
}
div.body-container div.game-mode-container .game-mode.classic {
  background-position: -1px -1px;
}
div.body-container div.game-mode-container .game-mode.twisted-treeline {
  background-position: -348px -157px;
}
div.body-container div.game-mode-container .game-mode.active {
  border: 2px solid #c87801;
}
div.body-container div.game-mode-container .game-mode.active span.message {
  background-color: #c87801;
}
div.body-container div.game-mode-container .game-mode span.message {
  color: #eee;
  background-color: #111;
  display: block;
  font-size: 14px;
  padding: 3px 10px;
  margin-top: 124px;
  text-align: right;
}
div.body-container div.item-container.fixed div#item-list {
  margin-top: 90px;
}
div.body-container div.item-container div#item-topbar.fixed {
  left: 0;
  margin-top: 0;
  min-width: 1064px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
}
div.body-container div.item-container div#item-topbar.fixed div#item-topbar-container {
  background-color: black;
  width: 974px;
  margin: 0 auto;
}
div.body-container div.item-container div#item-topbar.fixed div#item-topbar-container ul#item-actions li.rec-item-list {
  width: 664px;
}
div.body-container div.item-container div#item-topbar div#item-topbar-container {
  padding: 5px 5px 8px 5px;
  position: relative;
}
div.body-container div.item-container div#item-topbar div#item-topbar-container ul#item-actions {
  position: static;
}
div.body-container div.item-container div#item-topbar div#item-topbar-container ul#item-actions li#filters-block {
  position: static;
}
div.body-container div.item-container div#item-topbar div#item-topbar-container ul#item-actions ul#rec-item-sortable {
  list-style: none;
  margin: 0;
  padding: 0;
}
div.body-container div.item-container div#item-topbar div#item-topbar-container ul#item-actions ul#rec-item-sortable li.rec-item {
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: inline-block;
}
div.body-container div.item-container div#item-topbar div#item-topbar-container ul#item-actions ul#rec-item-sortable li.rec-item.free {
  height: 64px;
  position: relative;
  text-align: center;
  top: 2px;
  width: 64px;
}
div.body-container div.item-container div#item-topbar div#item-topbar-container ul#item-actions ul#rec-item-sortable li.rec-item.free i {
  position: relative;
  top: 5px;
}
div.body-container div.item-container div#item-topbar div#item-topbar-container ul#item-actions ul#rec-item-sortable li.rec-item.full:hover {
  border-color: red;
  -webkit-transition: border-color 0.25s linear;
  -moz-transition: border-color 0.25s linear;
  -o-transition: border-color 0.25s linear;
  transition: border-color 0.25s linear;
  cursor: pointer;
}
div.body-container div.item-container div#item-topbar div#item-topbar-container ul#item-actions ul#rec-item-sortable li.rec-item.hold-rec-item-place {
  border: 1px dashed #FB9701;
}
div.body-container div.item-container div#item-topbar div#item-topbar-container ul#item-actions ul#rec-item-sortable li.rec-item div {
  padding: 7px;
}
div.body-container div.item-container div#item-topbar div#item-topbar-container ul#item-actions ul#rec-item-sortable li.rec-item div i {
  font-size: 30px;
}
div.body-container div.item-container div#item-list li.item:hover {
  cursor: pointer;
  border: 1px solid #fb9701;
  -webkit-transition: border 0.25s linear;
  -moz-transition: border 0.25s linear;
  -o-transition: border 0.25s linear;
  transition: border 0.25s linear;
}
div.body-container div.item-container div#item-list li.item:hover div.item-name {
  background-color: rgba(0, 0, 0, 0.6);
  color: #eee;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
div.body-container div.item-container div#item-list li.item.animate-item-portrait {
  height: 50px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  width: 50px;
}
div.body-container div.item-container div#item-list li.item.item-maxi {
  background: #000000 url('/images/launch_site/champion_preview_bg.png') no-repeat top left;
  border: 1px solid #fb9701;
  cursor: default;
  height: 498px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  width: 470px;
  z-index: 900;
  margin-bottom: 4px;
}
div.body-container div.item-container div#item-list li.item div.item-name {
  background-color: rgba(0, 0, 0, 0.3);
  color: #aaa;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.8em;
  position: relative;
  text-align: center;
  top: -27px;
}
div.body-container div.item-container div#item-list li.item div.loader {
  background-color: rgba(0, 0, 0, 0.8);
  height: 100px;
  padding-top: 40px;
  position: relative;
  text-align: center;
  top: -142px;
}
div.body-container div.item-container div#item-list li.item div.preview {
  color: #eee;
  font-size: 12px;
  padding: 10px 10px;
}
div.body-container div.item-container div#item-list li.item div.preview div.preview-header {
  background-image: url('/images/launch_site/preview_header_fr.png');
  background-repeat: no-repeat;
  cursor: pointer;
}
div.body-container div.item-container div#item-list li.item div.preview div.preview-header h3 {
  color: #fb9701;
  font-size: 18px;
  line-height: 49px;
  margin: 0 10px;
}
div.body-container div.item-container div#item-list li.item div.preview div.preview-header:hover {
  background-image: url('/images/launch_site/preview_header_fr_hover.png');
  -webkit-transition: background-image 0.25s linear;
  -moz-transition: background-image 0.25s linear;
  -o-transition: background-image 0.25s linear;
  transition: background-image 0.25s linear;
}
div.body-container div.item-container div#item-list li.item div.preview div.preview-header.en {
  background-image: url('/images/launch_site/preview_header_en.png');
}
div.body-container div.item-container div#item-list li.item div.preview div.preview-header.en:hover {
  background-image: url('/images/launch_site/preview_header_en_hover.png');
}
div.body-container div.item-container div#item-list li.item div.preview div.preview-header p {
  line-height: 49px;
  margin: 0 10px;
  text-align: right;
}
div.body-container div.item-container div#item-list li.item div.preview div.preview-header p strong {
  color: #fb9701;
}
div.body-container div.item-container div#item-list li.item div.preview div.row-fluid div.span9,
div.body-container div.item-container div#item-list li.item div.preview div.row-fluid div.span3 {
  margin: 10px 0;
}
div.body-container div.item-container div#item-list li.item div.preview div.row-fluid div.span9 ul {
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  list-style: none;
}
div.body-container div.item-container div#item-list li.item div.preview div.row-fluid div.span9 ul li {
  margin: 0 0 3px 0;
}
div.body-container div.item-container div#item-list li.item div.preview div.right-side div.item-portrait {
  margin-top: 7px;
  opacity: 0.7;
  text-align: center;
}
div.body-container div.item-container div#item-list li.item div.preview div.right-side a.btn-action-item-preview {
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid #999;
  color: white;
  display: block;
  font-family: 'Ubuntu', sans-serif;
  line-height: 1em;
  margin: 30px auto;
  opacity: .5;
  padding: 7px 5px;
  text-align: center;
  width: 75%;
}
div.body-container div.item-container div#item-list li.item div.preview div.right-side a.btn-action-item-preview:hover {
  background-color: #000000;
  border: 1px solid #fb9701;
  color: #fb9701;
  opacity: 1;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
div.body-container div.item-container div#item-list li.item div.preview div.right-side a.btn-action-item-preview strong {
  display: block;
}
div.body-container div.name-container input[type="text"] {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  font-size: 18px;
  padding: 7px;
  width: 250px;
}
div.body-container div.generate-button-container a {
  background-color: #333;
  color: #999;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  margin: 0 10px;
  padding: 5px 10px;
}
div.body-container div.generate-button-container a:hover {
  background-color: #666;
  -webkit-transition: background-color 0.25s linear;
  -moz-transition: background-color 0.25s linear;
  -o-transition: background-color 0.25s linear;
  transition: background-color 0.25s linear;
}
div.body-container div.generate-button-container a.main {
  color: #fff;
  background-color: #be3322;
  font-size: 18px;
  padding: 10px 15px;
  position: relative;
  top: 2px;
}
div.body-container div.generate-button-container a.main:hover {
  background-color: #db4a38;
}
