// Twitter Bootstraps imports
@import "../bootstrap/mixins.less";

// MVNerds imports
@import "../mvnerds/mvnerds-variables.less";

div.span8.left-content {
	h2 {
		border-bottom: 1px solid #666;
		padding: 0 0 5px 0;
	}

	div.video-player-container {
		background-color: #111;
		margin: 0 0 20px 0;
		padding: 10px 0 5px 0;
		text-align: center;
	}
	
	div.related-videos-container {
		div.related-video {
			display: inline-block;
			width: 100px;
			vertical-align: top;
			margin: 10px;

			img.related-video-thumbnail {
				width: 100px;
				height: 75px;
			}
			span.related-video-title {
				width: 100px;
			}
		}
	}
}

div.span4.right-content {
	div.block {
		div.body {
			div.block-media {
				height: 108px;
				margin: 0 0 10px 0;

				img {
					border: 1px solid #666;
					display: inline-block;
					float: left;
					margin: 0 10px 0 8px;
					padding: 3px;
					width: 100px !important;
				}	
			}
		}
	}
}

@import "../comment/comment.less";
@import "../mvnerds/mvnerds-alerts.less";
@import "../vote/vote.less";
