.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
div#topbar {
  background-color: #e4e6e5;
  border-top: 4px solid #333;
  margin: 0 0 5px 0;
  padding: 0 10px;
  position: fixed;
  width: 100%;
  z-index: 10000;
}
div#topbar div.container {
  position: relative;
}
div#topbar ul {
  display: inline-block;
}
div#topbar ul.menu {
  padding: 4px 0;
  text-transform: uppercase;
}
div#topbar ul.menu li {
  color: #333;
  margin: 0 20px 0 0;
}
div#topbar ul.menu li a:hover {
  color: #be3322;
}
div#topbar ul.menu li a.active {
  color: #db4a38;
  font-weight: bold;
}
div#topbar ul.right-container {
  position: absolute;
  right: 0;
}
div#topbar ul.right-container li.alert,
div#topbar ul.right-container li.notification {
  color: #888;
  padding: 2px 0;
  position: relative;
  top: 2px;
}
div#topbar ul.right-container li.alert a.unread,
div#topbar ul.right-container li.notification a.unread {
  color: #fb9701;
}
div#topbar ul.right-container li.user-container {
  background-color: #333;
  color: #888;
  margin: 0;
  padding: 3px 10px;
}
div#topbar ul.right-container li.user-container a {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}
div#topbar ul.right-container li.user-container a:hover {
  text-decoration: underline;
}
div#topbar ul li {
  display: inline-block;
  font-family: 'Anaheim', sans-serif;
  font-size: 16px;
}
div#topbar ul li i {
  font-size: 18px;
  position: relative;
  top: 1px;
}
